<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gero Obras</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#4DBA87">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="cliente">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <!-- folha de estilo da pagina-->
    <link rel='stylesheet' id='bootstrap-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/css/bootstrap.min.css?ver=4.6.7' type='text/css' media='all' />
    <link rel='stylesheet' id='owlcarousel-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/plugins/owl/assets/owl.carousel.min.css?ver=4.6.7' type='text/css' media='all' />
    <link rel='stylesheet' id='owlcarousel-theme-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/plugins/owl/assets/owl.theme.default.min.css?ver=4.6.7' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/plugins/font-awesome/css/font-awesome.min.css?ver=4.6.7' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/plugins/animate/animate.min.css?ver=4.6.7' type='text/css' media='all' />
    <link rel='stylesheet' id='simplelightbox-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/plugins/simplelightbox/simplelightbox.min.css?ver=4.6.7' type='text/css' media='all' />
    <link rel='stylesheet' id='y-blocks-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/css/y-blocks.css?ver=4.6.7' type='text/css' media='all' />
    <link rel='stylesheet' id='y-responsive-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/css/y-responsive.css?ver=4.6.7' type='text/css' media='all' />
    <link rel='stylesheet' id='y-custom-css'  href='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/css/y-custom.css?ver=4.6.7' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/js/jquery-2.1.1.js?ver=4.6.7'></script>
    <script type='text/javascript' src='http://www.geroobras.com.br/wp-content/plugins/validated-field-for-acf/js/jquery.maskedinput.min.js?ver=1.7.7'></script>
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
    <script type='text/javascript' src='http://www.geroobras.com.br/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/www.geroobras.com.br\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptcha":{"messages":{"empty":"Por favor, verifique se voc\u00ea n\u00e3o \u00e9 um rob\u00f4."}},"sending":"Enviando..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.5'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-content/plugins/bootstrap-for-contact-form-7/assets/dist/js/scripts.min.js?ver=1.4.4'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/js/bootstrap.min.js?ver=4.6.7'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/plugins/smoothscroll/smooth-scroll.min.js?ver=4.6.7'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/plugins/wow/wow.min.js?ver=4.6.7'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/js/y-run.js?ver=4.6.7'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://www.geroobras.com.br/wp-includes/js/wp-embed.min.js?ver=4.6.7'></script>
  </body>
</html>
