<template>
  <div>
    <menuinterno></menuinterno>
    <router-view></router-view>
    <rodapeinterno></rodapeinterno>
  </div>
</template>
<script>
import menuinterno from '../utils/menuinterno.vue'
import rodapeinterno from '../utils/rodapeinterno.vue'
export default {
  name: 'Gero',
  components: {
    menuinterno,
    rodapeinterno
  }
}
</script>
<style>
</style>
