<template>
  <section id="home">
  <lateral></lateral>
  <secao v-if="true"></secao>
  <registrado v-if="false"></registrado>
  <rodape></rodape>
  </section>
</template>
<script>
import lateral from '../login/lateral.vue'
import secao from './secao.vue'
import registrado from './registrado.vue'
import rodape from '../../utils/rodape.vue'
export default{
  name: 'Registro',
  components: {lateral, secao, registrado, rodape}
}
</script>
<style>
</style>
