<template>
<!-- ----------
CONTEUDO
------------ -->
<div class="conteudo">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">

        <div id="fullpage">
          <div class="section fp-auto-height">
            <!-- ----------
            1 - APRESENTACAO
            ------------ -->
            <div class="apresentacao slideX">
              <h1>Cadastre-se e conheça as vantagens de ter o Gero ao seu lado!</h1>
              <h2>É rápido e fácil.</h2>
              <div class="gero-action">
                <img src="../../../assets/images/gero.png" class="anime fadeInUp img-responsive" data-wow-offset="80" data-wow-delay="0s" style="width: 100px; visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
              </div>
            </div><!-- /.apresentacao -->

            <div class="panel panel-default cadastrado">
              <div class="panel-body">
                <div class="wp-register-form">
                   <p class="alert" id="wppb_form_success_message">A conta teste22@hotmail.com foi criada com sucesso!</p><p class="redirect_message">Você será redirecionado automaticamente em instantes.</p>                  </div><!-- /.wp-register -->
              </div>
            </div>



          </div><!-- /.section -->

          <!-- ----------

------------ -->
          <div class="cadastro section" id="cadastro">

          </div>

        </div><!-- /#fullpage -->


      </div><!-- /.col-sm-2 -->

    </div><!-- /.row -->
  </div><!-- /.coitainer-fluid -->

</div><!-- /.conteudo -->
</template>
<script>
export default{
  name: 'Registrado'
}
</script>
<style>
.cadastrado {
	margin: 35px auto 20px auto;
	width: 500px;
}
.panel-default {
	border-color: #ddd;
}
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
	padding: 15px;
}
</style>
