<style>

.cadastrado {
    margin: 35px auto 20px auto;
    width: 500px;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 15px;
}

</style>

<template>

<!-- ----------
  CONTEUDO
  ------------ -->
<div class="conteudo">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <div id="fullpage">
                    <div class="section fp-auto-height">
                        <!-- ----------
              1 - APRESENTACAO
              ------------ -->
                        <div class="apresentacao slideX">
                            <h1>Cadastre-se e conheça as vantagens de ter o Gero ao seu lado!</h1>
                            <h2>É rápido e fácil.</h2>
                            <div class="gero-action">
                                <img src="../../../assets/images/gero.png" class="anime fadeInUp img-responsive" data-wow-offset="80" data-wow-delay="0s" style="width: 100px; visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
                            </div>
                        </div>
                        <!-- /.apresentacao -->

                        <div class="panel panel-default cadastrado">
                            <div class="panel-body">
                                <div class="wp-register-form">
                                    <form @submit.prevent="entrar()">
                                        <ul>
                                            <li class="wppb-form-field wppb-default-first-name" id="wppb-form-element-14">
                                                <label for="first_name">Qual seu nome?<span class="wppb-required" title="Este campo é requerido">*</span></label>
                                                <input class="text-input default_field_firstname " v-model="nome" maxlength="70" required="" type="text">
                                            </li>
                                            <li class="wppb-form-field wppb-default-e-mail" id="wppb-form-element-8">
                                                <label for="email">E-mail<span class="wppb-required" title="Este campo é requerido">*</span></label>
                                                <input class="text-input default_field_email " v-model="email" maxlength="70" required="" type="email">
                                            </li>
                                            <li class="wppb-form-field wppb-default-password" id="wppb-form-element-12">
                                                <label for="passw1">Senha<span class="wppb-required" title="Este campo é requerido">*</span></label>
                                                <input class="text-input " maxlength="70" v-model="senha" autocomplete="off" required="" type="password"><span class="wppb-description-delimiter"></span></li>
                                            <li class="wppb-form-field wppb-default-repeat-password" id="wppb-form-element-13">
                                                <label for="passw2">Confirme a senha<span class="wppb-required" title="Este campo é requerido">*</span></label>
                                                <input class="text-input " v-model="copiaSenha" maxlength="70" autocomplete="off" required="" type="password">
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="wppb-form-field wppb-send-credentials-checkbox">
                                                <label for="send_credentials_via_email">
                                                    <input id="send_credentials_via_email" name="send_credentials_via_email" value="sending" type="checkbox"> Enviar essas credenciais via email.</label>
                                            </li>
                                        </ul>
                                        <p class="form-submit">
                                            <input name="register" id="register" class="btn-padrao" value="Registrar" type="submit">
                                            <input name="action" id="action" value="register" type="hidden">
                                            <input name="form_name" id="form_name" value="unspecified" type="hidden">
                                        </p>
                                        <!-- .form-submit -->
                                        <input id="register_nonce_field" name="register_nonce_field" value="be4a343211" type="hidden">
                                        <input name="_wp_http_referer" value="/cadastre-se/" type="hidden"> </form>
                                </div>
                                <!-- /.wp-register -->
                            </div>
                        </div>



                    </div>
                    <!-- /.section -->

                    <!-- ----------

------------ -->
                    <div class="cadastro section" id="cadastro">

                    </div>

                </div>
                <!-- /#fullpage -->


            </div>
            <!-- /.col-sm-2 -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.coitainer-fluid -->

</div>
<!-- /.conteudo -->

</template>

<script>

import {
    mapActions
}
from 'vuex'
export default {
  name: 'SecaoRegistro',
  data: () => ({
    email: '',
    senha: '',
    copiaSenha: '',
    nome: ''
  }),
  methods: {
    ...mapActions([
      'registrarUsuario'
    ]),
    entrar () {
      this.registrarUsuario({
        email: this.email,
        senha: this.senha,
        nome: this.nome
      })
      .then(() => {
        this.$router.push('chatbot')
      })
    }
  }
}

</script>
