<template>
  <section id="gero">
      <lateral></lateral>
      <secao></secao>
  </section>
</template>
<script>
import lateral from './lateral.vue'
import secao from './secao.vue'
export default{
  name: 'edicao',
  components: {
    lateral,
    secao
  }
}
</script>
<style>
</style>
