<template>
  <!-- ----------
  SIDEBAR
  ------------ -->
  <div class="sidebar">
    <div class="sidebar-menu affix">
      <img src="../../../assets/images/gero_sorrindo.png" title="Gero Obras" class="gero">

      <div class="ola">

        <!-- ----------
        MENU
        ------------ -->
        <nav class="navbar navbar-default navbar-static" id="navbar-example">
          <div class="navbar-header">
            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="drop1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  Olá {{usuario.nome|capitalize}}!
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li><a @click="sair()">Sair</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>

        <!-- ----------
        PERFIL DA OBRA
        ------------ -->
        <div class="perfil-obra">
                  <div class="titulo">Podemos continuar quando você concluir a edição do seu perfil</div>
          <router-link to="/gero/chatbot" class="btn-padrao" style="margin-top: 10px;"><i class="fa fa-chevron-left" @click="voltar()"></i> VOLTAR</router-link>

        </div>

      </div><!-- /.ola -->




    </div><!-- /.sidebar-conteudo -->
  </div><!-- /.sidebar -->
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import { voltarEdicao } from '../../../utils/logs'
export default {
  name: 'lateraledicao',
  computed: {
    ...mapGetters([
      'usuario'
    ])
  },
  filters: {
    capitalize (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  methods: {
    ...mapActions([
      'logout'
    ]),
    voltar () {
      voltarEdicao()
    },
    sair () {
      this.logout()
      .then(() => {
        this.$router.push({path: '/'})
      })
    }
  }
}
</script>
<style>
</style>
