<template>
  <!-- ----------
  CONTEUDO
  ------------ -->
  <div class="conteudo scroll">

    <div class="container-fluid">
      <div class="row" id="calculos">

        <div class="col-sm-12 text-center">
          <img src="../../../assets/images/gero_avatar_calculos.png" title="" class="gero-avatar-calculos">
          <p style="width: 500px; margin: -30px auto 30px auto;"><strong>{{ usuario.nome | capitalize }}</strong><br>
            Aqui você pode alterar qualquer informação do seu cadastro.
          </p>
        </div>

        <div class="panel panel-default cadastrado">
          <div class="panel-body">
            <div class="wp-register-form">
                      <form  class="wppb-user-forms wppb-edit-user wppb-user-role-subscriber" @submit.prevent="enviar()">
      <ul><li class="wppb-form-field wppb-default-first-name" id="wppb-form-element-14">
      <label for="first_name">Qual seu nome?<span class="wppb-required" title="Este campo é requerido">*</span></label>
      <input class="text-input default_field_firstname " maxlength="70" v-model="nome" required="" type="text"></li><li class="wppb-form-field wppb-default-e-mail" id="wppb-form-element-8">
      <label for="email">E-mail<span class="wppb-required" title="Este campo é requerido">*</span></label>
      <input class="text-input default_field_email " maxlength="70" v-model="email" required="" type="email"></li><li class="wppb-form-field wppb-default-password" id="wppb-form-element-12">
      <label for="passw1">Senha<span class="wppb-required" title="Este campo é requerido">*</span></label>
      <input class="text-input " maxlength="70" v-model="senha" autocomplete="off" type="password"><span class="wppb-description-delimiter"></span></li><li class="wppb-form-field wppb-default-repeat-password" id="wppb-form-element-13">
      <label for="passw2">Confirme a senha<span class="wppb-required" title="Este campo é requerido">*</span></label>
      <input class="text-input " maxlength="70" v-model="confirmeSenha" autocomplete="off" type="password"></li></ul><ul></ul>			<p class="form-submit">
                                <input name="edit_profile" id="edit_profile" class="submit button" value="Atualizar" type="submit">
                        <input name="action" id="action" value="edit_profile" type="hidden">
        <input name="form_name" id="form_name" value="unspecified" type="hidden">
              </p><!-- .form-submit -->
      <input id="edit_profile_nonce_field" name="edit_profile_nonce_field" value="95991b538d" type="hidden"><input name="_wp_http_referer" value="/meu-perfil/" type="hidden">		</form>
                </div><!-- /.wp-register -->
          </div>
        </div>

      </div><!-- /.calculos -->

    </div><!-- /.coitainer-fluid -->
  </div><!-- /.conteudo -->
</template>
<script>
import { editarPerfil } from '../../../utils/logs'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'secaoedicao',
  data: () => ({
    nome: '',
    senha: '',
    email: '',
    confirmeSenha: ''
  }),
  computed: {
    ...mapGetters([
      'usuario'
    ])
  },
  mounted () {
    this.nome = this.usuario.nome
    this.email = this.usuario.email
  },
  filters: {
    capitalize (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  methods: {
    ...mapActions([
      'atualizarUsuario'
    ]),
    enviar () {
      this.atualizarUsuario({
        id: this.usuario.id,
        nome: this.nome,
        senha: this.senha,
        email: this.email
      })
      editarPerfil()
    }
  }
}
</script>
<style>
</style>
