<template>
  <div>
    <!--HEADER-->
      <nav class='navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0'>
        <a class='navbar-brand' href='#'><img src='/assets/img/gero-logo.svg'></a>
      </nav>
    <!--FIM HEADER-->

    <!--CONTENT-->
    <div class='gero'>

        <!-- SIDEBAR ESQUERDA -->
        <nav class='sidebar'>
          <div class='sidebar-sticky'>

            <!-- Avatar -->
            <div class='avatar'>
              <img src='../../../assets/images/gero_sorrindo.png' class='anime bounceIn' data-wow-delay='0.0s' data-wow-duration='0.5'>
            </div>

            <!-- Infos -->
            <div class='infos gero-fala'>
              <h2 class='anime fadeInUp'  data-wow-delay='0.2s' data-wow-duration='0.2'>Certo, sua obra está a todo vapor!</h2>
              <p class='anime fadeInUp'  data-wow-delay='0.4s' data-wow-duration='0.2'>Me informe agora o que você já fez. Para lhe ajudar, eu dividi sua obra em <span class='destaque'>04 partes:</span></p>
            </div>

          </div>
        </nav>

        <!-- CONTEÚDO -->
        <main role='main' class=''>
          <!-- MOLDURA -->
          <div class='moldura'>

            <!-- Topo -->
            <div class='topo'>
              <div class='col-40'>
                <div class='titulo'>
                  <i class=' fa fa-building'></i> Sua obra
                  <h3>TORRE NOVA</h3>
                </div>
              </div>
              <div class='col-60'>
                <h4>Selecione abaixo a parte da obra que você já fez:</h4>
              </div>
            </div><!-- ./ Topo -->

            <!-- Conteúdo -->
            <div class='conteudo'>

              <table class='table empty'>
                <thead class='anime2 fadeInDown' data-wow-delay='1.0s' data-wow-duration='0.5'>
                  <tr>
                    <th scope='col' class='text-right'>Tarefas</th>
                    <th scope='col' class='text-right'>Avanço físico</th>
                  </tr>
                </thead>
                <tbody v-if="superestrutura">
                  <tr  v-for="t in tasks[1].subTasks" class='anime2 fadeInDown2' data-wow-delay='1.1s' data-wow-duration='0.1'>
                    <td>
                      {{t.nome}}
                    </td>
                    <td>
                      <input class="slider" type="range" min="0" max="100" v-model="t.avancoFisico">
                      {{t.avancoFisico}}
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr v-for="t in tasks[0].subTasks" class='anime2 fadeInDown2' data-wow-delay='1.1s' data-wow-duration='0.1'>
                    <td>
                      {{t.nome}}
                    </td>
                    <td>
                      <input class="slider" type="range" min="0" max="100" v-model="t.avancoFisico">
                      {{t.avancoFisico}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><!-- ./ Conteúdo -->
            <button v-if="superestrutura" @click="superestrutura = !superestrutura" class="myButton">FEITO</button>
            <button v-else @click="entrar()" class="myButton">FEITO</button>
          </div><!-- ./ MOLDURA -->


        </main>

        <!-- SIDEBAR DIREITA -->
        <nav class='sidebar sidebar-right'>
          <div class='sidebar-sticky'>
            <div class='obra'>
              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.1s' data-wow-duration='0.2'></div>
              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.2s' data-wow-duration='0.2' style='margin-bottom: 49px;'></div>
              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.3s' data-wow-duration='0.2' style='margin-bottom: 83px;'></div>

              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.4s' data-wow-duration='0.2' style='margin-bottom: 117px;'></div>
              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.5s' data-wow-duration='0.2' style='margin-bottom: 151px;'></div>
              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.6s' data-wow-duration='0.2' style='margin-bottom: 185px;'></div>

              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.7s' data-wow-duration='0.2' style='margin-bottom: 219px;'></div>
              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.8s' data-wow-duration='0.2' style='margin-bottom: 253px;'></div>
              <div class='pavimento size2 anime fadeInDown'  data-wow-delay='1.9s' data-wow-duration='0.2' style='margin-bottom: 287px;'></div>

              <div class='base size2 anime fadeInDown' data-wow-delay='1.0s'></div>
            </div>

            <div class='obra-partes'>
              <button type='button' class='btn btn-primary parte-bruta'>OBRA BRUTA</button>
              <button type='button' class='btn btn-primary parte-fina'>OBRA FINA</button>
              <button type='button' class='btn btn-primary parte-superestrutura'>SUPERESTRUTURA</button>
              <button type='button' class='btn btn-primary parte-infraestrutura'>INFRAESTRUTURA</button>
            </div>

          </div>
        </nav><!-- ./SIDEBAR DIREITA -->

      </div>
    <!--END CONTENT-->
  </div>
</template>
<script>
export default{
  name: 'diagnostico',
  methods: {
    entrar () {
      this.$router.push({path: '/gero/progsemanal'})
    }
  },
  data () {
    return {
      superestrutura: true,
      'tasks': [
        {
          'nome': 'INFRAESTRUTURA',
          'subTasks':
          [
            {
              'nome': 'Demolições',
              'avancoFisico': 100,
              'valorDaTarefa': 367976.4,
              'valorDesembolso': 367976.4,
              'saldo': 0,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Canteiro de obras',
              'avancoFisico': 100,
              'valorDaTarefa': 65800,
              'valorDesembolso': 65800,
              'saldo': 0,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Estaqueamento Cortina',
              'avancoFisico': 100,
              'valorDaTarefa': 325338.27,
              'valorDesembolso': 325338.27,
              'saldo': 0,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Viga de Rigidez (Cortina)',
              'avancoFisico': 100,
              'valorDaTarefa': 52260.49,
              'valorDesembolso': 52260.49,
              'saldo': 0,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Limpeza de Terreno',
              'avancoFisico': 100,
              'valorDaTarefa': 1981.04,
              'valorDesembolso': 1981.04,
              'saldo': 0,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Terraplanagem',
              'avancoFisico': 100,
              'valorDaTarefa': 328400,
              'valorDesembolso': 328400,
              'saldo': 0,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Locação de Obra',
              'avancoFisico': 100,
              'valorDaTarefa': 5241.1,
              'valorDesembolso': 5241.1,
              'saldo': 0,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Estaqueamento Fundação',
              'avancoFisico': 80,
              'valorDaTarefa': 426373.010000001,
              'valorDesembolso': 341098.41,
              'saldo': 85274.60,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Blocos',
              'avancoFisico': 80,
              'valorDaTarefa': 293114.559999999,
              'valorDesembolso': 234491.65,
              'saldo': 58622.91,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Cintamento',
              'avancoFisico': 80,
              'valorDaTarefa': 182475.24,
              'valorDesembolso': 145980.19,
              'saldo': 36495.05,
              'show': false,
              'und': '',
              'qnt': 0
            },
            {
              'nome': 'Laje',
              'avancoFisico': 80,
              'valorDaTarefa': 182475.24,
              'valorDesembolso': 145980.19,
              'saldo': 36495.05,
              'show': false,
              'und': '',
              'qnt': 0
            }
          ]
        },
        {
          'nome': 'SUPERESTRUTURA',
          'subTasks':
          [
            {
              'nome': 'Laje',
              'avancoFisico': 6.25,
              'valorDaTarefa': 2708833.58,
              'valorDesembolso': 169302.10,
              'saldo': 2539531.48,
              'show': false,
              'und': 'PAV',
              'qnt': 2
            },
            {
              'nome': 'Escada',
              'avancoFisico': 6.25,
              'valorDaTarefa': 33601.11,
              'valorDesembolso': 2100.07,
              'saldo': 31501.04,
              'show': false,
              'und': 'PAV',
              'qnt': 2
            },
            {
              'nome': 'Pilares',
              'avancoFisico': 9.38,
              'valorDaTarefa': 760236.43,
              'valorDesembolso': 71272.17,
              'saldo': 688964.26,
              'show': false,
              'und': 'PAV',
              'qnt': 3
            },
            {
              'nome': 'Vigas',
              'avancoFisico': 6.25,
              'valorDaTarefa': 865615.30,
              'valorDesembolso': 54100.96,
              'saldo': 811514.34,
              'show': false,
              'und': 'PAV',
              'qnt': 2
            }
          ]
        }
      ]
    }
  }
}
</script>
<style scoped>
/* =============================
 * Estilos personalizados.
 * ============================= */
body {
  background-color: #F5F5F5;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}

.anime {
  visibility: hidden;
}


/*
 * GERO
 */
.gero-fala {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.gero-fala .destaque{
  font-weight: 600;
}

/*
 * OBRA
 */
.obra {
  width: 230px;
  height: 400px;
  position: relative;
}
.obra .pavimento, .obra .base{
  width: 230px;
  height: 139px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}
.obra .base {
  bottom: -5px;
  position: absolute;
}
.obra .base.size1 {
  background-image: url('../../../assets/images/obra/obra_base_s_1.png');
}
.obra .base.size2 {
  background-image: url('../../../assets/images/obra/obra_base_s_2.png');
}
.obra .base.size3 {
  background-image: url('../../../assets/images/obra/obra_base_s_3.png');
}
.obra .pavimento {
  bottom: 0px;
  position: absolute;
  margin-bottom: 15px;
  z-index: 100;
}
.obra .pavimento.size1 {
  background-image: url('../../../assets/images/obra/obra_s_1.png');
}
.obra .pavimento.size2 {
  background-image: url('../../../assets/images/obra/obra_s_2.png');
}
.obra .pavimento.size3 {
  background-image: url('../../../assets/images/obra/obra_s_3.png');
}

/* Partes da Obra */
.obra-partes {
  margin-top: 10px;
}
.obra-partes button{
  border: none;
  display: block;
  width: 250px;
  text-align: left;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 2px;
  margin-left: auto;
}
.obra-partes .parte-bruta{
  background-color: #DB3E0A;
}
.obra-partes .parte-fina{
  background-color: #BDBD22;
}
.obra-partes .parte-superestrutura{
  background-color: #88C5DF;
}
.obra-partes .parte-infraestrutura{
  background-color: #666055;
}
.obra-partes .parte-bruta:hover{
  background-color: #DB3E0A;
}
.obra-partes .parte-fina{
  background-color: #BDBD22;
}
.obra-partes .parte-superestrutura{
  background-color: #88C5DF;
}
.obra-partes .parte-infraestrutura{
  background-color: #666055;
}




/*
 * MAIN
 */
main {
  background-color: #F5F5F5;
  background-image: url(/assets/img/tela_03_bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
  float: none !important;
  margin-right: 260px;
  margin-left: 260px;
  padding: 30px 15px;
}
main .canto-esq{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
main .canto-dir{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
}

main .container-fluid {

}

/*
 * Moldura
 */
main .moldura .topo {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #44637D;
  height: 87px;
  color: #93ABB9;
  overflow: hidden;
}
main .moldura .topo .col-40{
  float: left;
  width: 40%;
  padding: 20px;
}
main .moldura .topo .col-60{
  width: 60%;
  float: left;
  height: 87px;
  vertical-align: middle;
  background-color: #597995;
  padding: 27px 20px;
}
main .moldura .topo .titulo{
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
main .moldura .topo .titulo h3{
  font-size: 25px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: 0px;
}
main .moldura .topo h4{
  font-size: 16px;
  color: #DCE3E9;
}
.moldura .conteudo {
  xbackground-color: #FFF;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0px 10px;
  border-top: solid 1px #CFD4D9;
  xoverflow: hidden;
}
.moldura .conteudo .table{
  margin-bottom: 0px;
}
.moldura .conteudo .table thead {
  background-image: url(/assets/img/thead-bg.png);
  background-repeat: repeat-x;
  background-position: top left;
  background-color: #219CD0;
  color: #fff;
  text-transform: uppercase;
}
.moldura .conteudo .table thead th{
  border: none;
}
.moldura .conteudo .table>tbody>tr>td, .moldura .conteudo .table>tbody>tr>th, .moldura .conteudo .table>tfoot>tr>td, .moldura .conteudo .table>tfoot>tr>th, .moldura .conteudo .table>thead>tr>td {
  border-top: 3px dotted #eee;
  padding-left: 20px;
  padding-right: 20px;
}
.moldura .conteudo .table>tbody>tr {
  background-color: #FFF;
  color: #44637D;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  xvisibility: hidden;
}
.moldura .conteudo .table>tbody>tr:last-child {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.moldura .conteudo .table>tbody>tr:first-child>td {
  border-top: none;
}
.moldura .conteudo .table>thead>tr:first-child>th {
  border-left: 2px dotted #DCE3E9;
}
.moldura .conteudo .table>thead>tr>th{
  padding: 14px 20px;
}
.moldura .conteudo .table>thead>tr:first-child>th:first-child {
  border-left: none;
}
.moldura .conteudo .table.empty>tbody>tr>td {
  padding-bottom: 2px;
}


/*
 * SIDEBAR
 */

.sidebar, .sidebar-right {
  top: 80px;
  position: fixed;
  padding: 0;
  width: 260px;
  float: none;
  background-color: #FFF;
}
.sidebar-right {
  right: 0px;
  background-color: #FFF;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  height: calc(100vh - 48px);
  padding: 0px 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar h2 {
  color: #12A9EB;
  font-size: 26px;
}
.sidebar h2:first-of-type {
  margin-top: 10px;
}

.sidebar .avatar {
  background-color: #E2EAF1;
  border-radius: 90px;
  width: 130px;
  height: 130px;
  margin: 0px auto;
}
.sidebar img {
  width: 70px;
  height: auto;
  margin: 0px auto;
  display: block;
  padding: 22px 0px;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


/*
 * Navbar
 */
.navbar {
  background-color: #FFF;
  margin-bottom: 0px;
  min-height: 80px;
}

.navbar-brand {
  float: left;
  height: auto;
  width: 100px;
  padding: 20px 0px 0px 30px;
  line-height: 20px;
  display: block;
  box-sizing: content-box;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


/*
 * FOOTER
 */
footer {
  background-color: #F5F5F5;
  position: relative;
  background-color: #F5F5F5;
  position: relative;
  border-top: solid 50px #FFF;
  padding: 20px 20px;
  color: #94ABBA;
  font-size: 14px;
}



/* =============================
 * Regras de responsividade.
 * ============================= */
/* Dispositivos extra pequenos (smartphones, menores que 768px) */
@media (max-width: 767px) {

}


/* Dispositivos pequenos (tablets, maiores que 768px) */
@media (min-width: 768px) and (max-width: 991px){

}


/* Dispositivos de tamanho mediano (desktops, maiores que 992px) */
@media (min-width: 992px) and (max-width: 1199px) {

}


/* Dispositivos grandes (grandes desktops, maiores que 1200px) */
@media (min-width: 1200px) {

}
.myButton{
  font-family: 'Montserrat', sans-serif;
  background-color: #219cd0;
  border: none;
  border-radius: 3px;
  float: right;
  color: white;
  padding: 12px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  width: 30%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #219cd0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #219cd0;
    cursor: pointer;
}
</style>
