<template>
  <div>
    <nav style="background-color: #fff;border-radius: 0px; border-color: #fff;" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: #558ae0" href="#">Gero Obras</a>
        </div>
      </div>
    </nav>
    <div class="content">
      <img src="../../../assets/images/pngs/tel2.png" title="Gero Obras" class="geroFace logo">
      <div style="padding-top: 50px;" class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="wrapper" class="sideColumn">
              <div class="chat">
                <div class="chat-container">
                  <div class="chat-listcontainer">
                    <ul class="chat-message-list">
                      <li class='message-left'>
                        <div class='messageinner-ms1'>
                          <vue-typer :pausePontuationDelay='800' :pre-type-delay='2000' :pre-erase-delay='500000' :type-delay='20' text="Até que enfim você vai inovar na construção civil.

Se você está realizando uma obra predial, BINGO! Você está falando com o
engenheiro certo.

Sim! Eu sou o Gero, o 1º engenheiro digital do mundo! E aposto que posso lhe
conduzir pelo melhor caminho para realizar sua obra no custo e prazo planejado!">
                          </vue-typer>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row sideColumn">
          <div class="col-md-12">
            <button type="submit" v-on:click="entrar()" class="myButton"><strong>COMECE AGORA!</strong></button>
          </div>
        </div>
        <div class="row anime fadeInUp sideColumn" data-wow-offset="100">
          <div class="row" style="margin-top: 15vw;">
            <vue-typer :pausePontuationDelay='800' :pre-type-delay='2000' :pre-erase-delay='500000' :type-delay='20' text="Entendi!!!
Você quer saber como eu trabalho, OK!!">
            </vue-typer>
          </div>
        </div>
        <br><br>
        <div style="margin-top: 0px;" class="row sideColumn">
          <div class="col-md-3 anime fadeInUp" data-wow-offset="350">
            <div class="card text-center">
              <img src="../../../assets/images/pngs/tela_01_icone_01.png" alt="Avatar">
              <div style="color: white;">
                <h4><b style="color: white;">PLANEJAMENTO PREVISTO</b></h4>
                <p>Architect & Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 anime fadeInUp" data-wow-offset="350" data-wow-delay="0.2s">
            <div class="card text-center">
              <img src="../../../assets/images/pngs/tela_01_icone_02.png" alt="Avatar">
              <div style="color: white;">
                <h4><b style="color: white;">PROGRAMAÇÃO SEMANAL</b></h4>
                <p>Designer</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 anime fadeInUp" data-wow-offset="350" data-wow-delay="0.4s">
            <div class="card text-center">
              <img src="../../../assets/images/pngs/tela_01_icone_03.png" alt="Avatar">
              <div style="color: white;">
                <h4><b style="color: white;">META SEMANAL</b></h4>
                <p>Architect & Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 anime fadeInUp" data-wow-offset="350" data-wow-delay="0.6s">
            <div class="card text-center">
              <img src="../../../assets/images/pngs/tela_01_icone_03.png" alt="Avatar">
              <div style="color: white;">
                <h4><b style="color: white;">INDICADORES DE OBRA</b></h4>
                <p>Photographer</p>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row" style="float: right;">
          <div class="col-md-12">
            <button type="submit" v-on:click="entrar()"  class="myButton"><strong>JÁ PODEMOS INICIAR!!</strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default{
    name: 'BodySection',
    methods: {
      scrollToEnd () {
        var container = this.$el.querySelector('#container')
        container.scrollTop = container.scrollHeight
      },
      entrar () {
        this.$router.push({path: '/login'})
        // this.$router.push({path: '/gero/chatbot'})
      }
    }
  }
</script>
<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.card {
     font-family: 'Source Sans Pro', sans-serif;
     width:110%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.subtitle {
    padding: 2px 16px;
    background-color: white;
    border-radius: 10px;
}

.vue-typer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.vue-typer .custom.char.typed {
  color: #fff;
}
.vue-typer .custom.char.selected {
  color: #607D8B;
  background-color: transparent;
}

.vue-typer .custom.caret {
  display: none;
}

.content{
  background-image: url('../../../assets/images/pngs/tela_01_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.myButton{
  font-family: 'Montserrat', sans-serif;
  background-color: #219cd0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.geroFace{
  position: fixed;
  margin-left: 20vw;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
  width: 170px;
}

.sideColumn{
  margin-left: 32vw;
}

.chat ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
  display: block;
  z-index: 3;
}

.message-left .message-time {
display: block;
font-size: 12px;
text-align: left;
padding-left: 30px;
padding-top: 4px;
color: #ccc;
font-family: Courier;
}

.message-left {
  text-align: left;
  margin-bottom: 16px;
}

.message-left .message-text {
  max-width: 80%;
  display: inline-block;
  background: #fff;
  padding: 15px;
  font-size: 20px;
  color: #999;
  border-radius: 30px;
  font-weight: 100;
  line-height: 1.5em;
}

.message-right {
  text-align: right;
  margin-bottom: 16px;
}

.message-right .message-text {
  line-height: 1.5em;
  display: inline-block;
  background: #5ca6fa;
  padding: 15px;
  font-size: 14px;
  color: #fff;
  border-radius: 30px;
  line-height: 1.5em;
  font-weight: 100;
  text-align: left;
}

.chat {
  padding: 20px;
  width: 800px;
}

.chat-container {
  height: 260px;
  overflow-y: auto;
  padding-right: 16px;
}

.spinme-right {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2;
}

.spinme-left {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  color: #ccc;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2;
}

.spinner {
  margin: 0;
  width: 30px;
}

.spinner > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background: rgba(0,0,0,1);
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
</style>
