<template>
  <section id="home">
    <!--<lateral></lateral>
    <secao></secao>
    <headerTop></headerTop>-->
    <bodySection></bodySection>
    <rodape></rodape>
  </section>
</template>
<script>
import headerTop from './headerTop.vue'
import bodySection from './bodySection.vue'
import lateral from './lateral.vue'
import secao from './secao.vue'
import rodape from '../../utils/rodape.vue'
import { abrirHome } from '../../../utils/logs'
export default{
  name: 'Login',
  components: {headerTop, bodySection, lateral, secao, rodape},
  mounted () {
    abrirHome()
  }
}
</script>
<style>
</style>
