<template>

<!-- ----------
SIDEBAR
------------ -->
<div class="sidebar">
    <div class="sidebar-menu affix">
        <img src="../../../assets/images/logo_home.png" title="Gero Obras" class="logo">

        <div class="chamada">
            Vamos lá!
            <br>
            <strong>Sou gratuito!</strong>
        </div>

        <div class="form-container">
            <div class="wp-login">
                <div id="wppb-login-wrap" class="wppb-user-forms">
                    <form @submit.prevent="entrar()">
                        <p class="login-username">
                            <label for="user_login">Email</label>
                            <input v-model="email" class="input" value="" size="20" type="text">
                        </p>
                        <p class="login-password">
                            <label for="user_pass">Senha</label>
                            <input v-model="senha" class="input" size="20" type="password">
                        </p>

                        <p class="login-remember">
                            <label>
                                <input v-model="lembrar" type="checkbox"> Lembrar-me</label>
                        </p>
                        <p class="login-submit">
                            <input name="wp-submit" id="wppb-submit" class="button-primary" value="Fazer login" type="submit">
                            <input name="redirect_to" value="/gero/" type="hidden">
                        </p>
                        <input name="wppb_login" value="true" type="hidden">
                        <input name="wppb_form_location" value="widget" type="hidden">
                        <input name="wppb_request_url" value="http://www.geroobras.com.br/" type="hidden">
                        <input name="wppb_lostpassword_url" value="/recuperar-senha/" type="hidden">
                        <input name="wppb_redirect_priority" value="normal" type="hidden">
                        <input name="wppb_referer_url" value="" type="hidden">
                    </form>
                    <p class="login-register-lost-password">
                        <a href="/recuperar-senha/">Perdeu sua senha?</a>
                    </p>
                </div>
                <div class="wp-register">
                    <router-link to="/cadastre-se/" class="btn-padrao">CADASTRE-SE</router-link>
                </div>
                <!-- /.wp-login -->
            </div>
            <!-- /.wp-login -->
            <div class="wp-register-form">
                <div class="wp-register">
                    <a href="#"><i class="fa fa-chevron-left"></i> Voltar para o login</a>
                </div>
                <!-- /.wp-login -->
            </div>
            <!-- /.wp-register -->
        </div>
    </div>
    <!-- /.sidebar-conteudo -->
</div>
<!-- /.sidebar -->

</template>

<script>

import {
    mapActions
}
from 'vuex'
export default {
  name: 'LateralLogin',
  data: () => ({
    email: '',
    senha: '',
    lembrar: false
  }),
  methods: {
    ...mapActions([
      'login'
    ]),
    entrar () {
      this.login({
        email: this.email,
        senha: this.senha,
        lembrar: this.lembrar
      })
      .then(() => {
        this.$router.push({
          path: '/gero/listaperfilobras'
        })
      })
    }
  }
}

</script>
