<template>
  <!-- ----------
  CONTEUDO
  ------------ -->
  <div class="conteudo">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">

          <div id="fullpage">
            <div class="section fp-auto-height">
              <!-- ----------
              1 - APRESENTACAO
              ------------ -->
              <div class="apresentacao slideX">
                <h1>Planejar sua obra agora ficou muito mais simples.</h1>
                <h2>Olá, eu sou o <span class="destaque">GERO, o engenheiro digital</span> que auxiliará você a realizar sua obra no custo e no prazo planejados.</h2>
                <p>Esqueça todas as ferramentas complicadas que você já usou para planejar uma obra. Com a minha experiência e metodologia de gerenciamento aperfeiçoada em mais de 20 anos de engenharia civil, podemos formar um time capaz de executar profissionalmente obras prediais em qualquer lugar do Brasil.</p>
                <div class="gero-action">
                  <img src="../../../assets/images/gero_action.png" class="anime fadeInUp img-responsive" data-wow-offset="80" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
                </div>
              </div><!-- /.apresentacao -->

              <!-- tem que ver a real necessidade dessa div toda aqui -->
              <div class="cadastro slideX hidden" v-if="false">
                <h1>Cadastro.</h1>
                <h2>Muito prazer! Sou o <span class="destaque">GERO, o engenheiro digital</span> que ajudará você a realizar sua obra no custo e no prazo planejados.</h2>
                <p>Esqueça todas as ferramentas complicadas que você já usou até hoje para planejar sua obra. Eu o ajudarei de uma forma mais simples e pessoal na tarefa de colocar o seu planejamento em dia, mantendo a sua obra sobre controle.</p>
                <div class="gero-action">
                  <img src="../../../assets/images/gero_action.png" class="anime fadeInUp img-responsive animated" data-wow-offset="80" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
                </div>
              </div><!-- /.cadastro -->

            </div><!-- /.section -->

            <!-- ----------
            2 - CADASTRO
            ------------ -->
            <div class="cadastro section" id="cadastro">

            </div>

          </div><!-- /#fullpage -->


        </div><!-- /.col-sm-2 -->

      </div><!-- /.row -->
    </div><!-- /.coitainer-fluid -->

  </div><!-- /.conteudo -->
</template>
<script>
  export default{
    name: 'SecaoLogin'
  }
</script>
<style></style>
