<template>
  <div class="container" style="margin-bottom: 50px;">
    <router-link to="/gero/chatbot" tag="button" class="btn btn-success" style="margin-top:70px; margin-bottom:20px;">Novo perfil <i class="fa fa-plus" aria-hidden="true"></i></router-link>
    <table class="tg">
  <tr>
    <th class="tg-rq3u">Nome do perfil salvo<br></th>
    <th class="tg-0eoh">Nome da obra<br></th>
    <th class="tg-0eoh">Inicio<br></th>
    <th class="tg-0eoh">Ação<br></th>
  </tr>
  <tr v-if="perfilObras.length !== 0" v-for="(perfilObra, index) in perfilObras">
    <td class="tg-s6z2"><nomeperfilobra :perfilObra="perfilObra" :index="index"></nomeperfilobra></td>
    <td class="tg-vcy5">
      {{perfilObra.nome}}
    </td>
    <td class="tg-vcy5">
      {{perfilObra.inicio}}
    </td>
    <td>
      <router-link to="/gero/chatdinamico" tag="button" class="btn btn-primary">Fale com o Gero</router-link>
      <button><i class="fa fa-tachometer" aria-hidden="true"></i></button>
      <button class="btn btn-danger" @click="excluir(perfilObra.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
  </tr>
</table></div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import nomeperfilobra from './nomeperfilobra'
export default {
  name: 'ListaPerfilObras',
  components: {
    nomeperfilobra
  },
  computed: {
    ...mapGetters([
      'perfilObras',
      'usuario'
    ])
  },
  mounted () {
    this.atualizarPerfilObras(this.usuario.id)
    .then(() => {
      if (this.perfilObras.length === 0) {
        this.$router.push({path: '/gero/chatbot'})
      }
    })
  },
  methods: {
    ...mapActions([
      'atualizarPerfilObras',
      'excluirPerfilObra'
    ]),
    excluir (id) {
      this.excluirPerfilObra({ id: id, idUsuario: this.usuario.id })
    }
  }
}
</script>
<style>
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-0eoh{font-weight:bold;background-color:#8eaac6;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-rq3u{font-weight:bold;background-color:#8eaac6;color:#ffffff;text-align:center}
.tg .tg-vcy5{background-color:#f2dede;color:#036400;text-align:center;vertical-align:top}
</style>
