<template>
  <div>
    <div v-if="!editavel">
      {{perfilObra.nome}} <button class="btn btn-warning" @click="editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </div>
    <div v-else>
      <input type="text" v-model="nome" size="10" />
      <button @click="salvar"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      <button @click="cancelar"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  name: 'NomePerfilObra',
  props: ['perfilObra', 'index'],
  data: () => ({
    nome: '',
    editavel: false
  }),
  mounted () {
    this.nome = this.perfilObra.nome
  },
  methods: {
    ...mapActions([
      'mudarPerfilObra'
    ]),
    editar () {
      this.editavel = true
    },
    salvar () {
      this.perfilObra.nome = this.nome
      this.mudarPerfilObra({ perfilObra: this.perfilObra, index: this.index })
      this.nome = ''
      this.editavel = false
    },
    cancelar () {
      this.nome = ''
      this.editavel = false
    }
  }
}
</script>
<style>
</style>
