<template>
  <div>
    <div style="width: 100%;" class='container'>
      <div class='content jumbotron'>
        <div class='row'>
          <div style="overflow-x:auto;" class='col-md-12'>
            <table class='bannerTable'>
              <tr>
                <th class="bannerLeft">
                  <div><p>OBRA</p></div>
                  <div><p><span>TORRE NÃO CALA</span></p></div>
                </th>
                <th class="bannerCenter">
                  <div><p><span>PROGRAMAÇÃO SEMANAL DE TAREFAS</span></p></div>
                  <div><p>INÍCIO: <span>01/02</span> - TÉRMINO: <span>07/02</span></p></div>
                </th>
                <th class="bannerRight">
                  <div><p>SEMANA</p></div>
                  <div><p><span>01</span>&nbsp&nbsp&nbsp DE &nbsp&nbsp&nbsp<span>240</span></p></div>
                </th>
              </tr>
            </table>
            <table class="tabelaProgSemanal">
              <thead>
                <tr>
                  <th>ITEM</th>
                  <th>QTD</th>
                  <th>UND</th>
                  <th>TAREFA</th>
                  <th>DATA INICIAL</th>
                  <th>CONCLUIR ATÉ</th>
                  <th>RESPONSÁVEL</th>
                  <th>VALIDAÇÃO</th>
                </tr>
              </thead>
              <tbody v-for="item in dados">
                <tr>
                  <td>
                    <i @click='activeLink(item)' class="fa fa-list-ol"></i>
                    <!--<button v-if="!item.show" type="button" @click='activeLink(item)'>O</button>Mudar ícones-->
                  </td>
                  <td>
                    {{item.qtd}}
                  </td>
                  <td>
                    {{item.und}}
                  </td>
                  <td>
                    {{item.tasks}}
                  </td>
                  <td>
                    {{item.dataInicial}}
                  </td>
                  <td>
                    {{item.dataConclusao}}
                  </td>
                  <td>
                    {{item.responsavel}}
                  </td>
                  <td>
                    <i class="fa fa-share"></i>
                  </td>
                </tr>
                <tr v-bind:class="[item.show ? activeClass : '']" v-for="subitem in item.subTasks">
                  <td><div>
                    <i class="fa fa-share"></i></div></td>
                  <td><div>
                    {{subitem.qtd}}
                  </div></td>
                  <td><div>
                    {{subitem.und}}
                  </div></td>
                  <td><div>
                    {{subitem.tasks}}
                  </div></td>
                  <td><div>
                    {{subitem.dataConclusao}}
                  </div></td>
                  <td><div>
                    <input type="range" min="0" max="4" v-model="subitem.avancoFisico">
                    {{subitem.avancoFisico*25}}%
                    <!--https://nightcatsama.github.io/vue-slider-component/example/-->
                  </div></td>
                  <td><div>
                    <select v-model='subitem.responsavel'>
                      <option v-for="w in workers" v-bind:value="w">{{w}}</option>
                    </select>
                  </div></td>
                  <td><div>
                    <i class="fa fa-share"></i>
                  </div></td>
                </tr>
              </tbody>
            </table>
            <table class="tabelaProgSemanal">
              <tbody>
                <tr style="background-color: #e2eaf1">
                  <td style="float: left; padding: 20px 20px 20px 20px;">
                    ADICIONAR TAREFA PARA ESTA SEMANA:
                    <select>
                      <option value="volvo">Instalação das portas</option>
                      <option value="volvo">Instalação dos pontos elétricos</option>
                      <option value="volvo">Instalação dos pontos hidráulicos</option>
                    </select>
                    <button @click="addTasks()" type="button">+</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button type="submit" v-on:click="entrar()" class="myButton"><strong>FECHAR PROGRAMAÇÃO</strong></button>
      </div>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span @click="none()" class="close">&times;</span>
        <p>ESTAS SÃO AS ATIVIDADES PREVISTAS PARA ESSA SEMANA:</p>
        <div><p>INÍCIO: <span>01/02</span> - TÉRMINO: <span>07/02</span></p></div>
        <table class="tabelaProgSemanal">
          <thead>
            <tr>
              <th>QTD</th>
              <th>UND</th>
              <th>TAREFA</th>
              <th>CONCLUIR ATÉ</th>
              <th>AVANÇO FÍSICO</th>
              <th>RESPONSÁVEL</th>
            </tr>
          </thead>
          <tbody v-for="item in dados">
            <tr v-for="subitem in item.subTasks">
              <td>
                {{subitem.qtd}}
              </td>
              <td>
                {{subitem.und}}
              </td>
              <td>
                {{subitem.tasks}}
              </td>
              <td>
                {{subitem.dataConclusao}}
              </td>
              <td>
                {{subitem.avancoFisico*25}}%
              </td>
              <td>
                {{subitem.responsavel}}
              </td>
            </tr>
          </tbody>
        </table>
        <button>SAIR</button>
        <button>RECALCULAR</button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import rodapeinterno from '../../utils/rodapeinterno.vue'
export default{
  name: 'planejamento',
  components: {
    rodapeinterno
  },
  computed: {
    ...mapGetters([
      'perfilObras',
      'usuario'
    ])
  },
  updated () {

  },
  mounted: function () {
    console.log('working')
    for (let i = 0; i < this.dados.length; i++) {
      for (let j = 0; j < this.dados[i].subTasks.length; j++) {
        this.dados[i].subTasks[j].avancoFisico = Math.round(this.dados[i].subTasks[j].avancoFisico / 25)
      }
    }
    window.onclick = function (event) {
      if (event.target === document.getElementById('myModal')) {
        document.getElementById('myModal').style.display = 'none'
      }
    }
  },
  methods: {
    activeLink (item) {
      item.show = !item.show
      console.log(item.show)
    },
    entrar () {
      this.$router.push({path: '/gero/dashboard'})
    },
    getTasks () {
      console.log('Tarefas')
      this.pegarTarefas()
      .then(() => {
      })
    },
    addTasks () {
      let newTask = {
        qtd: 10,
        und: '%',
        tasks: 'Estaqueamento Fundação',
        dataInicial: '26/02/2018',
        dataConclusao: '02/03/2018',
        avancoFisico: 0,
        responsavel: '',
        show: false,
        subTasks: [
        ]
      }
      for (let j = 0; j < newTask.subTasks.length; j++) {
        newTask.subTasks[j].avancoFisico = Math.round(newTask.subTasks[j].avancoFisico / 25)
      }
      this.dados.push(newTask)
    },
    block () {
      document.getElementById('myModal').style.display = 'block'
    },
    none () {
      document.getElementById('myModal').style.display = 'none'
    },
    avanFis (item) {
      return Math.round(item.avancoFisico / 25)
    },
    ...mapActions([
      'pegarTarefas'
    ])
  },
  data () {
    return {
      activeClass: 'active',
      workers: [
        'Nelson',
        'Yvan',
        'Max',
        'Paulo',
        'Jota',
        'Nilton',
        'Douglas'
      ],
      dados: [
        {
          qtd: 10,
          und: '%',
          tasks: 'Estaqueamento Fundação',
          dataInicial: '26/02/2018',
          dataConclusao: '02/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [
          ]
        },
        {
          qtd: 3,
          und: '%',
          tasks: 'Blocos',
          dataInicial: '01/03/2018',
          dataConclusao: '02/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Viga',
          dataInicial: '26/02/2018',
          dataConclusao: '02/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Laje',
          dataInicial: '28/02/2018',
          dataConclusao: '02/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 5,
          und: '%',
          tasks: 'Cintamento',
          dataInicial: '05/03/2018',
          dataConclusao: '09/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 10,
          und: '%',
          tasks: 'Estaqueamento Fundação',
          dataInicial: '05/03/2018',
          dataConclusao: '09/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 8,
          und: '%',
          tasks: 'Blocos',
          dataInicial: '05/03/2018',
          dataConclusao: '09/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Escada',
          dataInicial: '12/03/2018',
          dataConclusao: '16/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Pilares',
          dataInicial: '05/03/2018',
          dataConclusao: '09/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Vigas',
          dataInicial: '05/03/2018',
          dataConclusao: '09/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 9,
          und: '%',
          tasks: 'Blocos',
          dataInicial: '12/03/2018',
          dataConclusao: '16/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Laje',
          dataInicial: '12/03/2018',
          dataConclusao: '14/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Pilares',
          dataInicial: '15/03/2018',
          dataConclusao: '16/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Embutimento elétrico na laje',
          dataInicial: '16/03/2018',
          dataConclusao: '16/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Pilares',
          dataInicial: '19/03/2018',
          dataConclusao: '22/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Vigas',
          dataInicial: '21/03/2018',
          dataConclusao: '23/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        },
        {
          qtd: 1,
          und: 'PAV',
          tasks: 'Marcação de Alvenaria Externa',
          dataInicial: '20/03/2018',
          dataConclusao: '23/03/2018',
          avancoFisico: 0,
          responsavel: '',
          show: false,
          subTasks: [

          ]
        }
      ]
    }
  }
}
</script>
<style scoped>
.content {
  background-image: url('../../../assets/images/tela_03_bg.jpg');
  background-attachment: fixed;
  margin-top: 60px;
}
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Montserrat');
.bannerTable, .tabelaProgSemanal{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.bannerTable div{
   margin-bottom: -20px;
}
.bannerCenter{
  text-align: center;
  color: white;
  padding: 2px 2px 2px 2px;
  background-color: #597995;
}
.bannerCenter p{
   font-size: 12px;
}
.bannerCenter span{
  font-size: 15px;
  font-weight: bold;
}
.bannerLeft{
  background-color: #44637d;
  color: #95abbb;
  border-top-left-radius: 10px;
  text-align: left;
  padding: 5px 5px 5px 20px;
  width: 230px;
}
.bannerRight{
  background-color: #44637d;
  color: #95abbb;
  border-top-right-radius: 10px;
  text-align: right;
  padding: 5px 20px 5px 5px;
  width: 230px;
}
.bannerLeft p, .bannerRight p{
  font-size: 12px;
  font-weight: bold;
}
.bannerLeft span, .bannerRight span{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.tabelaProgSemanal th{
  background-color: #219cd0;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-left: 2px dotted #eee;
  color: white;
}
.tabelaProgSemanal tbody{
  background-color: #fff;
  text-align: center;
  border-bottom: 2px dotted #eee;
}
.tabelaProgSemanal tbody tr:hover {
  background-color: #f5f5f5;
}
.myButton{
  font-family: 'Montserrat', sans-serif;
  background-color: #219cd0;
  border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
  float: right;
}
/*Modal Box*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* daqui para baixo responsável pela animação da tabela*/
tr td div {
  max-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s;
}
tr.active td div {
  max-height: 100px;
  transition: max-height 0.6s, padding 0.6s;
}
</style>
