/* =============================
 * Estilos dos blocos de conteúdo.
 * ============================= */


/* =============================
 * HTML
 * ============================= */
a {
    color: #2CACE4;
	outline: none !important;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
}
a:hover {
    color: #178ABB;
}
body {
    font-family: 'Raleway', sans-serif;
    color: #000;
    /* Para ajustar a altura do .navbar-fixed-top */
    xpadding-top: 100px;
    font-size: 17px;
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
}
section {
    padding: 80px 0px;
    clear: both;
}


/* =============================
 * BOOTSTRAP
 * ============================= */
.affix {
    position: fixed;
    width: 250px;
}
.affix-bottom {
    position: absolute;
    width: 250px;
}
.form-control {
    padding: 15px;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    height: auto;
}
.img-responsive {
    margin: 0px auto;
}
.navbar-inverse .navbar-toggle {
    border: none;
}
.navbar-toggle .icon-bar {
    height: 4px;
}

/* =============================
 * ACF
 * ============================= */
.acf-field .acf-label label, ul.acf-radio-list li, ul.acf-checkbox-list li {
    font-size: 16px;
}
.acf-field .acf-label p {
    font-size: 13px;
}

.acf-input-append {
    height: 34px;
    padding-top: 7px;
}
.acf-field[data-width] + .acf-field[data-width] {
    border: none;
}
.acf-field input[type="text"], .acf-field input[type="password"], .acf-field input[type="number"], .acf-field input[type="search"], .acf-field input[type="email"], .acf-field input[type="url"], .acf-field textarea, .acf-field select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.acf-field input[type=checkbox], .acf-field input[type=radio] {
    position: absolute;
    margin: 4px 0 0;
    margin-left: -20px;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}

.acf-field textarea {
    height: auto;
}
ul.acf-radio-list, ul.acf-checkbox-list {
    margin-left: 20px;
}
ul.acf-hl.acf-radio-list li, ul.acf-hl.acf-checkbox-list li {
margin-right: 40px;
}
.acf-field-checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
}
.acf-field .acf-label label {
    padding-left: -20px;
}
.acf-field input:focus{
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.acf-form-submit input, .wppb-user-forms input[type=submit] {
    cursor: pointer;
    color: #FFF;
    background-color: #66afe9;
    border: none;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 10px 25px;
}


/* =============================
 * YETI LAB
 * ============================= */
.y-404 {
    padding: 150px 0px 80px 0px;
}
.y-404 h1 {
    color: #2cace4;
    font-size: 50px;
    margin-bottom: 30px;
}
.y-article-footer {
    border-top: solid 1px #ddd;
}
.y-article-footer h2{
    font-size: 20px;
}
.y-article-footer .nav-previous, .y-article-footer .nav-next{
    width: auto;
}
.y-article-footer .nav-next{
    float: right;
    text-align: right;
}
.y-article-footer .nav-previous{
    float: left;
}
.y-article-header {
    font-size: 85%;
    padding: 5px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 5px;
}
.y-block {
    color: #fff;
}
.y-block .y-block-title {
    font-size: 45px;
    font-weight: bold;
}
.y-block .y-block-text {
    font-size: 22px;
}
.y-box {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.y-box-content {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: middle;
}
.y-buttons {

}
.y-buttons .y-buttons-btn {
    margin: 0px 10px 13px 0px;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    padding: 16px 27px;
    font-weight: bold;
    border: none;
}
.y-buttons .y-buttons-btn:last-child {
    margin: 0px 0px 13px 0px;
}
.y-buttons-btn-border {
    margin: 0px 10px 13px 0px;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    font-weight: bold;
    background: none;
    color: #D9534F;
    border: solid 1px #D9534F;
}
.y-card {
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.y-card a {
    outline: none;
}
.y-card a:hover {
    text-decoration: none;
}
.y-card a .y-card-img img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.y-card a:hover .y-card-img img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.y-card .y-card-block {
    background-color: #F6F6F6;
    padding: 10px;
}
.y-card .y-card-img{
    text-align: center;
    overflow: hidden;
}
.y-card .y-card-date{
    border-top: solid 1px #ddd;
    color: #aaa;
    margin: 5px 0px 0px 0px;
    display: inline-block;
}
.y-card .y-card-info{
    background-color: #fff;
    text-align: center;
    color: #BABABA;
}
.y-card .y-card-text{
    color: #999999;
    font-size: 17px;
    margin: 0px;
    min-height: 60px;
    line-height: 20px;
}
.y-clear {
    clear: both;
}
.y-embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
}

.y-embed-container iframe,
.y-embed-container object,
.y-embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}
.y-header {
    margin: 0px 0px 50px 0px;
}
.y-header-small{
    padding: 120px 20px 0px 20px !important;
    background-image: inherit !important;
    background-color: #000;
}
.y-header-title, .y-header-subtitle, .y-header-text {
    text-align: center;
}
.y-header-title {
    font-size: 35px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
    color: #333;
}
.y-header-subtitle {
    font-size: 28px;
    font-weight: normal;
    margin: -15px 0px 20px 0px;
}
.y-header-text {
    font-size: 20px;
}
.y-parallax {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.y-social a{
    margin: 0px 10px 10px 0px;
}
.y-social a:last-child {
    margin: 0px;
}
.y-social-share {
    margin: 20px 0px 10px 0px;
}
.y-small-padding {
    padding: 20px 0px 80px 0px;
}
.y-text {
    font-size: 17px;
    line-height: 26px;
}
.y-thumb {
    text-align: center;
}
.y-thumb .y-thumb-image{

}
.y-thumb .y-thumb-image i{
    font-size: 8em;
}
.y-thumb .y-thumb-caption {
    padding: 0px 10px;
}
.y-top-element {
    visibility: hidden;
}


/* =============================
 * CLIENTS
 * ============================= */
/*
 * clients-1
 */
.clients-1 {
    background-color: #fff;
}
.clients-1 .item {
    text-align: center;
    padding: 1px;
}
.clients-1 .fa {
    font-size: 10em;
}
.clients-1 .owl-dots .owl-dot span{
    width: 20px;
    height: 20px;
}
.clients-1 .owl-dots .owl-dot.active span{
    background-color: #2CACE4;
}
.clients-1 .owl-nav .fa {
    font-size: 3em;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background-color: transparent !important;
    color: #2CACE4;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
    color: #178ABB !important;
}


/* =============================
 * CONTACT
 * ============================= */
/*
 * contact-1
 */
.contact-1 {
    background-color: #eee;
}
.contact-1 h3 {
    margin: 40px 0px 10px;
    font-weight: bold;
}
.contact-1 h3:first-child {
    margin: 0px 0px 10px 0px;
}
.contact-1 .wpcf7-form .your-ddd .form-control {
    width: 18%;
    float: left;
    margin-right: 2%;
}
.contact-1 .wpcf7-form .your-phone .form-control {
    width: 80%;
}
.contact-1 .wpcf7-form .wpcf7-submit {
    margin: 0px 10px 13px 0px;
    transition: all 0.2s ease-in-out 0s;
    padding: 16px 27px;
    font-weight: bold;
    border: medium none;
    font-size: 18px;
    background-color: #D9534F;
}
.contact-1 .wpcf7-form .wpcf7-submit:hover {
    background-color: #C9302C;
}
.contact-1 .y-address, .contact-1 .y-phones, .contact-1 .y-social {
    margin: 0px 0px 0px 0px;
}


/* =============================
 * CONTENT
 * ============================= */
/*
 * content-1
 */
.content-1 {
    background-color: #eee;
    overflow: hidden; /* Para evitar que animações transbordem de/para outras sections */
}
.content-1 .y-thumb .y-thumb-image {
    color: #D9534F;
}
.content-1 .y-thumb .y-thumb-caption h3 {
    font-weight: bold;
}
.content-1 .y-thumb .y-thumb-caption .y-buttons-btn:hover {
    background-color: #ccc;
}

/*
 * content-2
 */
.content-2 {
    background: #eee;
    padding: 0px;
}
.content-2 .container-fluid {
    padding: 0px;
    margin: 0px;
}
.content-2 .row {
    position: relative;
    height: auto;
    display: table;
    width: 100%;
    margin: 0px;
}
.content-2 .content-info{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
}
.content-2 .content-info .y-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-2 .content-img{
    padding: 0px 0px;
    display: table-cell;
    height: 100%;
    float: none;
    position: relative;
    background-color: #eee;
    background-image: url(../images/content2.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}
.content-2 .y-header .y-header-title, .content-2 .y-header .y-header-subtitle, .content-2 .y-header-text {
    text-align: left;
}

/*
 * content-3
 */
.content-3 {
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.content-3 .y-header .y-header-title, .content-3 .y-header .y-header-subtitle, .content-3 .y-header-text {
    text-align: left;
}

/*
 * content-4
 */
.content-4 {
    background-image: url(/wp-content/themes/yeti-bootstrap/assets/img/slide1.jpg);
    padding: 180px 0px;
    color: #fff;
}

/*
 * content-5
 */
.content-5 {
    padding: 0px;
    position: relative;
}
.content-5 .slider {
    margin: 0px;
    padding: 0px;
    border: none;
}
.content-5 .bx-controls .bx-pager {
    top: 40px;
    padding-left: 160px;
    height: 40px;
}

.content-5 .flex-control-paging {
    top: 50px;
    bottom: 0px;
    padding-left: 100px;
}
.content-5 .bx-wrapper .bx-pager.bx-default-pager a {
    background:  #CCCCCC;
}

/*
 * content-6
 */
.content-6 {
    background-color: #F6F6F6;
}
.content-6 .y-item {
    padding: 50px 0px;
    border-top: solid 1px #BBB;
}
.content-6 .y-item:last-child {
    padding: 50px 0px 0px 0px;
}
.content-6 .y-item a{
    font-size: 20px;
    color: #2CACE4;
}
.content-6 .y-item a:hover{
    color: #178ABB;
    text-decoration: none;
}
.content-5 h3 {

}

/* =============================
 * CURSOS
 * ============================= */
.curso-participante {
    border-top: solid 1px #ddd;
    padding: 20px 0px;
    margin: 20px 0px 0px 0px;
    font-style: italic;
}
.curso-participante p{
    margin: 0px;
}
.curso-participante-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-width: 150px;
    border: 5px solid #ccc;
}


/* =============================
 * FAQ
 * ============================= */
/*
 * faq-1
 */
.faq-1 .panel {
    border: none;
}
.faq-1 .panel-body {
    padding-left: 50px;
}
.faq-1 .panel-heading {
    background-color: transparent;
}
.faq-1 .panel-heading a{
    display: block;
    outline: none;
    font-size: 20px;
    text-decoration: none;
    color: #2CACE4;
}
.faq-1 .panel-heading a:hover {
    color: #178ABB;
}
.faq-1 .panel-heading [data-toggle="collapse"] .fa {
    float: left;
    margin-right: 20px;
    color: #F58723;
    font-size: 26px;
    line-height: 26px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease

}

.faq-1 .panel-heading [data-toggle="collapse"].collapsed .fa {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #2CACE4;
}


/* =============================
 * GALLERY
 * ============================= */
.sl-overlay {
    z-index: 1030;
    opacity: 0.95;
}
.y-lightbox .sl-counter, .y-lightbox .sl-close{
    z-index: 1035;
}
.y-lightbox .sl-navigation button{
    z-index: 1035;
}
.y-lightbox .sl-counter {
    font-size: 2rem;
    top: 20px;
}

/* =============================
 * HEADER
 * ============================= */
/*
 * header-1
 */
.header-1 {
    background-image: url(/wp-content/themes/yeti-bootstrap/assets/img/slide2.jpg);
    background-position: center center;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     padding: 210px 20px 100px 20px;
}
.header-1 .y-header-title, .header-1 .y-header-subtitle {
    color: #fff;
}

/*
 * header-2
 */
.header-2 {
    background-color: #ccc;
}
.header-2 .form {
    background-color: #F4F2F3;
    padding: 25px;
    margin-top: -80px;
}
.header-2 .form .btn{
    background-color: #44CCCC;
    border: none;
    padding: 15px;
    font-size: 18px;
    width: 100%;
    text-align: left;
    margin-top: 5px;
}
.header-2 .form .form-group {
    margin-bottom: 1px;
}


/* =============================
 * FOOTER
 * ============================= */

/*
 * Assinatura yeti lab
 */
/* #yeti,#yeti a{display:block;position:relative;clear:both;line-height:10px;width:22px;height:22px;border:0;outline:0;float:right;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}#yeti{width:26px;height:26px;margin:0 10px 20px 0;overflow:hidden;-moz-transition-property:width;-webkit-transition-property:width;-o-transition-property:width;transition-property:width}#yeti:hover{width:160px}#yeti:hover a{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}#yeti .texto{color:#999;width:130px;font-size:9px;font-family:Verdana,Geneva,sans-serif;position:absolute;right:25px;top:5px}#yeti .blue{color:#2cace4}#yeti .black{color:#000} */
#yeti,#yeti a{display:block;position:relative;clear:both;line-height:10px;width:auto;height:22px;border:0;outline:0;float:right;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}#yeti{width:200px;height:26px;margin:0 10px 20px 0;overflow:visible;-moz-transition-property:width;-webkit-transition-property:width;-o-transition-property:width;transition-property:width}#yeti:hover{width:200px}#yeti a:hover{-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}#yeti .texto{color:#999;width:auto;font-size:11px;font-family:Verdana,Geneva,sans-serif;position:absolute;right:25px;top:5px}#yeti .blue{color:#2cace4}#yeti .black{color:#000}

/*
 * #footer-1
 */
#footer-1 .footer-content{
    background: #777777;
    color: #fff;
    padding: 50px 0px;
}
#footer-1 .footer-content p{
    margin-bottom: 20px;
}
#footer-1 .footer-copyright{
    padding: 20px 0px;
}
#footer-1 .y-social a{
    color: #DDDDDD;
}
#footer-1 .y-social a:hover {
    color: #C2C2C2;
}


/* =============================
 * MAPS
 * ============================= */
/*
 * #map-1
 */
.map-1 {
    padding: 80px 0px 0px 0px;
}
.map-1 iframe {
    float: left;
}


/* =============================
 * MENU
 * ============================= */
/*
 * #menu-1
 */
#menu-1 {
    background-color: #fff;
    border-color: transparent;
}
#menu-1 .navbar-brand {
    height: auto;
    padding: 0px;
}
#menu-1 .navbar-brand img {
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    height: 30px;
    width: auto;
    margin: 35px 15px;
}
#menu-1 .navbar-nav > li > a {
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    text-transform: uppercase;
    padding: 35px 15px;
    line-height: 30px;
    font-size: 14px;
    outline: none;
    color: #777;
}
#menu-1 .navbar-nav > li > a:hover {
    color: #000;
    background-color: transparent;
}
#menu-1 .navbar-nav > li > a.resize {
    text-transform: uppercase;
    padding: 20px 15px;
    line-height: 15px;
}
#menu-1  .navbar-nav > .open > a, #menu-1  .navbar-nav > .open > a:focus, #menu-1 .navbar-nav > .open > a:hover {
    background-color: #fff;
    color: #000;
}
#menu-1 .dropdown-menu > li > a:focus, #menu-1 .dropdown-menu > li > a:hover {
    background-color: #fff;
}
#menu-1 .dropdown-menu {
    box-shadow: none;
    border: none;
}
#menu-1 .navbar-nav > li > .dropdown-menu {
    padding: 0px;
}
#menu-1 .navbar-nav > li > .dropdown-menu li a{
    padding: 10px 15px;
    text-transform: uppercase;
}
#menu-1 .navbar-nav > .active > a {
    background-color: transparent;
    color: #777777;
    font-weight: bold;
}
#menu-1 .navbar-brand .resize {
    height: 15px;
    width: auto;
    margin: 20px 15px;
}
#menu-1 .dropdown-menu > li > a{
    font-size: 14px;
}


/* =============================
 * NEWS
 * ============================= */
/*
 * news-1
 */
.news-1 {
    background-color: #F6F6F6;
}
.news-1 .y-card .y-card-block {
    background-color: #fff;
}


/* =============================
 * SLIDER
 * ============================= */
.bx-wrapper, .bx-wrapper .bx-viewport {
    margin: 0px;
    padding: 0px;
    border: none;
    box-shadow: none;
    position: initial !important;
}
.bx-wrapper .bx-pager {
    bottom: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #D9534F;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    outline: none;
    bottom: 20px;
    width: 23px;
    height: 23px;
    box-shadow: none;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.bx-wrapper .bx-controls-direction a {
    font-size: 60px;
    color: #fff;
    height: auto;
    margin-top: 18px;
    outline: none;
    text-indent: 0px;
    width: auto;
    z-index: 1000;
}
.bx-wrapper .bx-controls-direction a:hover {
    color: #000;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bx-wrapper .bx-controls-direction a i{
    padding: 0px 10px 4px 11px;
    border: solid 2px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
    background-image:  none;
}
.bx-wrapper .bx-next {
    right: 20px;
}
.bx-wrapper .bx-prev {
    left: 20px;
}
.bx-wrapper .bx-controls-direction a.bx-prev i{
    padding: 0px 10px 4px 9px;
}
.bx-wrapper .bx-loading {
    background-image: none;
}

.flexslider {
    overflow: hidden;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.flexslider .slides > li {
    min-height: 400px;
    background-repeat: none;
    background-position: center center;
}
.flex-control-nav {
    bottom: 20px;
}
.flex-control-paging li a {
    outline: none;
    bottom: 20px;
    width: 16px;
    height: 16px;
    box-shadow: none;
    background: transparent none repeat scroll 0% 0%;
    border: 2px solid rgb(126, 126, 126);
}
.flex-control-paging li a:hover {
    background: transparent;
}
.flex-control-paging li a.flex-active {
    background-color: #000;
    border-color: #000;
}
.flex-direction-nav a {
    font-size: 60px;
    color: #fff;
    height: 70px;
    outline: none;
}
.flex-direction-nav a.flex-next:before, .flex-direction-nav a.flex-prev:before {
  content: '';
}


/*
 * .slider-1
 */

 /* Animacoes */
 .slider-1 .active {
  /*background Images effect*/
  /*background Images effect end*/
  /*SLIDER ITEM ONE ANIMATION*/
  /*SLIDER ITEM ONE ANIMATION END*/
  /*SLIDER ITEM TWO ANIMATION*/
  /*SLIDER ITEM TWO ANIMATION END*/
  /*SLIDER ITEM THREE ANIMATION*/
  /*SLIDER ITEM THREE ANIMATION END*/
 }
 .slider-1 .active .y-zoomInDown {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s;
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
 }
 .slider-1 .active .y-fadeInDown {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
 }
 .slider-1 .active .y-fadeInUp {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
 }
 .slider-1 .active .y-slideInRight-img {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .3s;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
 }
 .slider-1 .active .y-rotateInDownLeft-one {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .3s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
 }
 .slider-1 .active .y-rotateInDownLeft-two {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .9s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
 }
 .slider-1 .active .y-rotateInDownLeft-three {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
 }
 .slider-1 .active .y-rotateInDownLeft-four {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 2.1s;
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
 }
 .slider-1 .active .y-slideInLeft-img {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .3s;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
 }
 .slider-1 .active .y-rotateInUpRight-one {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .3s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
 }
 .slider-1 .active .y-rotateInUpRight-two {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .9s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
 }
 .slider-1 .active .y-rotateInUpRight-three {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
 }
 .slider-1 .active .y-rotateInUpRight-four {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 2.7s;
  -webkit-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
 }
 .slider-1 .active .y-zoomInUp-one {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .3s;
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
 }
 .slider-1 .active .y-zoomInUp-two {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: .9s;
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
 }
 .slider-1 .active .y-zoomInUp-three {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
 }
 .slider-1 .active .y-zoomInUp-four {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 2.1s;
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
 }
 /* Fim da animacoes */

.slider-1 {
    padding: 0px;
    height: 100vh;
}
.slider-1 .slider{
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    display: none; /* Exibido apenas quando a página é completamente carregada */
}
.slider-1 .owl-carousel .owl-item li{
    height: 100vh;
    width: 100%;
    display: table !important;
    background-attachment: scroll;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-1 .owl-theme .owl-controls{
  margin: 0px;
}
.slider-1 .owl-theme .owl-controls .owl-dots{
  bottom: 20px;
  position: absolute;
  width: 100%;
}
.slider-1 .owl-theme .owl-dots .owl-dot span {
  width: 23px;
  height: 23px;
  background: #fff;
}
.slider-1 .owl-theme .owl-dots .owl-dot.active span, .slider-1 .owl-theme .owl-dots .owl-dot:hover span {
    background: #D9534F;
}
.slider-1 .owl-theme .owl-controls .owl-nav [class*="owl-"]  {
  font-size: 60px;
  color: rgb(255, 255, 255);
  height: 65px;
  margin-top: 20px;
  outline: medium none;
  text-indent: 0px;
  width: auto;
  z-index: 1000;
  position: absolute;
  top: 50%;
}
.slider-1 .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
  color: #D9534F !important;
}
.slider-1 .owl-theme .owl-controls .owl-nav .owl-prev {
  left: 5px;
}
.slider-1 .owl-theme .owl-controls .owl-nav .owl-next {
  right: 5px;
}
.slider-1 .slider .slider-content {
    display: table-cell;
    float: none;
    height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
}

/* =============================
 * TIMELINES
 * ============================= */
/*
 * timeline-1
 */
.timeline-1 {
    text-align: center;
    margin-top: 60px;
}
.timeline-1 timeline:after {
    clear: both;
}
.timeline-1 ul {
    padding-left: 0;
}
.timeline-1 ul li:first-child {
    padding-top: 60px;
}
.timeline-1 ul .timeline-normal {
    text-align: right;
    width: 100%;
}
.timeline-1 ul li {
    float: right;
    display: block;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
.timeline-1 .date {
    position: relative;
}
.timeline-1 .date-normal {
    display: inline-block;
    float: right;
    margin-left: 10.4%;
    color: #fff;
    width: 44%;
    text-align: left;
}
.timeline-1 p.lead {
    font-style: italic;
}
.timeline-1 .date-normal p {
    padding: 35px 30px 20px 0px;
    font-size: 20px;
    display: inline-block;
}
.timeline-1 p {
    font-size: 15px;
    padding-bottom: 30px;
    color: #6b6d6f;
}
.timeline-1 p {
    margin-bottom: 0;
}
.timeline-1 .timeline-normal .first_span {
    top: 80px;
}
.timeline-1 .iconBackground {
    position: absolute;
    left: 50%;
    width: 66px;
    height: 66px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    display: inline-block;
    background-color: #dfdfdf;
    top: 50px;
    margin-left: -31px;
}
.timeline-1 .icon {
    line-height: 66px;
}
.timeline-1 .fa {
    color: #666666;
}
.timeline-1 .icon span {
    line-height: 66px;
    color: #ffffff;
}
.timeline-1 ul li .timeline-panel {
    width: 44%;
    padding: 0px 30px 0px;
    margin-bottom: 30px;
    background-color: rgba(199, 199, 199, 0.17);
    position: relative;
    float: left;
}
.timeline-1 .timeline-normal .timeline-panel:before {
    content: "";
    position: absolute;
    top: 30px;
    right: -15px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 15px solid rgba(199, 199, 199, 0.17);
    border-bottom: 20px solid transparent;
}
.timeline-1 .timeline-panel h4 {
    padding-top: 20px;
}
.timeline-1 .text-right {
    text-align: right;
}
.timeline-1 h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.65px;
    text-transform: none;
    letter-spacing: -1px;
    word-spacing: 0;
    padding-left: 0;
    padding-bottom: 5px;
    color: #2a2b2f;
}
.timeline-1 .separline:before {
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #dfdfdf;
    left: 50%;
    height: 100%;
}
.timeline-1 ul .timeline-inverted {
    text-align: left;
    width: 100%;
}
.timeline-1 .separline::before {
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #dfdfdf;
    left: 50%;
    height: 100%;
}
.timeline-1 .date-inverted {
    width: 44%;
    text-align: right;
    display: inline-block;
    float: left;
    margin-right: 10.6%;
    border-left-width: 20px;
    padding-left: 20px;
    color: #fff;
}
.timeline-1 .date-inverted p {
    padding: 35px 0px 20px 30px;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 50px;
}
.timeline-1 .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline-1 .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline-1 .timeline-inverted .timeline-panel:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 15px solid rgba(199, 199, 199, 0.17);
    border-bottom: 20px solid transparent;
    top: 30px;
    left: 0;
}
.timeline-1 .iconBackgroundInverse {
    position: absolute;
    right: 50%;
    width: 66px;
    height: 66px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    display: inline-block;
    background-color: #dfdfdf;
    top: 50px;
    margin-right: -31px;
}
.timeline-1 .title_wrapper {
    display: inline-block;
    margin: auto;
    border: 2px solid #dfdfdf;
    padding: 15px;
}
.timeline-1 .title_wrapper h3{
    margin: 0px;
}
.timeline-1 .bottom_title_wrapper h3 {
    margin: 0;
}
.timeline-1 .display-2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}
