/* =============================
 * Estilos personalizados.
 * ============================= */

/* =============================
 * HTML
 * ============================= */
body {
  font-family: 'Roboto', sans-serif;
}
b, strong {
  font-weight: 900;
}

/* =============================
 * BOOTSTRAP
 * ============================= */
.affix {
  width: inherit;
  text-align: center;
}


/* =============================
 * CADASTRO
 * ============================= */
.cadastrado {
  margin: 35px auto 20px auto;
  width: 500px;
}
.cadastrado .wp-login .login-remember {
  text-align: left !important;
  font-size: 14px !important;
}
.acf-form-submit input, .wppb-user-forms input[type=submit] {
  cursor: pointer;
  color: #FFF;
  background-color: #82B96A;
  border: none;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 12px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 10px 25px;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.acf-form-submit input, .wppb-user-forms input[type=submit]:hover {
  background-color: #5F9746;
}
.wp-register-form .wppb_holder form p {
  display: none;
}
.wp-register-form .wppb_holder form p.form-submit {
  display: block;
}
.cadastrado p.alert {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.cadastrado #wppb_general_top_error_message, .wppb-warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.cadastrado .wppb-form-error {
  color: #a94442;
  font-style: italic;
}


/* =============================
 * CUSTOM
 * ============================= */
.destaque {
  color: #46698C;
  font-weight: 900;
}
.btn-padrao {
  font-size: 18px;
  font-weight: normal !important;
  color: #fff !important;
  text-decoration: none !important;
  background-color: #82B96A;
  margin: 0px;
  padding: 10px 45px;
  line-height: 1.33333;
  border-radius: 6px;
  display: inline-block;
  background-image: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.btn-padrao:hover {
  background-color: #5F9746;
}


/* =============================
 * HEADER
 * ============================= */
#menu-1 {
  margin: 0px;
  min-height: 45px;
  border-bottom: solid 1px #C7D6D6;
  background-color: #4E759C;
}
#menu-1 .navbar-brand img {
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  height: auto;
  width: 119px;
  margin: 13px 15px 15px 30px;
}


/* =============================
 * FOOTER
 * ============================= */
.footer-content {
  display: none;

}
#footer-1 .footer-copyright {
  color: #999;
  font-size: 14px;
  margin-left: 300px;
}
#footer-1.footer-gero {
  margin-left: 0px;
  border-top: solid 1px #C7D6D6;
}
#footer-1.footer-gero .footer-copyright {
  margin-left: 0px;
}
#yeti {
  margin: 0 10px 0px 0;
}
#footer-1 .footer-copyright {
  padding: 10px 0px 10px 0px;
}



/* =============================
 * HOME
 * ============================= */
#home {
  padding: 0px;
}

#home .apresentacao, #home .cadastro {
  padding: 50px 50px 0px 80px;
  color: #fff;
}
#home h1{
  font-size: 45px;
  font-weight: 900;
  color: #fff;
  margin: 0px;
  text-align: center;
}
#home h2{
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  margin: 0px 0px 30px 0px;
  text-align: center;
}
#home  p{
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
#home .apresentacao .gero-action{
  text-align: center;
}
#home .apresentacao .gero-action img{
  margin-bottom: -50px;
  margin-top: 50px;
}

#home .cadastro {
  background-color: #4E759C;
  margin-left: -15px;
  margin-right: -15px;
  padding: 100px 50px 50px 80px;
}


/* =============================
 * SIDEBAR
 * ============================= */
.sidebar {
  width: 300px;
  background-color: #fff;
}
.sidebar .chamada {
  color: #46698C;
  font-size: 25px;
  text-align: center;
  margin: 30px 70px 0px 70px;
  border-bottom: solid 4px #C7D3E2;
  padding: 0px 0px 10px 0px;
}
.sidebar .sidebar-menu {
  margin-top: 20px;
}
.sidebar .form-container {
  position: relative;
  overflow: hidden;
  min-height: 410px;
  width: 100%;
  padding: 20px 30px 0px 30px;
}
.sidebar .wp-login, .sidebar .wp-register-form {
  position: absolute;
  width: 240px;
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
.sidebar .wp-register-form {
  left: 300px;
}
.wp-register-form ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.wp-register-form ul li{
  margin-bottom: 10px;
}
.wp-login .login-username label,  .wp-register-form .wppb-form-field label,  .wp-login .login-password label{
  display: block;
  float: none !important;
  text-align: left;
  width: 100% !important;
  font-weight: normal;
  font-size: 16px;
  color: #999999;
  margin: 0px;
}
.wp-register-form .wppb-form-field.wppb-send-credentials-checkbox label {
  font-size: 12px;
}
.wp-login .login-username input,  .wp-register-form input.text-input ,  .wp-login .login-password input{
  border: none;
  border-bottom: solid 1px #ccc;
  width:  100% !important;
}
.wp-login .login-username input:focus,  .wp-register-form input.text-input:focus,  .wp-login .login-password input:focus{
  outline: none;
}
.wp-login .login-remember{
  text-align:  left;
  font-size: 14px;
  color: #666666;
  margin-bottom: 0px;
}
.wp-login .login-submit input{
  width: 100%;
  font-size: 18px;
  color: #fff;
  background-color: #82B96A;
  margin: 0px;
  padding: 15px 10px;
}
.wp-login .wppb-error {
  font-size: 14px !important;
  line-height: 14px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
  text-align: left;
}
.wp-login .wppb-error a{
  color: #a94442;
  text-decoration: underline;
}
.wp-register a, .sidebar .wp-register {
  font-size: 14px;
  color: #666666;
}
.wp-register a {
  text-decoration: underline;
  font-weight: 900;
}
#home .sidebar .logo {
  width: 90px;
  height: auto;
  background-color: #fff;
}
#home .sidebar p {
  font-size: 14px;
}


#gero .sidebar .gero {
  width: 62px;
}
#gero .ola {
  margin: 40px 30px 50px 30px;
  color: #999;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
}
#gero .ola .navbar-default .navbar-collapse, #gero .ola .navbar-default .navbar-form {
  padding: 0px;
}
#gero .ola .navbar-default {
  background-color: transparent;
  border: none;
  min-height: auto;
  margin-bottom: 10px;
}
#gero .ola .navbar-default .navbar-nav>li>a {
  color: #444444;
  font-weight: 900;
  font-size: 20px;
  padding: 0px;
  background-color: #fff;
}
#gero .ola .navbar-default .navbar-nav>li>a .fa{
  font-weight: 400;
  font-size: 14px;
  position: relative;
  top: -5px;
}

.sidebar .perfil-obra {
  margin-top: 30px;
}
.sidebar .perfil-obra .titulo{
  padding-bottom: 5px;
  border-bottom: solid 1px #ccc;
}
.sidebar .perfil-obra .itens-obra{
  margin-top: 10px
}
.sidebar .perfil-obra .itens-obra .list-group-item{
  visibility: visible;
  top: 20px;
  font-size: 14px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.sidebar .perfil-obra .itens-obra .list-group-item select{
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px 0px;
  width: 100%;
  color: #000;
}
.sidebar .perfil-obra .itens-obra .list-group-item input{
  border: none;
  padding: 5px 0px;
  width: 100%;
  color: #000;
  background-image: url(../images/lapis.gif);
  background-repeat: no-repeat;
  background-position: right 8px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.sidebar .perfil-obra .itens-obra .list-group-item input[disabled]{
  background-image: none;
}
.sidebar .perfil-obra .itens-obra .list-group-item input:focus{
  background-image: none;
}
.sidebar .perfil-obra .itens-obra .list-group-item.monta{
  visibility: visible;
  top: 0px;
}
.sidebar .perfil-obra .itens-obra .list-group-item.item-visivel{
  visibility: visible;
  top: 0px;
}
.sidebar input[disabled], .sidebar .form-control[disabled], .sidebar .form-control[readonly], .sidebar fieldset[disabled] .form-control {
  background-color: #fff;
  opacity: 1;
}
.sidebar .perfil-obra .itens-obra .list-group-item select:disabled{
  /*For FireFox*/
  -webkit-appearance: none;
  /*For Chrome*/
  -moz-appearance: none;
}

/*For IE10+*/
.sidebar .perfil-obra .itens-obra .list-group-item select:disabled::-ms-expand {
  display: none;
}
.sidebar .perfil-obra .itens-obra .list-group-item label{
  font-weight: normal;
  font-size: 13px;
  font-style: italic;
}


/* =============================
 * GERO
 * ============================= */
#gero {
  padding: 45px 0px 0px 0px;
}


/* =============================
 * GERO CONVERSA
 * ============================= */
#etapas {
  background-image: url(../images/conversa_linha.png);
  background-position: center top;
  background-repeat: repeat-y;
  position: absolute;
  bottom: -785px;
  width: 100%;
  left: 0px;
  padding: 0px 20px;
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}
#gero .linha-conversa .fala-gero{

}
#gero .linha-conversa .fala-cliente{
  xmargin-top: 120px;
}
#gero .linha-conversa .fala-espaco{
  margin-top: 120px;
}
#gero .linha-conversa .fala-cliente .bloco-conversa{
  /*float: right; */
}
#gero .linha-conversa .bloco-conversa .balao{
  color: #999;
  font-size: 16px;
  line-height: 20px;
  float: left;
}
#gero .linha-conversa .fala-gero .balao{
  width: calc(100% - 70px);
}
#gero .linha-conversa .fala-cliente .bloco-conversa .balao{
  width: calc(100% - 70px);
}
#gero .linha-conversa .bloco-conversa .balao strong{
  color: #444;
  font-weight: 900;
}
#gero .linha-conversa .bloco-conversa .balao .balao-autor{
  padding: 5px 5px 5px 15px;
  font-size: 14px;
}
#gero .linha-conversa .fala-cliente .bloco-conversa .balao .balao-autor{
  text-align: right;
  padding: 5px 15px 5px 5px;
}
#gero .linha-conversa .bloco-conversa .balao .balao-conteudo{
  background-color: #FFFFFF;
  padding: 15px 15px 15px 30px;
  background-image: url(../images/balao_fundo_gero.png);
  background-position: left top;
  background-repeat: no-repeat;
}
#gero .linha-conversa .fala-cliente .bloco-conversa .balao .balao-conteudo{
  background-image: url(../images/balao_fundo_cliente.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 15px 30px 15px 15px;
}
#gero .linha-conversa .bloco-conversa .avatar{
  float: left;
  margin-top: 25px;
  width: 62px;
}
#gero .linha-conversa .fala-cliente .bloco-conversa .avatar{

}
.gero-loading {
  background-image: url(../images/gero_calculando_animado.gif);
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  background-color: #eee;
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}


/* =============================
 * CALCULOS
 * ============================= */
#calculos p, #planejamento p {
  font-size: 20px;
  color: #777;
}
#calculos strong {
  color: #000;
}
#calculos .calculo-info {
  text-align: center;
  margin-top: 30px;
}
#calculos .calculo-info .panel-default, #calculos .calculo-info .panel-heading{
  border: none;
}
#calculos .calculo-info .panel-heading{
  background-color: #4C6D94;
  color: #fff;
  font-size: 20px;
}
#calculos .calculo-info .panel-body{
  background-color: #fff;
  color: #444444;
  font-size: 25px;
  font-weight: 900;
  padding: 20px 20px;
}
#calculos .gero-avatar-calculos {
  width: 150px;
  margin-bottom: 30px;
}


/* =============================
 * CONTEUDO
 * ============================= */
.initialScreen{
  background-color: #8EAAC6;
}
.conteudo {
  margin-left: 300px;
}
#home .conteudo {
  background-color: #8EAAC6;
}
#gero .conteudo {
  background-color: #EFEFEF;
  border-left: solid 1px #C4D2D2;
  min-height: 500px;
  padding: 30px 30px 0px 30px;
  overflow: hidden;
  height: calc(100vh - 140px);
  position: relative;
}
#gero .conteudo.scroll {
  overflow-y: auto;
}
#gero .conteudo #perguntas {
  overflow: hidden;
  height:  calc(100vh - 430px);
}

#gero .conteudo #gero-perguntando {
  background-color: #fff;
  margin: 30px -45px 0px -45px;
  padding: 20px 10px;
  z-index: 100;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#gero .conteudo #gero-perguntando .pergunta {
  width: 100%;
  float: left;
}
#gero .conteudo #gero-perguntando .pergunta.proxima {
  /*display: none;*/
}
#gero .conteudo #gero-perguntando .pergunta .pergunta-estrutura label{
  display: block;
  float: none !important;
  text-align: left;
  width: 100% !important;
  font-weight: normal;
  font-size: 16px;
  color: #999999;
  margin: 0px;
}
#gero .conteudo #gero-perguntando .pergunta .pergunta-estrutura input{
  border: none;
  border-bottom: solid 1px #ccc;
  width: 100% !important;
  margin-top: 20px
}

::-webkit-input-placeholder { font-size: 14px; }
::-moz-placeholder { font-size: 14px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 14px; } /* ie */
input:-moz-placeholder { font-size: 14px; }

#gero .conteudo #gero-perguntando .pergunta .pergunta-estrutura input.duplo{
  border: none;
  border-bottom: solid 1px #ccc;
  width: 48% !important;
  margin-top: 20px;
  margin-right: 5px;
}
#gero .conteudo #gero-perguntando .pergunta .pergunta-estrutura input:focus{
  outline: none;
}
#gero .conteudo #gero-perguntando .gero-avatar-perguntando {
  float: left;
  width: 155px;
}
#gero .conteudo #gero-perguntando .gero-avatar-perguntando img{
  width: 150px;
}
#gero .conteudo #gero-perguntando .gero-perguntas {
  float: left;
  margin-left: 20px;
  width: calc(100% - 216px);
}
#gero .conteudo #gero-perguntando .gero-perguntas .btn-avancar{
  font-size: 18px;
  color: #fff;
  background-color: #82B96A;
  margin: 0px;
  padding: 10px 45px;
  line-height: 1.33333;
  border-radius: 6px;
  display: inline-block;
  background-image: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
#gero .conteudo #gero-perguntando .gero-perguntas .btn-avancar:hover {
  background-color: #5F9746;
}




/* =============================
 * CRONOGRAMA
 * ============================= */
.cronograma-container {
  overflow-x: scroll;
}
.cronograma * {
  font-size: 13px;
}
.cronograma thead td, .cronograma thead th {
  background-color: #8EAAC6;
  color: #fff;
}
.cronograma .duracao {
  text-align: center;
}
.cronograma .nome-tarefa, .cronograma tr td:first-child {
  min-width: 200px;
  text-align: right;
}
.cronograma.table>tbody>tr>td, .cronograma.table>tbody>tr>th, .cronograma.table>tfoot>tr>td, .cronograma.table>tfoot>tr>th, .cronograma.table>thead>tr>td, .cronograma.table>thead>tr>th {
  vertical-align: middle;
  border: solid 1px #fff;
}
.cronograma.table>tbody>tr>td.bg-danger {
  background-color: #f2dede;
  border: solid 2px #fff;
  border-radius: 9px;
  min-width: 35px;
}

.modal-header {
  background-color: #4C6D94;
  color: #fff;
  font-size: 20px;
}
.modal-body {
  overflow: scroll !important;
  padding: 20px !important;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
  text-align: center;
}
.close {
  color: #fff;
  filter: alpha(opacity=100);
  opacity: 1;
}
.close:hover {
  color: #ccc;
  filter: alpha(opacity=100);
  opacity: 1;
}

/* =============================
 * Regras de responsividade.
 * ============================= */
/* Dispositivos extra pequenos (smartphones, menores que 768px) */
@media (max-width: 767px) {

}


/* Dispositivos pequenos (tablets, maiores que 768px) */
@media (min-width: 768px) and (max-width: 991px){

}


/* Dispositivos de tamanho mediano (desktops, maiores que 992px) */
@media (min-width: 992px) and (max-width: 1199px) {

}


/* Dispositivos grandes (grandes desktops, maiores que 1200px) */
@media (min-width: 1200px) {

}
