/* Dispositivos extra pequenos (smartphones, menores que 768px) */
@media (max-width: 767px) {

    /* =============================
     * YETI LAB
     * ============================= */
    .y-box {
        display: inherit;
        width: auto;
        table-layout: auto;
    }
    .y-box-content {
        display: inherit;
        float: none;
        height: auto;
        vertical-align: auto;
    }
    .y-buttons .y-buttons-btn {
        width: 100%;
    }
    .y-thumb {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin: 0px 0px 20px 0px;
    }

    /* =============================
     * CONTACT
     * ============================= */
    /*
     * contact-1
     */
    .contact-1 .wpcf7-form .wpcf7-submit {
        width: 100%;
    }
    .contact-1 .y-text {
        text-align: center;
    }

    /* =============================
     * CONTENT
     * ============================= */
    /*
     * content-2
     */
    .content-2 {
        padding: 50px 0px;
    }
    .content-2 .content-info .y-header{
        margin: 0px;
    }
    .content-2 .y-header .y-header-title, .content-2 .y-header .y-header-subtitle, .content-2 .y-header .y-header-text {
        text-align: center;
    }
    .content-2 .content-info {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /*
     * content-3
     */
    .content-3 .content-info {
        top: auto;
        transform: none;
        position: relative;
        right: auto;
    }
    .content-3 .y-header .y-header-title, .content-3 .y-header .y-header-subtitle, .content-3 .y-header-text {
        text-align: center;
    }

    /*
     * content-5
     */
    .content-5 .bx-pager {
        display: none;
    }
    .content-5 .content-2 {
        padding-left: 25px;
        padding-right: 25px;
    }
    .content-5 .content-2 *{
        text-align: center;
    }
    .content-5 .content-2 .content-info {
        padding-left: 15px;
    }

    /*
     * content-6
     */
    .content-6 .y-item {
        text-align: center;
    }


    /* =============================
     * HEADER
     * ============================= */
    /*
     * header-2
     */
    .header-2 .form {
        margin-top: 0px;
    }

    /* =============================
     * MENU
     * ============================= */
    /*
     * #menu-1
     */
    #menu-1 .navbar-brand {
        padding: 0px;
    }
    #menu-1 .navbar-brand img{
        margin: 20px 15px;
        height: 15px;
    }
    #menu-1 .navbar-nav > li > a, #menu-1 .navbar-nav > li > a.resize {
        text-transform: uppercase;
        padding: 15px 15px;
        line-height: 15px;
        text-align: center;
    }
    #menu-1 .navbar-toggle .icon-bar {
     background-color: #000;
    }
    #menu-1 .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: transparent;
        background-color: #eee;
    }
    #menu-1 .navbar-toggle:focus, #menu-1 .navbar-toggle:hover {
        background-color: #eee;
    }
    #menu-1 .navbar-nav {
        margin: 0px -15px;
    }
    #menu-1 *{
        background-color: #fff;
        color: #000;
    }
    #menu-1 .navbar-nav > li > .dropdown-menu li a {
        text-align: center;
    }


    /* =============================
     * NEWS
     * ============================= */
    /*
     * news-1
     */
    .news-1 .btn {
        width: 100%;
        padding: 10px 0px;
    }
    .news-1 .new a .new-img img{
        width: 100%;
    }


    /* =============================
     * SLIDER
     * ============================= */
    /*
     * .slider-1
     */
     .slider-1 .owl-theme .owl-controls .owl-nav [class*="owl-"] {
         top: auto;
         bottom: 25px;
         font-size: 40px;
         height: 40px;
         margin-top: 0px;
    }

    /* =============================
     * TIMELINES
     * ============================= */
    /*
     * timeline-1
     */
    .timeline-1 .timeline-container {
        position: relative;
    }
    .timeline-1 .timeline {
        padding-left: 20px;
    }
    .timeline-1 ul li {
        float: left;
        display: block;
        position: relative;
    }
    .timeline-1 .separline:before {
        left: 0px;
        margin-top: 0;
    }
    .timeline-1 .date {
        top: 2px;
        padding-left: 37px;
        left: 0;
    }
    .timeline-1 .date-normal {
        margin-left: 0;
        padding-left: 0;
        float: left;
        width: auto;
        margin-left: 53px;
    }
    .timeline-1 .date-inverted {
        margin-left: 0;
        padding-left: 0;
        float: left;
        width: auto;
        margin-left: 53px;
        margin-right: 0;
    }
    .timeline-1 .date-inverted p {
        margin-bottom: 10px;
        padding-left: 0;
    }
    .timeline-1 .date-normal p {
        margin-bottom: 10px;
    }
    .timeline-1 .iconBackground {
        left: 0;
    }
    .timeline-1 .iconBackgroundInverse {
        left: 0;
        margin-left: -30px;
    }
    .timeline-1 ul li .timeline-panel {
        width: 95%;
        float: left !important;
        margin-top: 10px;
        position: relative;
    }
    .timeline-1 ul li .timeline-panel h4 {
        text-align: left;
    }
    .timeline-1 ul li .timeline-panel p {
        text-align: left;
    }
    .timeline-1 .separline:before {
        left: 0px;
        margin-top: 0;
    }
    .timeline-1 .title_wrapper {
        float: left;
        margin-left: 5px;
    }
    .timeline-1 .bottom_title_wrapper {
        margin-left: 20px;
    }
}


/* Dispositivos pequenos (tablets, maiores que 768px) */
@media (min-width: 768px) and (max-width: 991px){
    /* =============================
     * YETI LAB
     * ============================= */
    .y-card-text{
        min-height: 80px;
    }

    /* =============================
     * MENU
     * ============================= */
    /*
     * #menu-1
     */
    #menu-1 .navbar-brand {
        margin: 0px auto;
        display: block;
    }
    #menu-1 .navbar-brand .resize {
        margin: 12px 15px;
    }
    #menu-1 .navbar-brand img {
        margin: 12px 15px;
    }
    #menu-1 .navbar-header {
        float: none;
    }
    #menu-1 .navbar-right {
        float: none !important;
    }
    #menu-1 .navbar-nav > li > a {
        padding: 10px;
    }
    #menu-1 .navbar-nav > li > a.resize {
        padding: 4px 10px;
    }

}


/* Dispositivos de tamanho mediano (desktops, maiores que 992px) */
@media (min-width: 992px) and (max-width: 1199px) {

}


/* Dispositivos grandes (grandes desktops, maiores que 1200px) */
@media (min-width: 1200px) {

}
