<template>
  <!-- GERO Perguntando -->
  <div id="gero-perguntando" class="row">

    <!-- Pergunta Inicial -->
    <div class="pergunta anime bonce animated" id="pergunta-inicial" data-wow-offset="80" data-wow-delay="2.8s" style="visibility: visible; animation-delay: 2.8s;" v-if="passos === 0">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="obra_estado">Vamos começar então?</label>
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-inicial" class="btn-avancar anime tada" value="Vamos!" data-wow-offset="80" data-wow-delay="6.0s" style="visibility: visible; animation-delay: 6s; animation-name: tada;" type="button" @click="proximoPasso()">
        </p>
      </div>
    </div><!-- /.pergunta -->


    <!-- Pergunta 1 -->
    <div class="pergunta proxima" id="pergunta1" v-else-if="passos === 1">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="obra_estado">Em qual estado está localizada sua obra?</label>
          <select class="form-control" v-model="local">
            <option value="AL">Alagoas</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
          </select>
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-1" class="btn-avancar" value="Avançar" type="button" @click="atualizaLocal()">
        </p>
      </div>
    </div><!-- /.pergunta -->

    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta2" v-else-if="passos === 2">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraAreaConstruida">Qual o porte dela?</label>
          <input v-model.number="area" class="input duplo" size="20" placeholder="Qual a área construída em m²" type="number">
          <input v-model.number="pavimentos" class="input duplo" size="20" placeholder="E qual a quantidade de pavimentos" type="number">
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-2" class="btn-avancar" value="Avançar" type="button" @click="atualizaArea(),atualizaPavimentos()">
        </p>
      </div>
    </div><!-- /.pergunta -->

    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta3" v-else-if="passos === 3">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraEstado">Ela possui acabamento interno?</label>
          <select class="form-control" v-model.number="acabamento">
            <option value="1">Não</option>
            <option value="2">Sim, de baixo padrão</option>
            <option value="3">Sim, de médio padrão</option>
            <option value="4">Sim, de alto padrão</option>
          </select>
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-3" class="btn-avancar" value="Avançar" type="button" @click="atualizaAcabamento()">
        </p>
      </div>
    </div><!-- /.pergunta -->

    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta4" v-else-if="passos === 4">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraEstado">Possui algum revestimento externo?</label>
          <select class="form-control" v-model.number="revestimento">
            <option value="0">Não</option>
            <option value="1">Sim, com pintura</option>
            <option value="2">Sim, com cerâmica</option>
          </select>
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-4" class="btn-avancar" value="Avançar" type="button" @click="atualizaRevestimento()">
        </p>
      </div>
    </div><!-- /.pergunta -->

    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta4" v-else-if="passos === 5">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraEstado">Dê um nome para o seu perfil de obra</label>
          <input type="text" class="input" v-model="nome" placeholder="Ex: Obra Prédio Village Empresarial" />
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-4" class="btn-avancar" value="Avançar" type="button" @click="atualizaNome()">
        </p>
      </div>
    </div><!-- /.pergunta -->

    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta4" v-else-if="passos === 6">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraEstado">Quando você pretende começar sua obra?</label>
          <input type="text" v-model="inicio" class="input" placeholder="ex: yyyy-dd-mm, se não sabe o dia de inicio deixe no primeiro dia do mês 2018-01-12" />
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-4" class="btn-avancar" value="Avançar" type="button" @click="atualizaInicio()">
        </p>
      </div>
    </div><!-- /.pergunta -->

    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta5" v-else="passos === 7">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraEstado">Muito bem George. Agora já posso trabalhar! <strong>Antes</strong>, verifique na coluna a esquerda se o perfil da sua obra está correto. Se necessário, altere alguma informação e continue.</label>
        </p>
        <form>
          <p class="submit">
            <input name="avancar" id="etapa-5" class="btn-avancar" value="Vamos lá! GERO!" type="button" @click="enviar()">
          </p>
        </form>
      </div>
    </div><!-- /.pergunta -->
  </div><!-- /.gero-perguntando -->
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import { salvarObra } from '../../../../utils/logs'
export default {
  name: 'chat',
  data: () => ({
    local: '',
    area: '',
    pavimentos: '',
    acabamento: 1,
    revestimento: 0,
    nome: '',
    inicio: ''
  }),
  computed: {
    ...mapGetters([
      'passos'
    ])
  },
  methods: {
    ...mapActions([
      'calcularResultado'
    ]),
    proximoPasso () {
      this.$store.commit('MUDAR_PASSOS', {passos: this.passos + 1})
    },
    atualizaLocal () {
      this.$store.commit('MUDAR_LOCAL', {local: this.local})
      this.$store.commit('MUDAR_PASSOS', {passos: this.passos + 1})
    },
    atualizaNome () {
      this.$store.commit('MUDAR_NOME', {nome: this.nome})
      this.$store.commit('MUDAR_PASSOS', {passos: this.passos + 1})
    },
    atualizaInicio () {
      this.$store.commit('MUDAR_INICIO', {local: this.inicio})
      this.$store.commit('MUDAR_PASSOS', {passos: this.passos + 1})
    },
    atualizaArea () {
      this.$store.commit('MUDAR_AREA', {area: this.area})
    },
    atualizaPavimentos () {
      this.$store.commit('MUDAR_PAVIMENTOS', {pavimentos: this.pavimentos})
      this.$store.commit('MUDAR_PASSOS', {passos: this.passos + 1})
    },
    atualizaAcabamento () {
      this.$store.commit('MUDAR_ACABAMENTO', {acabamento: this.acabamento})
      this.$store.commit('MUDAR_PASSOS', {passos: this.passos + 1})
    },
    atualizaRevestimento () {
      this.$store.commit('MUDAR_REVESTIMENTO', {revestimento: this.revestimento})
      this.$store.commit('MUDAR_PASSOS', {passos: this.passos + 1})
    },
    enviar () {
      this.$store.commit('MUDAR_CARREGANDO', {carregando: true})
      this.calcularResultado()
      .then(() => {
        salvarObra({
          local: this.$store.getters.local,
          area: this.$store.getters.area,
          pavimentos: this.$store.getters.pavimentos,
          acabamento: this.$store.getters.acabamento,
          revestimento: this.$store.getters.revestimento,
          nome: this.$store.getters.nome,
          inicio: this.$store.getters.inicio,
          usuario: {
            id: this.$store.getters.usuario.id,
            nome: this.$store.getters.usuario.nome
          }
        })
        this.$store.commit('MUDAR_PASSOS', {passos: 0})
        this.$store.commit('MUDAR_CARREGANDO', {carregando: false})
        this.$router.push({path: '/gero/resultado'})
      })
    }
  }
}
</script>
<style scoped>
.proxima {
  display: block !important;
}
</style>
