<template>
<div class="row" id="perguntas">
      <div id="etapas" :style="{bottom: posicao+'px'}">
        <div class="row linha-conversa etapa-1">
          <div class="col-sm-6 fala-gero anime fadeInUp" data-wow-offset="80" data-wow-delay="0.2s" style="visibility: hidden;">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo"><strong>Olá {{usuario.nome|capitalize}}!</strong><br> Eu preciso saber algumas características da sua obra para poder lhe ajudar a executá-la. Posso fazer algumas perguntas?</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 fala-cliente fala-espaco anime fadeInUp" data-wow-offset="80" data-wow-delay="2.0s" style="visibility: hidden;">
            <div class="bloco-conversa">
              <div class="balao">
                <div class="balao-autor">VOCÊ</div>
                <div class="balao-conteudo">Olá Gero! Claro, vamos em frente.</div>
              </div>
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 fala-gero anime fadeInUp" data-wow-offset="80" data-wow-delay="4.0s" style="visibility: hidden;">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo">Em qual estado está localizada sua obra?</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row linha-conversa etapa-1">
          <div class="col-sm-6 fala-gero fala-espaco">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo">Qual o porte dela?</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 fala-cliente">
            <div class="bloco-conversa">
              <div class="balao">
                <div class="balao-autor">VOCÊ</div>
                <div class="balao-conteudo">A obra será <strong>{{local|textoEstado}}</strong></div>
              </div>
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row linha-conversa etapa-1">
          <div class="col-sm-6 fala-gero fala-espaco">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo">Ela possui acabamento interno?</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 fala-cliente">
            <div class="bloco-conversa">
              <div class="balao">
                <div class="balao-autor">VOCÊ</div>
                <div class="balao-conteudo">A área construída é de <strong>{{area}} m²</strong> e <strong>{{pavimentos}}</strong> pavimentos.</div>
              </div>
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row linha-conversa etapa-1">
          <div class="col-sm-6 fala-gero fala-espaco">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo">Ela possui revestimento externo?</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 fala-cliente">
            <div class="bloco-conversa">
              <div class="balao">
                <div class="balao-autor">VOCÊ</div>
                <div class="balao-conteudo">A obra <strong>{{acabamento|textoAcabamento}}</strong> acabamento.</div>
              </div>
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row linha-conversa etapa-1">
          <div class="col-sm-6 fala-gero fala-espaco">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo">Dê um nome pra sua obra por favor.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 fala-cliente">
            <div class="bloco-conversa">
              <div class="balao">
                <div class="balao-autor">VOCÊ</div>
                <div class="balao-conteudo">A obra será <strong>{{revestimento|textoRevestimento}}</strong></div>
              </div>
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row linha-conversa etapa-1">
          <div class="col-sm-6 fala-gero fala-espaco">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo">Quando você pretende começar sua obra?</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 fala-cliente">
            <div class="bloco-conversa">
              <div class="balao">
                <div class="balao-autor">VOCÊ</div>
                <div class="balao-conteudo">A obra terá o nome de <strong>{{nome}}</strong></div>
              </div>
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row linha-conversa etapa-1">
          <div class="col-sm-6 fala-gero fala-espaco">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo">Muito bem {{usuario.nome|capitalize}}. Agora já posso trabalhar!</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 fala-cliente">
            <div class="bloco-conversa">
              <div class="balao">
                <div class="balao-autor">VOCÊ</div>
                <div class="balao-conteudo">A obra irá começar em <strong>{{inicio}}</strong></div>
              </div>
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'conversa',
  computed: {
    ...mapGetters([
      'local',
      'area',
      'pavimentos',
      'acabamento',
      'revestimento',
      'usuario',
      'nome',
      'inicio',
      'passos'
    ]),
    posicao () {
      let valor = [-1300, -1140, -925, -700, -475, -265, -35, 200]
      return valor[this.$store.getters.passos]
    }
  },
  filters: {
    capitalize (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
    textoRevestimento (val) {
      let texto = {0: 'sem revestimento.', 1: 'revestida com pintura.', 2: 'revestida com cerâmica.'}
      return texto[val]
    },
    textoAcabamento (val) {
      let texto = {1: 'será sem', 2: 'terá baixo padrão de', 3: 'terá médio padrão de', 4: 'terá alto padrão de'}
      return texto[val]
    },
    textoEstado (val) {
      let texto = {
        'AL': 'em Alagoas',
        'AM': 'no Amazonas',
        'BA': 'na Bahia',
        'CE': 'no Ceará',
        'DF': 'no Distrito Federal',
        'ES': 'no Espirito Santo',
        'GO': 'em Goiás',
        'MA': 'no Maranhão',
        'MT': 'em Mato Grosso',
        'MS': 'em Mato Grosso do Sul',
        'MG': 'em Minas Gerais',
        'PA': 'no Pará',
        'PB': 'na Paraíba',
        'PR': 'no Paraná',
        'PE': 'em Pernambuco',
        'RJ': 'no Rio de Janeiro',
        'RS': 'em Rio Grande do Sul',
        'RO': 'em Rondônia',
        'SC': 'em Santa Catarina',
        'SP': 'em São Paulo',
        'SE': 'em Sergipe'
      }
      return texto[val]
    }
  },
  methods: {
    proximoPasso () {
      this.passos++
    }
  }
}
</script>
<style>
</style>
