<template>
  <!-- ----------
  CONTEUDO
  ------------ -->
  <!--<div class="conteudo">
    <div style="margin-left: 0px;" class="conteudo">
      <div class="container-fluid">
        <conversa></conversa>
        <chat></chat>
      </div>
    </div>
  </div>-->


  <div class="gero">

      <!-- SIDEBAR ESQUERDA -->
      <nav class="sidebar">
        <div class="sidebar-sticky">

          <!-- Avatar -->
          <div class="avatar">
            <img style="height: 120px;" src="../../../../assets/images/gero_sorrindo.png"></img>
          </div>

          <!-- Infos -->
          <div class="infos gero-fala">
            <h4 style="color: #219cd0; font-weight: 600;">Olá {{nomeUser}}!</h4>
            <p>Estou muito animado em poder ajudá-lo a planejar e executar sua obra.</p>
          </div>

        </div>
      </nav>

      <!-- CONTEÚDO -->
      <main role="main" class="chatBack">
        <div id="chatScroll" class="chatBackground">
          <ol class="chat">
          <li class="other anime fadeInUp" data-wow-delay="0.0s">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Eu preciso saber algumas características<br> da sua obra para poder lhe ajudar a executá-la.<br> Posso fazer algumas perguntas?</p>
            </div>
          </li>
          <li class="self anime fadeInUp" data-wow-delay="1.0s">
              <div class="avatar"><img src="../../../../assets/images/avatar_cliente.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>VOCÊ</strong></p>
              <p>Olá Gero! Claro, vamos em frente.</p>
            </div>
          </li>
          <li class="other anime fadeInUp" data-wow-delay="2.0s">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Antes de mais nada, qual o seu nome?</p>
            </div>
          </li>
          <li v-if="etapa >= 1" class="self">
              <div class="avatar"><img src="../../../../assets/images/avatar_cliente.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>{{nomeUser}}</strong></p>
              <p>Meu nome é {{nomeUser}}</p>
            </div>
          </li>
          <li v-if="etapa >= 1" class="other">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Qual a área construída em m²?</p>
            </div>
          </li>
          <li v-if="etapa >= 2" class="self">
              <div class="avatar"><img src="../../../../assets/images/avatar_cliente.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>{{nomeUser}}</strong></p>
              <p>A área construída mede {{area}} m²</p>
            </div>
          </li>
          <li v-if="etapa >= 2" class="other">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Qual o número de pavimentos?</p>
            </div>
          </li>
          <li v-if="etapa >= 3" class="self">
              <div class="avatar"><img src="../../../../assets/images/avatar_cliente.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>{{nomeUser}}</strong></p>
              <p>São {{pavimentos}} pavimentos</p>
            </div>
          </li>
          <li v-if="etapa >= 3" class="other">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Ela possui acabamento interno?</p>
            </div>
          </li>
          <li v-if="etapa >= 4" class="self">
              <div class="avatar"><img src="../../../../assets/images/avatar_cliente.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>{{nomeUser}}</strong></p>
              <p v-if="acab > 1">Acabamento de {{acabamentos[acab]}}</p>
              <p v-else>{{acabamentos[acab]}}</p>
            </div>
          </li>
          <li v-if="etapa >= 4" class="other">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Ela possui revestimento externo?</p>
            </div>
          </li>
          <li v-if="etapa >= 5" class="self">
              <div class="avatar"><img src="../../../../assets/images/avatar_cliente.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>{{nomeUser}}</strong></p>
              <p v-if="revest > 1">Acabamento de {{revestimento[revest]}}</p>
              <p v-else>{{revestimento[revest]}}</p>
            </div>
          </li>
          <li v-if="etapa >= 5" class="other">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Dê um nome a sua obra, por favor.</p>
            </div>
          </li>
          <li v-if="etapa >= 6" class="self">
              <div class="avatar"><img src="../../../../assets/images/avatar_cliente.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>{{nomeUser}}</strong></p>
              <p>Minha obra vai se chamar {{nomeObra}}</p>
            </div>
          </li>
          <li v-if="etapa >= 6" class="other">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Quando sua obra vai iniciar?</p>
            </div>
          </li>
          <li v-if="etapa >= 7" class="self">
              <div class="avatar"><img src="../../../../assets/images/avatar_cliente.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>{{nomeUser}}</strong></p>
              <p>Minha obra vai iniciar no dia {{dataObra}}</p>
            </div>
          </li>
          <li v-if="etapa >= 7" class="other">
            <div class="avatar"><img src="../../../../assets/images/pngs/chat_avatar_gero.png" draggable="false"/></div>
            <div class="msg">
              <p><strong>GERO</strong></p>
              <p>Muito bem, {{nomeUser}}. Agora já posso trabalhar! <br><strong>Antes</strong>, verifique na coluna à direita<br> se o perfil da sua obra está correto.<br> Se necessário, altere alguma informação<br> e continue.</p>
            </div>
          </li>
          </ol>
        </div>
        <div style="height: 100%;">
          <div style="float: left;">
            <img style="height: 130px;" src="../../../../assets/images/gero_sorrindo.png"></img>
          </div>
          <div style="margin-left: 150px;">
            <p v-if="etapa === 0" style="margin-top: 13px;">Meu nome é </p>
            <p v-else-if="etapa === 1" style="margin-top: 13px;">A área construída mede </p>
            <p v-else-if="etapa === 2" style="margin-top: 13px;">A obra possui </p>
            <p v-else-if="etapa === 3" style="margin-top: 13px;">Acabamento de</p>
            <p v-else-if="etapa === 4" style="margin-top: 13px;">Revestimento</p>
            <p v-else-if="etapa === 5" style="margin-top: 13px;">Minha obra vai se chamar</p>
            <p v-else-if="etapa === 6" style="margin-top: 13px;">Minha obra vai iniciar no dia</p>

            <input style="border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black;" v-on:keyup.enter="getAnswer(resposta)" v-if="etapa < 3 || (etapa > 4 && etapa < 7)" placeholder="Sua resposta aqui" v-model='resposta' type="text"/>
            <select style="margin-top: 10px; width: 40%; height: 20px; border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black;" v-if="etapa === 3" v-model.number="acab">
              <option value="1" selected>Sem acabamento</option>
              <option value="2">Baixo padrão</option>
              <option value="3">Médio padrão</option>
              <option value="4">Alto padrão</option>
            </select>
            <select style="height: 20px; border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black; margin-top: 10px; width: 40%;" v-if="etapa === 4" v-model.number="revest">
              <option value="1" selected>Sem revestimento</option>
              <option value="2">Com pintura</option>
              <option value="3">Com cerâmica</option>
            </select>
            <br><br><button v-if="etapa < 7" @click='getAnswer(resposta)' class="myButton">AVANÇAR</button>
            <button @click="entrar()" v-if="etapa >= 7" class="myButton">VAMOS!!!</button>
          </div>
        </div>
      </main>
      <!-- SIDEBAR DIREITA -->
      <nav class="sidebar sidebar-right">
        <div class="sidebar-sticky">
          <div style="font-size: 12px;">
            <div style="background-color: #e2eaf1; margin-right: 20px; padding: 5px; text-align: center; font-size: 15px;"><strong>PERFIL DE SUA OBRA:</strong></div><br>
            <div>Área construída em m²:<input style="height: 20px; border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black;" v-model.number="area" size="20" placeholder="Área construída em m²" type="number"></div>
            <div>Número de pavimentos:<input style="height: 20px; border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black;" v-model="pavimentos" size="20" placeholder="Número de pavimentos" type="number"></div>
            <div>Tipo de acabamento:<select style="height: 20px; border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black;" v-model.number="acab">
              <option value="1">Sem acabamento</option>
              <option value="2">Baixo padrão</option>
              <option value="3">Médio padrão</option>
              <option value="4">Alto padrão</option>
            </select></div>
            <div>Tipo de revestimento:<select style="height: 20px; border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black;" v-model.number="revest">
              <option value="1" selected>Sem revestimento</option>
              <option value="2">Com pintura</option>
              <option value="3">Com cerâmica</option>
            </select></div>
            <div>Nome do perfil da obra:<input style="height: 20px; border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black;" v-model="nomeObra" size="20" placeholder="Nome do perfil da obra" type="text"></div>
            <div>Data do início da obra:<input style="height: 20px; border-top: 0px solid black; border-left: 0px solid black; border-right: 0px solid black;" v-model="dataObra" size="20" placeholder="Data de inicio da obra" type="text"></div>
          </div>
        </div>
      </nav>
    </div>
</template>
<script>
import * as $ from 'jquery'
import conversa from './conversa'
import chat from './chat'
export default{
  name: 'secaoInterna',
  components: {
    conversa,
    chat
  },
  updated () {
    $('#chatScroll').animate({ scrollTop: $('#chatScroll').prop('scrollHeight') }, 1500)
  },
  methods: {
    getAnswer (ans) {
      if (this.etapa === 0) {
        this.nomeUser = ans
      } else if (this.etapa === 1) {
        this.area = ans
      } else if (this.etapa === 2) {
        this.pavimentos = ans
      } else if (this.etapa === 5) {
        this.nomeObra = ans
      } else if (this.etapa === 6) {
        this.dataObra = ans
      }
      this.resposta = ''
      this.etapa++
    },
    entrar () {
      this.$router.push({path: '/gero/planejamento'})
    }
  },
  data () {
    return {
      resposta: '',
      etapa: 0,
      nomeUser: '',
      area: 0,
      pavimentos: 0,
      acab: 1,
      acabamentos: [
        '',
        'Sem acabamento',
        'Baixo padrão',
        'Médio padrão',
        'Alto padrão'
      ],
      revest: 1,
      revestimento: [
        '',
        'Sem revestimento',
        'Com pintura',
        'Com cerâmica'
      ],
      nomeObra: '',
      dataObra: ''
    }
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900');
strong{
  color: #219cd0;
}
::-webkit-scrollbar {
    display: none;
}

.chatBack{
  background-image: url('../../../../assets/images/bg.png');
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.chatBackground{
  font-family: 'Source Sans Pro', sans-serif;
  max-height: 380px;
  width: auto;
  overflow-y: auto;
}

.myButton{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #219cd0;
  border: none;
  color: white;
  padding: 0px 32px;
  text-align: center;
  font-size: 16px;
  width: 230px;
  cursor: pointer;
}

::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}
a{
  color: rgba(82,179,217,0.9);
}

/* M E N U */


/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
    box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.other .msg {
    order: 1;
    margin-left: 10px;
    /* border-radius */
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 5px;
  /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
   box-shadow: rgba(0,0,0,0.4) 0 0 10px;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    margin-right: 10px;
    /* border-radius */
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 5px;
  /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
   box-shadow: rgba(0,0,0,0.4) 0 0 10px;
}
.self .avatar {
    order: 2;
}

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    font-size: 17px;
    margin: 0 0 0.2rem 0;
    color: #777;
}
.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@media screen and (max-width: 800px) {
    .msg img {
    width: 300px;
}
}
@media screen and (max-width: 550px) {
    .msg img {
    width: 200px;
}
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

/* T Y P E */

input.textarea {
    width: 50%;
    height: 50px;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}



/* =============================
 * Estilos personalizados.
 * ============================= */
body {
  background-color: #F5F5F5;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}


/*
 * GERO
 */
.gero-fala {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.gero-fala .destaque{
  font-weight: 600;
}



/*
 * MAIN
 */
main {
  background-color: #F5F5F5;
  background-image: url(/assets/img/tela_03_bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
  float: none !important;
  margin-right: 260px;
  margin-left: 260px;
  padding: 30px 15px;
}
main .canto-esq{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
main .canto-dir{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
}

main .container-fluid {

}

/*
 * Moldura
 */
main .moldura .topo {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #44637D;
  height: 87px;
  color: #93ABB9;
  overflow: hidden;
}
main .moldura .topo .col-40{
  float: left;
  width: 40%;
  padding: 20px;
}
main .moldura .topo .col-60{
  width: 60%;
  float: left;
  height: 87px;
  vertical-align: middle;
  background-color: #597995;
  padding: 27px 20px;
}
main .moldura .topo .titulo{
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
main .moldura .topo .titulo h3{
  font-size: 25px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: 0px;
}
main .moldura .topo h4{
  font-size: 16px;
  color: #DCE3E9;
}
.moldura .conteudo {
  xbackground-color: #FFF;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0px 10px;
  border-top: solid 1px #CFD4D9;
  overflow: hidden;
}
.moldura .conteudo .table{
  margin-bottom: 0px;
}
.moldura .conteudo .table thead {
  background-image: url(/assets/img/thead-bg.png);
  background-repeat: repeat-x;
  background-position: top left;
  background-color: #219CD0;
  color: #fff;
}
.moldura .conteudo .table thead th{
  border: none;
}
.moldura .conteudo .table>tbody>tr>td, .moldura .conteudo .table>tbody>tr>th, .moldura .conteudo .table>tfoot>tr>td, .moldura .conteudo .table>tfoot>tr>th, .moldura .conteudo .table>thead>tr>td {
  border-top: 3px dotted #eee;
}
.moldura .conteudo .table>tbody>tr {
  background-color: #FFF;
  color: #44637D;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
}
.moldura .conteudo .table>tbody>tr:last-child {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.moldura .conteudo .table>tbody>tr:first-child>td {
  border-top: none;
}
.moldura .conteudo .table>thead>tr:first-child>th {
  border-left: 2px dotted #DCE3E9;
}
.moldura .conteudo .table>thead>tr:first-child>th:first-child {
  border-left: none;
}

/*
 * SIDEBAR
 */

.sidebar, .sidebar-right {
  top: 80px;
  position: fixed;
  padding: 0;
  width: 260px;
  float: none;
  background-color: #FFF;
}
.sidebar-right {
  right: 0px;
  background-color: #FFF;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  height: calc(100vh - 48px);
  padding: 0px 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar h2 {
  color: #12A9EB;
  font-size: 26px;
}
.sidebar h2:first-of-type {
  margin-top: 10px;
}

.sidebar .avatar {
  background-color: #E2EAF1;
  border-radius: 90px;
  width: 130px;
  height: 130px;
  margin: 0px auto;
}
.sidebar img {
  width: 70px;
  height: auto;
  margin: 0px auto;
  display: block;
  padding: 22px 0px;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


/*
 * Navbar
 */
.navbar {
  background-color: #FFF;
  margin-bottom: 0px;
  min-height: 80px;
}

.navbar-brand {
  float: left;
  height: auto;
  width: 100px;
  padding: 20px 0px 0px 30px;
  line-height: 20px;
  display: block;
  box-sizing: content-box;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


/*
 * FOOTER
 */
footer {
  background-color: #F5F5F5;
  position: relative;
  background-color: #F5F5F5;
  position: relative;
  border-top: solid 50px #FFF;
  padding: 20px 20px;
  color: #94ABBA;
  font-size: 14px;
}



/* =============================
 * Regras de responsividade.
 * ============================= */
/* Dispositivos extra pequenos (smartphones, menores que 768px) */
@media (max-width: 767px) {

}


/* Dispositivos pequenos (tablets, maiores que 768px) */
@media (min-width: 768px) and (max-width: 991px){

}


/* Dispositivos de tamanho mediano (desktops, maiores que 992px) */
@media (min-width: 992px) and (max-width: 1199px) {

}


/* Dispositivos grandes (grandes desktops, maiores que 1200px) */
@media (min-width: 1200px) {

}

</style>
