<template>
  <div>
    <div class="container container-table">
        <div class="row">
          <div class="content">
            <div class="loginField text-center col-md-4 col-sm-offset-4">
              <img src="../../../../assets/images/pngs/gero_topo_popup.png" class="logo">
              <p style="margin-bottom: 70px; font-size: 30px;"><strong>VAMOS LÁ!!</strong></p>
              <!-- login form -->
              <div v-if="register">
                <div class="ui form loginForm">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" name="name" placeholder="NOME" type="text" v-model="nome">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" name="nomeDaEmpresa" placeholder="EMAIL" type="text" v-model="email">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" name="nomeDaEmpresa" placeholder="NOME DA EMPRESA" type="text" v-model="nomeEmpresa">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input class="form-control" name="Email" placeholder="SENHA" type="text" v-model="senha">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input class="form-control" name="Email" placeholder="CONFIRME A SENHA" type="text" v-model="confirmaSenha">
                  </div>
                  <div class="text-center">
                    <button type="submit" v-on:click="entrar()" v-bind:class="'btn btn-success btn-lg'">Cadastrar</button>
                  </div>
                  <br>
                  <div class="text-center">
                    <button type="submit" v-on:click="register = !register" v-bind:class="'btn btn-success btn-sm'">Voltar</button>
                  </div>
                </div>
              </div>
              <div v-else>
                <div class="ui form loginForm">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" name="username" placeholder="Username" type="text" v-model="email">
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input class="form-control" name="password" placeholder=" Password" type="password" v-model="senha">
                  </div>
                  <label class="container2">MANTENHA-ME CONECTADO
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  <div class="text-center">
                    <button type="submit" v-on:click="entrar()" class='btn btn-success btn-lg'>Entrar</button>
                  </div>
                  <br>
                </div>
              </div>
              <!-- errors
              <div v-if=response class="text-red"><p>{{response}}</p></div> -->
            </div>
          </div>
        </div>
        <div class="row">
          <a v-if="!register" href="#" style="text-align: center; margin-top: 0px; width: 300px;" class="center-block" v-on:click="register = !register">Esqueceu a senha?</a>
        </div>
        <div class="row">
          <a v-if="!register" href="#" style="text-align: center; margin-top: 0px; margin-bottom: 50px; width: 300px;" class="center-block" v-on:click="register = !register">Ainda não possuo cadastro?</a>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'LateralLogin',
  data: () => ({
    email: 'antonio@eunos.com.br',
    senha: '***************',
    lembrar: false,
    register: false
  }),
  methods: {
    entrar () {
      this.$router.push({path: '/gero/chatbot'})
      /* this.login({
        email: this.email,
        senha: this.senha,
        lembrar: this.lembrar
      })
      .then(() => {
        this.$router.push({
          path: '/gero/listaperfilobras'
        })
      }) */
    }
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900');
html, body, .container-table {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
strong{
  font-weight: 800;
  color: #219cd0;
}
.content{
  background-image: url('../../../../assets/images/pngs/tela_01_bg.jpg');
  background-attachment: fixed;
  margin: 50px 10px 0px 10px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 400px;
  z-index: -20;
}
.container-table {
    display: table;
    color: white;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.vertical-20p {
  padding-top: 20%;
}
.vertical-10p {
  padding-top: 10%;
}
.logo {
  margin-top: -110px;
  margin-bottom: 20px;
}
.loginField{
  border-radius: 3px;
  padding: 30px;
  margin-bottom: 50px;
  margin-top: 0px;
  background-color: #fff;
  color: black;
  /* border-radius */
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 5px;
/* box-shadow */
 -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
 -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
 box-shadow: rgba(0,0,0,0.4) 0 0 10px;
}
.loginForm .input-group {
  padding-bottom: 1em;
  height: 4em;
}
.input-group input {
  height: 4em;
}
/*CheckBox*/
/* The container */
.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>
