<template>
  <!-- ----------
SIDEBAR
------------ -->
<div class="sidebar">
  <div class="sidebar-menu affix">
    <img src="../../../../assets/images/gero_sorrindo.png" title="Gero Obras" class="gero">

    <div class="ola">

      <menulateral></menulateral>

      <!-- ----------
      TEXTOS
      ------------ -->
      <div class="info-textos">
        Estou muito animado em poder ajudá-lo a planejar e executar sua obra.
      </div>

      <perfilobra></perfilobra>

    </div><!-- /.ola -->




  </div><!-- /.sidebar-conteudo -->
</div><!-- /.sidebar -->
</template>
<script>
import menulateral from './menulateral.vue'
import perfilobra from './perfilobra.vue'
export default{
  name: 'lateralInterna',
  components: {
    menulateral,
    perfilobra
  }
}
</script>
<style>
</style>
