<template>
  <nav class="navbar navbar-default navbar-static" id="navbar-example">
    <div class="navbar-header">
      <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="drop1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            Olá {{usuario.nome|capitalize}}!
          </a>
          <ul class="dropdown-menu" aria-labelledby="drop1">
            <li class=""><router-link to="/gero/usuario">Meu perfil</router-link></li>
            <li class=""><router-link to="/gero/usuario">Minhas obras</router-link></li>
            <li><a @click="sair()">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default{
  name: 'menulateral',
  computed: {
    ...mapGetters([
      'usuario'
    ])
  },
  filters: {
    capitalize (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  methods: {
    ...mapActions([
      'logout'
    ]),
    sair () {
      this.logout()
      .then(() => {
        this.$router.push({path: '/'})
      })
    }
  }
}
</script>
<style scoped>
.dropdown:hover ul{
  display: block;
}
</style>
