<template>
  <!-- ----------
  PERFIL DA OBRA
  ------------ -->
  <div class="perfil-obra">
    <div class="titulo" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">Perfil da sua obra:</div>

    <ul class="list-group itens-obra">
      <li class="list-group-item item-estado" :style="{ visibility: okLocal}">
        <label for="obra_estado">Local da sua obra:</label>
        <select class="form-control" v-model="localInput" @change="atualizaLocal()">
          <option value="AL">Alagoas</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MG">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
        </select>
      </li>
      <li class="list-group-item item-padrao-area" :style="{ visibility: okArea}">
        <label for="ObraAreaConstruida">Área construída em m²:</label>
        <input class="input" v-model.number="areaInput" size="20" placeholder="Qual a área construída em m²" type="text" @input="atualizaArea">
      </li>
      <li class="list-group-item item-padrao-pavimentos" :style="{ visibility: okPavimentos}">
        <label for="ObraAreaConstruida">Nº de pavimentos:</label>
        <input v-model="pavimentosInput" class="input" size="20" placeholder="E qual a quantidade de pavimentos" type="text" @input="atualizaPavimentos">
      </li>
      <li class="list-group-item item-acabamento" :style="{ visibility: okAcabamento}">
        <label for="ObraAreaConstruida">Tipo de acabamento:</label>
        <select class="form-control" v-model.number="acabamentoInput" @change="atualizaAcabamento()">
          <option value="1">Sem acabamento</option>
          <option value="2">Baixo padrão</option>
          <option value="3">Médio padrão</option>
          <option value="4">Alto padrão</option>
        </select>
      </li>
      <li class="list-group-item item-revestimento" :style="{ visibility: okRevestimento}">
        <label for="ObraAreaConstruida">Tipo de revestimento:</label>
        <select class="form-control" v-model.number="revestimentoInput" @change="atualizaRevestimento()">
          <option value="0">Sem revestimento</option>
          <option value="1">Com pintura</option>
          <option value="2">Com cerâmica</option>
        </select>
      </li>
      <li class="list-group-item item-padrao-area" :style="{ visibility: okNome}">
        <label for="ObraAreaConstruida">Nome do perfil de obra:</label>
        <input class="input" v-model="nomeInput" size="20" placeholder="Um nome para seu perfil de obra" type="text" @input="atualizaArea">
      </li>
      <li class="list-group-item item-padrao-area" :style="{ visibility: okData}">
        <label for="ObraAreaConstruida">Data de inicio da obra:</label>
        <input class="input" v-model="inicioInput" size="20" placeholder="ex: 10/01/2018, se não sabe o dia de inicio deixe no primeiro dia do mês 01/01/2018" type="text" @input="atualizaArea">
      </li>
    </ul>

  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'perfilobra',
  data: () => ({
    localInput: '',
    areaInput: 0,
    pavimentosInput: 0,
    acabamentoInput: 1,
    revestimentoInput: 0,
    nomeInput: '',
    inicioInput: ''
  }),
  computed: {
    ...mapGetters([
      'local',
      'area',
      'pavimentos',
      'acabamento',
      'revestimento',
      'nome',
      'inicio'
    ]),
    okLocal () {
      return this.local !== '' ? 'visible' : 'hidden'
    },
    okArea () {
      return this.area !== 0 ? 'visible' : 'hidden'
    },
    okPavimentos () {
      return this.pavimentos !== -1 ? 'visible' : 'hidden'
    },
    okAcabamento () {
      return this.acabamento !== -1 ? 'visible' : 'hidden'
    },
    okRevestimento () {
      return this.revestimento !== -1 ? 'visible' : 'hidden'
    },
    okNome () {
      return this.nome !== '' ? 'visible' : 'hidden'
    },
    okInicio () {
      return this.inicio !== '' ? 'visible' : 'hidden'
    }
  },
  mounted () {
    this.localInput = this.local
    this.areaInput = this.area
    this.pavimentosInput = this.pavimentos
    this.acabamentoInput = this.acabamento
    this.revestimentoInput = this.revestimento
    this.nomeInput = this.nome
    this.inicioInput = this.inicio
  },
  watch: {
    local (val) {
      this.localInput = val
    },
    area (val) {
      this.areaInput = val
    },
    pavimentos (val) {
      this.pavimentosInput = val
    },
    acabamento (val) {
      this.acabamentoInput = val
    },
    revestimento (val) {
      this.revestimentoInput = val
    },
    nome (val) {
      this.nomeInput = val
    },
    inicio (val) {
      this.inicioInput = val
    }
  },
  methods: {
    atualizaLocal () {
      this.$store.commit('MUDAR_LOCAL', {local: this.localInput})
    },
    atualizaArea () {
      this.$store.commit('MUDAR_AREA', {area: this.areaInput})
    },
    atualizaPavimentos () {
      this.$store.commit('MUDAR_PAVIMENTOS', {pavimentos: this.pavimentosInput})
    },
    atualizaAcabamento () {
      this.$store.commit('MUDAR_ACABAMENTO', {acabamento: this.acabamentoInput})
    },
    atualizaRevestimento () {
      this.$store.commit('MUDAR_REVESTIMENTO', {revestimento: this.revestimentoInput})
    },
    atualizaNome () {
      this.$store.commit('MUDAR_NOME', {nome: this.nomeInput})
    },
    atualizaInicio () {
      this.$store.commit('MUDAR_INICIO', {inicio: this.inicioInput})
    }
  }
}
</script>
<style>
</style>
