<template>
  <!-- GERO Perguntando -->
  <div id="gero-perguntando" class="row">

    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta2" v-if="perguntaChat === 0">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraAreaConstruida">Você deseja uma dica? escreva o assunto relacionado que queres abaixo</label>
          <input v-model="dica" class="input" type="text" size="20" placeholder="Ex: Obras no brasil, custo de obras, etc">
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-2" class="btn-avancar" value="Buscar dica" type="button" @click="fazerPergunta0()">
        </p>
      </div>
    </div><!-- /.pergunta -->
    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta2" v-if="perguntaChat === 1">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraAreaConstruida">Para qual tarefa você deseja saber o que deve fazer?</label>
          <select class="form-control" v-model="tarefa">
            <option value="ServicosIniciais">Serviços Iniciais</option>
            <option value="Infraestrutura">Infraestrutura</option>
            <option value="Superestrutura">Superestrutura</option>
            <option value="ParedesEPaineis">Paredes e Paineis</option>
            <option value="Pavimentacao">Pavimentação</option>
            <option value="Revestimento">Revestimento</option>
            <option value="Pintura">Pintura</option>
            <option value="InstalacoesEletricas">Instalações Elétricas</option>
            <option value="InstalacoesHidrossanitarias">Instalações Hidrossanitarias</option>
            <option value="InstalacoesdeGas">Instalações de Gás</option>
            <option value="InstalacoesdeRefrigeracao">Instalações de Refrigeração</option>
            <option value="InstalacoesdeIncendio">Instalações de Incêndio</option>
            <option value="Impermeabilizacao">Impermeabilização</option>
            <option value="InstalacoesDeSPDA">Instalacoes de SPDA</option>
            <option value="InstalacoesDePressurizacao">Instalações de Pressurização</option>
            <option value="Forro">Forro</option>
            <option value="PortasEEsquadrias">Portas e Esquadrias</option>
            <option value="Soleira">Soleira</option>
            <option value="LoucasEBancadas">Louças e Bancadas</option>
            <option value="Diversos">Diversos</option>
          </select>
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-2" class="btn-avancar" value="Buscar dica" type="button" @click="fazerPergunta1()">
        </p>
      </div>
    </div><!-- /.pergunta -->
    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta2" v-if="perguntaChat === 2">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraAreaConstruida">Para qual perfil de obra salva deseja saber os custos indiretos totais?</label>
          <select class="form-control" v-model="perfilObra">
            <option v-for="perfil in perfilObras" :value="perfil">{{perfil.nome}}</option>
          </select>
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-2" class="btn-avancar" value="Buscar dica" type="button" @click="fazerPergunta2()">
        </p>
      </div>
    </div><!-- /.pergunta -->
    <!-- Pergunta  -->
    <div class="pergunta proxima" id="pergunta2" v-if="perguntaChat === 3">
      <div class="gero-avatar-perguntando">
        <img src="../../../../assets/images/gero.png" title="" class="">
      </div>
      <div class="gero-perguntas">
        <p class="pergunta-estrutura">
          <label for="ObraAreaConstruida">Para qual perfil de obra salva deseja saber os custos indiretos mensais?</label>
          <select class="form-control" v-model="perfilObra">
            <option v-for="perfil in perfilObras" :value="perfil">{{perfil.nome}}</option>
          </select>
        </p>
        <p class="submit">
          <input name="avancar" id="etapa-2" class="btn-avancar" value="Buscar dica" type="button" @click="fazerPergunta3()">
        </p>
      </div>
    </div><!-- /.pergunta -->

  </div><!-- /.gero-perguntando -->
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'chat',
  data: () => ({
    dica: '',
    tarefa: '',
    perfilObra: {}
  }),
  computed: {
    ...mapGetters([
      'perguntaChat',
      'usuario',
      'perfilObras'
    ])
  },
  mounted () {
    this.atualizarPerfilObras(this.usuario.id)
  },
  methods: {
    ...mapActions([
      'mudarPergunta',
      'conversa1',
      'conversa0',
      'conversa2',
      'conversa3',
      'atualizarPerfilObras'
    ]),
    fazerPergunta0 () {
      this.conversa0({ dica: this.dica })
      .then(() => {
        this.dica = ''
      })
    },
    fazerPergunta1 () {
      this.conversa1({ tarefa: this.tarefa })
      .then(() => {
        this.mudarPergunta({ pergunta: 0 })
        this.tarefa = ''
      })
    },
    fazerPergunta2 () {
      this.conversa2({ perfilObra: this.perfilObra })
      .then(() => {
        this.mudarPergunta({ pergunta: 0 })
        this.perfilObra = {}
      })
    },
    fazerPergunta3 () {
      this.conversa3({ perfilObra: this.perfilObra })
      .then(() => {
        this.mudarPergunta({ pergunta: 0 })
        this.perfilObra = {}
      })
    }
  }
}
</script>
<style scoped>
.proxima {
  display: block !important;
}
</style>
