<template>
<div class="row" id="perguntas">

      <!-- ETAPAS -->
      <div class="slideX" id="etapas" :style="{bottom: posicao+'px'}">

        <!-- 1 ETAPA -->
        <div class="row linha-conversa etapa-1">
          <!--  GERO INFO  -->
          <div class="col-sm-6 fala-gero anime fadeInUp" data-wow-offset="80" data-wow-delay="0.2s" style="visibility: hidden;">
            <div class="bloco-conversa">
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
              </div>
              <div class="balao">
                <div class="balao-autor">GERO</div>
                <div class="balao-conteudo"><strong>Olá {{usuario.nome|capitalize}}!</strong><br> Neste chat nós podemos conversar a respeito de suas obras salvas e outras informações que precisares.</div>
              </div>
            </div>
          </div><!-- /.fala-gero -->

          <!-- CLIENTE INFO -->
          <div class="col-sm-6 fala-cliente fala-espaco anime fadeInUp" data-wow-offset="80" data-wow-delay="4.0s" style="visibility: hidden;">
            <div class="bloco-conversa">
              <div class="balao">
                <div class="balao-autor">VOCÊ</div>
                <div class="balao-conteudo">Olá Gero! Estou pensando no que lhe perguntar.</div>
              </div>
              <div class="avatar">
                <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
              </div>
            </div>
          </div><!-- /.fala-cliente -->

          </div><!-- /.linha-conversa etapa-->

          <!--
          <!-- 2 ETAPA -->
          <div class="row linha-conversa etapa-1" v-for="(dialogo, index) in logConversa">
            <!--  GERO INFO  -->
            <div class="col-sm-6 fala-gero fala-espaco">
              <div class="bloco-conversa">
                <div class="avatar">
                  <div class="balao-avatar"><img src="../../../../assets/images/avatar_gero.gif"></div>
                </div>
                <div class="balao">
                  <div class="balao-autor">GERO</div>
                  <div class="balao-conteudo" v-html="dialogo.gero"></div>
                </div>
              </div>
            </div><!-- /.fala-gero -->

            <!-- CLIENTE INFO -->
            <div class="col-sm-6 fala-cliente">
              <div class="bloco-conversa">
                <div class="balao">
                  <div class="balao-autor">VOCÊ</div>
                  <div class="balao-conteudo" v-html="dialogo.cliente"></div>
                </div>
                <div class="avatar">
                  <div class="balao-avatar"><img src="../../../../assets/images/avatar_cliente.png"></div>
                </div>
              </div>
            </div><!-- /.fala-cliente -->
          </div><!-- /.linha-conversa etapa-->
      </div><!-- /#etapas -->

    </div><!-- /.row -->
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'conversa',
  computed: {
    ...mapGetters([
      'logConversa',
      'usuario'
    ]),
    posicao () {
      if (this.logConversa.length === 0) {
        return 200
      } else {
        return 200 + 50 * this.logConversa.length
      }
    }
  },
  mounted () {
    // this.zerarConversa()
  },
  filters: {
    capitalize (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  methods: {
    ...mapActions([
      'zerarConversa'
    ])
  }
}
</script>
<style>
</style>
