<template>
  <!-- ----------
  CONTEUDO
  ------------ -->
  <div class="conteudo">
    <div class="container-fluid">
      <conversa></conversa>
      <chat></chat>
    </div><!-- /.coitainer-fluid -->
  </div><!-- /.conteudo -->
</template>
<script>
import conversa from './conversa'
import chat from './chat'
export default{
  name: 'secaoInterna',
  components: {
    conversa,
    chat
  }
}
</script>
<style scope>
.conteudo{
  height: 601;
}
</style>
