<template>
  <!-- ----------
SIDEBAR
------------ -->
<div class="sidebar">
  <div class="sidebar-menu affix">
    <img src="../../../../assets/images/gero_sorrindo.png" title="Gero Obras" class="gero">

    <div class="ola">

      <menulateral></menulateral>

      <!-- ----------
      TEXTOS
      ------------ -->
      <div class="info-textos">
        Aqui abaixo está perguntas pré-definidas que separei para você perguntar.
      </div>

      <perguntasdefinidas></perguntasdefinidas>

    </div><!-- /.ola -->




  </div><!-- /.sidebar-conteudo -->
</div><!-- /.sidebar -->
</template>
<script>
import menulateral from './menulateral.vue'
import perguntasdefinidas from './perguntas.vue'
export default{
  name: 'lateralInterna',
  components: {
    menulateral,
    perguntasdefinidas
  }
}
</script>
<style>
</style>
