<template>
  <!-- ----------
  PERFIL DA OBRA
  ------------ -->
  <div class="perfil-obra">
    <div class="titulo" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">Selecione uma pergunta:</div>

    <ul class="list-group itens-obra">
      <li class="list-group-item" style="visibility: visible;">
        <button class="btn btn-primary" style="width: 210px; height: 50px;" @click="chamarPergunta(1)">O que devo fazer em uma<br /> tarefa?</button>
      </li>
      <li class="list-group-item" style="visibility: visible;">
        <button class="btn btn-primary" style="width: 210px; height: 50px;" @click="chamarPergunta(0)">Você pode me dar uma dica<br /> sobre algo?</button>
      </li>
      <li class="list-group-item" style="visibility: visible;">
        <button class="btn btn-primary" style="width: 210px; height: 100px;" @click="chamarPergunta(2)">Você pode me dar o total de<br />cada custo indireto na<br /> minha obra?</button>
      </li>
      <li class="list-group-item" style="visibility: visible;">
        <button class="btn btn-primary" style="width: 210px; height: 100px;" @click="chamarPergunta(3)">Você pode me dar o valor<br />mensal de cada custo indireto<br />na minha obra?</button>
      </li>
    </ul>

  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  name: 'PerguntasDefinidas',
  methods: {
    ...mapActions([
      'mudarPergunta'
    ]),
    chamarPergunta (pergunta) {
      this.mudarPergunta({ pergunta: pergunta })
    },
    mostrarDialogo (dialogo) {
      switch (dialogo) {
        case 0: break
      }
    }
  }
}
</script>
<style>
</style>
