<template>
  <div>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand" href="#"><img width="80px" src="../../../assets/images/gero-logo.png"></a>
    </nav>
    <div class="gero">

        <!-- SIDEBAR ESQUERDA -->
        <nav class="sidebar">
          <div class="sidebar-sticky">

            <!-- Avatar -->
            <div class="avatar">
              <img src="../../../assets/images/gero_sorrindo.png" class="">
            </div>

            <!-- Infos -->
            <div class="infos gero-fala">
              <h2 style="border-bottom: 3px dotted #aaa;">Engº. Geovani</h2>
              <p class="title">QUANTA ENGENHARIA</p>
              <p>OBRAS ATIVAS:</p>
              <p class="numbersGeroFala">01</p>
              <p>OBRAS CONCLUÍDAS:</p>
              <p class="numbersGeroFala">01</p>
              <button @click="friendsList = !friendsList" class="leftButton">EQUIPE</button>
              <div style="text-align: left;" v-if="friendsList">
                <p>Yvan</p>
                <p>Max</p>
                <p>Adenilton</p>
              </div>
            </div>

          </div>
        </nav>

        <!-- CONTEÚDO -->
        <main role="main" style="" class="">

          <!-- MOLDURA -->
          <div class="moldura">

            <h3 style='color: #44637D; font-weight: 700; text-align: center;'>SEMANAS DA OBRA TORRE NOVA</h3>

            <div class="barLoadWeeks">
              <div class="barLoaded">
                <p>25</p>
              </div>
              <p>250</p>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div class="card">
                  <div class="topCard">
                    <p style="color: white;">PLANEJAMENTO</p>
                  </div>
                  <div class="containerCard">
                    <table class="tabelaProgSemanal" style="font-size: 13px;">
                      <tbody>
                        <tr>
                          <td style="color: #777;">EFETIVO</td>
                          <td style="color: #44637D">115 FUNCIONÁRIOS</td>
                        </tr>
                        <tr>
                          <td style="color: #777;">PRAZO</td>
                          <td style="color: #44637D">3.2 ANOS</td>
                        </tr>
                        <tr>
                          <td style="color: #777;">CUSTO</td>
                          <td style="color: #44637D">R$ 1.200.000,00</td>
                        </tr>
                        <tr>
                          <td style="color: #777;">C.D.</td>
                          <td style="color: #44637D">R$ 1.200.000,00</td>
                        </tr>
                        <tr>
                          <td style="color: #777;">C.I.</td>
                          <td style="color: #44637D">R$ 1.200.000,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="topCard">
                    <p style="color: white;">AVANÇO</p>
                  </div>
                  <div class="containerCard">
                    <p style="font-size: 14px; margin-left: 20px; color: #44637D; text-align: left;">VEJA PANORAMA DO AVANÇO DA SUA OBRA</p>
                    <div class="avanco">
                      <div class="executado">
                      </div>
                      <div class="planejado">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center col-md-3">
                <button class="myButton">INFORMAR CUSTO REAL</button>
                <button class="myButton">VER RELATÓRIO</button>
                <button class="myButton">HISTÓRICO DE PROGRAMAÇÕES</button>
              </div>
            </div>
            <div class='row'>
              <div class="col-md-2">
                <div class="card">
                  <div class="topCard">
                    <p style="color: white;">META MENSAL</p>
                  </div>
                  <div class="containerCard">
                    <p style="margin: 30px 30px 30px 25px; font-weight: 800; font-size: 70px; color: #219cd0">84</p>
                    <p style="color: #777;">TAREFAS</p>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card">
                  <div class="topCard">
                    <p style="color: white;">PROGRAMAÇÃO SEMANAL</p>
                  </div>
                  <div class="containerCard">
                    <table class="tabelaProgSemanal" style="margin-left:auto; margin-right:auto; font-size: 13px;">
                      <thead>
                        <th>
                          TAREFA
                        </th>
                        <th>
                          INICIAR
                        </th>
                        <th>
                          CONCLUIR
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>LAJE</td>
                          <td>02/02/2018</td>
                          <td>02/02/2018</td>
                        </tr>
                        <tr>
                          <td>LAJE</td>
                          <td>02/02/2018</td>
                          <td>02/02/2018</td>
                        </tr>
                        <tr>
                          <td>LAJE</td>
                          <td>02/02/2018</td>
                          <td>02/02/2018</td>
                        </tr>
                        <tr>
                          <td>LAJE</td>
                          <td>02/02/2018</td>
                          <td>02/02/2018</td>
                        </tr>
                        <tr>
                          <td>LAJE</td>
                          <td>02/02/2018</td>
                          <td>02/02/2018</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="topCard">
                    <p style="color: white;">IDA / IDC / IDAC</p>
                  </div>
                  <div class="containerCard">
                    mroieroifeorifeoi
                  </div>
                </div>
              </div>
            </div>
          </div><!-- ./ MOLDURA -->


        </main>

      </div>
      <footer id="footer-1" class="footer-gero">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <strong>Eunos</strong> - Inteligência de obra. Todos os direitos reservados.<br>
            Propriedade Intelectual protegida nos termos da Lei nº 9.610, de 19 de fevereiro de 1998. Eunos e Gero Obras são marcas registradas da Eunos.
          </div>
        </div>
      </div>
    </footer>
    </div>

</template>
<script>
export default{
  name: 'dashboard',
  data () {
    return {
      friendsList: true
    }
  }
}
</script>
<style scoped>
/* =============================
* Estilos personalizados.
* ============================= */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700,800,900');
body {
background-color: #F5F5F5;
font-weight: 400;
}


/*
* GERO
*/
.gero{
  font-family: 'Source Sans Pro', sans-serif;
}
.gero-fala {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: #666;
}
.gero-fala .title{
  font-size: 18px;
  font-weight: 600;
  color: #44637D;
}
.gero-fala .numbersGeroFala{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
.gero-fala .destaque{
font-weight: 600;
}
.leftButton{
  font-family: 'Montserrat', sans-serif;
  background-color: #7ca7cc;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 12px 9px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

/*
* MAIN
*/
main {
background-color: #F5F5F5;
background-image: url('../../../assets/images/bg.png');
background-position: top left;
background-repeat: no-repeat;
background-size: cover;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
position: relative;
float: none !important;
margin-right: 10px;
margin-left: 260px;
padding: 30px 15px;
}
main .canto-esq{
position: absolute;
top: 0px;
left: 0px;
z-index: 100;
}
main .canto-dir{
position: absolute;
top: 0px;
right: 0px;
z-index: 100;
}

main .container-fluid {

}

/*
* Moldura
*/
main .moldura .topo {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color: #44637D;
height: 87px;
color: #93ABB9;
overflow: hidden;
}
main .moldura .topo .col-40{
float: left;
width: 40%;
padding: 20px;
}
main .moldura .topo .col-60{
width: 60%;
float: left;
height: 87px;
vertical-align: middle;
background-color: #597995;
padding: 27px 20px;
}
main .moldura .topo .titulo{
font-weight: 900;
text-transform: uppercase;
}
main .moldura .topo .titulo h3{
font-size: 25px;
color: #FFF;
font-weight: 900;
margin: 0px;
}
main .moldura .topo h4{
font-size: 16px;
color: #DCE3E9;
}
.moldura .conteudo {
xbackground-color: #FFF;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
margin: 0px 10px;
border-top: solid 1px #CFD4D9;
overflow: hidden;
}
.moldura .conteudo .table{
margin-bottom: 0px;
}
.moldura .conteudo .table thead {
background-image: url(/assets/img/thead-bg.png);
background-repeat: repeat-x;
background-position: top left;
background-color: #219CD0;
color: #fff;
}
.moldura .conteudo .table thead th{
border: none;
}
.moldura .conteudo .table>tbody>tr>td, .moldura .conteudo .table>tbody>tr>th, .moldura .conteudo .table>tfoot>tr>td, .moldura .conteudo .table>tfoot>tr>th, .moldura .conteudo .table>thead>tr>td {
border-top: 3px dotted #eee;
}
.moldura .conteudo .table>tbody>tr {
background-color: #FFF;
color: #44637D;
font-size: 14px;
visibility: hidden;
}
.moldura .conteudo .table>tbody>tr:last-child {
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.moldura .conteudo .table>tbody>tr:first-child>td {
border-top: none;
}
.moldura .conteudo .table>thead>tr:first-child>th {
border-left: 2px dotted #DCE3E9;
}
.moldura .conteudo .table>thead>tr:first-child>th:first-child {
border-left: none;
}

/*
* SIDEBAR
*/

.sidebar, .sidebar-right {
top: 80px;
position: fixed;
padding: 0;
width: 260px;
float: none;
background-color: #FFF;
}
.sidebar-right {
right: 0px;
background-color: #FFF;
}

.sidebar-sticky {
position: -webkit-sticky;
position: sticky;
height: calc(100vh - 48px);
padding: 0px 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar h2 {
color: #12A9EB;
font-size: 26px;
}
.sidebar h2:first-of-type {
margin-top: 10px;
}

.sidebar .avatar {
background-color: #E2EAF1;
border-radius: 90px;
width: 130px;
height: 130px;
margin: 0px auto;
}
.sidebar img {
width: 70px;
height: auto;
margin: 0px auto;
display: block;
padding: 22px 0px;
}

.sidebar .nav-link {
font-weight: 500;
color: #333;
}

.sidebar .nav-link .feather {
margin-right: 4px;
color: #999;
}

.sidebar .nav-link.active {
color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
color: inherit;
}

.sidebar-heading {
font-size: .75rem;
text-transform: uppercase;
}


/*
* Navbar
*/
.navbar {
background-color: #FFF;
margin-bottom: 0px;
min-height: 80px;
}

.navbar-brand {
float: left;
height: auto;
width: 100px;
padding: 20px 0px 0px 30px;
line-height: 20px;
display: block;
box-sizing: content-box;
}

.navbar .form-control {
padding: .75rem 1rem;
border-width: 0;
border-radius: 0;
}

.form-control-dark {
color: #fff;
background-color: rgba(255, 255, 255, .1);
border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
border-color: transparent;
box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
* Utilities
*/

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


/*
* FOOTER
*/
footer {
background-color: #F5F5F5;
position: relative;
background-color: #F5F5F5;
position: relative;
border-top: solid 50px #FFF;
padding: 20px 20px;
color: #94ABBA;
font-size: 14px;
}



/* =============================
* Regras de responsividade.
* ============================= */
/* Dispositivos extra pequenos (smartphones, menores que 768px) */
@media (max-width: 767px) {

}


/* Dispositivos pequenos (tablets, maiores que 768px) */
@media (min-width: 768px) and (max-width: 991px){

}


/* Dispositivos de tamanho mediano (desktops, maiores que 992px) */
@media (min-width: 992px) and (max-width: 1199px) {

}


/* Dispositivos grandes (grandes desktops, maiores que 1200px) */
@media (min-width: 1200px) {

}

.tabelaProgSemanal{
  width: 90%;
}
.tabelaProgSemanal th{
  background-color: #219cd0;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-left: 2px dotted #999;
  color: white;
}
.tabelaProgSemanal tr{
  background-color: #fff;
  text-align: center;
  border-bottom: 2px dotted #ccc;
}
.tabelaProgSemanal tbody tr:hover {
  background-color: #f5f5f5;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    font-weight: 600;
    transition: 0.3s;
    width: 100%;
    text-align: center;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.topCard {
	background-color: #44637D;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 1px;
}
.topCard p{
  font-size: 13px;
  margin: 8px 0px;
}
.containerCard {
    padding: 2px 0px;
}

.barLoadWeeks{
  background-color: white;
  height: 30px;
  border-radius: 4px;
  margin: 20px 0px 20px 0px;
}
.barLoadWeeks p{
  float: right;
}
.barLoaded{
  background-color: #12A9EB;
  border-radius: 4px;
  float: left;
  height: 100%;
  width: 40%;
}
.barLoaded p{
  float: right;
  color: white;
}
.avanco{
  background-color: #ccc;
  height: 60px;
  border-radius: 4px;
  margin: 25px 20px 25px 20px;
}
.executado{
  background-color: green;
  border-radius: 4px;
  height: 100%;
  width: 70%;
  height: 40%;
  margin: 5px 2px 3px 2px;
}
.planejado{
  background-color: #12A9EB;
  border-radius: 4px;
  height: 100%;
  width: 55%;
  height: 40%;
  margin: 5px 2px 4px 2px;
}

.myButton{
  font-family: 'Montserrat', sans-serif;
  background-color: #219cd0;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 12px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}
</style>
