<template>
  <div id="chatScroll" class='container'>
    <div class='content jumbotron'>
      <div style="margin-bottom: 10vh;" class='row'>
        <div class='col-md-12'>
          <table class='bannerTable'>
            <tr>
              <th class="bannerLeft">
                <div><p>SUA OBRA</p></div>
                <div><p><span>TORRE NOVA</span></p></div>
              </th>
              <th class="bannerCenter">

              </th>
              <th class="bannerRight">
                <button @click="block()" class='myButton'>VER RESUMO</button>
              </th>
            </tr>
          </table>
          <div>
            <table class="tabelaProgSemanal">
              <tr>
                <th>EFETIVO</th>
                <th>PRAZO</th>
                <th>CUSTO</th>
                <th>C.D.</th>
                <th>C.I.</th>
              </tr>
              <tr>
                <td>115 Funcionários</td>
                <td>3,2 Anos</td><!--Mostrar quantidade de meses (talvez dias)-->
                <td>R$ 1.000.000,00</td>
              </tr>
            </table>
          </div>
          <table class='bannerTable'>
            <tr>
              <th class="bannerLeft">
                <div><p><span style="font-size: 15px;">ETAPAS/DESEMBOLSO</span></p></div>
              </th>
              <th class="bannerCenter">

              </th>
              <th class="bannerRight">
              <button @click='custosAnuais = !custosAnuais' type='button'>P</button>
              </th>
            </tr>
          </table>
          <div style="overflow-x: scroll;">
            <div style="float: left;">
              <table class="tabelaProgSemanal">
                <thead>
                  <tr>
                    <th>ETAPAS</th>
                    <th>DESEMBOLSO</th>
                    <th v-if="custosAnuais" v-bind:colspan="custoTarefasAnuais[0].length">DESEMBOLSO POR PERÍODO</th>
                  </tr>
                </thead><td style="height: 36px;"></td><td></td>
                <th v-if="custosAnuais" v-for='(x, index) in custoTarefasAnuais[0]'>{{index+1}}º Ano</th>
                <tbody v-for='(c, index) in tarefas'>
                  <tr>
                    <td>
                      {{tarefas[index].nome}}
                    </td>
                    <td>
                      R$ {{custoTotalTarefas[index]}}
                    </td>
                    <td v-if="custosAnuais" v-for='(cust, tIndex) in custoTarefasAnuais[index]'>{{Math.round(cust)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div v-if="showBannerBottom" class="bannerBottom">
            <span @click="closeBannerBottom(false)" class="close">&times;</span>
            <img style="float: left;" src="../../../assets/images/gero_sorrindo.png">
            <div>
              <p><strong>Fulano</strong>,</p>
              <p>Vamos continuar a jornada ou você deseja revisar o prazo de sua obra?</p>
              <button style="background-color: green;" class="myButton" @click="entrar()">CONFIRMAR</button>
              <button class="myButton" href='#top' @click="closeBannerBottom(true)">REVISAR</button>
            </div>
          </div>
        </div>
      </div>
      <button v-if="reachedBottom && !showBannerBottom" @click="openBannerBottom()" style="padding-bottom: 0px; height: 5px; margin: 0px; background-color: #999; width: 0px; left: 50%;" class="bannerBottom">.</button>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span @click="none()" class="close">&times;</span>
        <p>Revise seu prazo</p>
        <div>
          <input type="number">
        </div>
        <button>RECALCULAR</button>
        <button>SAIR</button>
      </div>
    </div>
  </div>
</template>
<script>
import * as $ from 'jquery'
import { mapGetters, mapActions } from 'vuex'
export default{
  name: 'planejamento',
  computed: {
    ...mapGetters([
      'perfilObras',
      'usuario'
    ])
  },
  updated () {
    let self = this
    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() === $(document).height()) {
        self.showBannerBottom = true
        self.reachedBottom = true
      }
    })
  },
  mounted: function () {
    this.getCustoTotalTarefas()
    this.getCustoAnualTarefas()
    window.onclick = function (event) {
      if (event.target === document.getElementById('myModal')) {
        document.getElementById('myModal').style.display = 'none'
      }
    }
  },
  methods: {
    activeLink (item) {
      item.show = !item.show
    },
    openBannerBottom () {
      this.showBannerBottom = true
    },
    closeBannerBottom (flag) {
      if (flag) {
        $('html, body').animate({ scrollTop: 0 }, 'slow')
      }
      this.showBannerBottom = false
    },
    block () {
      document.getElementById('myModal').style.display = 'block'
    },
    none () {
      document.getElementById('myModal').style.display = 'none'
    },
    entrar () {
      this.$router.push({path: '/gero/diagnostico'})
    },
    getTasks () {
      this.pegarTarefas()
      .then(() => {
      })
    },
    getCustoAnualTarefas () {
      for (let i = 0; i < this.tarefas.length; i++) {
        let custoPeriodosAnuaisTarefas = []
        let custoAnual = 0
        let n = 0
        for (let j = 0; j < this.tarefas[i].meses.length; j++) {
          n++
          if (this.tarefas[i].meses[j] !== null) {
            custoAnual += this.tarefas[i].meses[j].custo
          }
          if (n >= 12) {
            custoPeriodosAnuaisTarefas.push(custoAnual)
            n = 0
            custoAnual = 0
          } else if (j === this.tarefas[i].meses.length - 1) {
            custoPeriodosAnuaisTarefas.push(custoAnual)
          }
        }
        this.custoTarefasAnuais.push(custoPeriodosAnuaisTarefas)
      }
    },
    getCustoTotalTarefas () {
      for (let i = 0; i < this.tarefas.length; i++) {
        let custoTotal = 0
        for (let j = 0; j < this.tarefas[i].meses.length; j++) {
          if (this.tarefas[i].meses[j] !== null) {
            custoTotal += this.tarefas[i].meses[j].custo
          }
        }
        this.custoTotalTarefas.push(custoTotal)
      }
    },
    ...mapActions([
      'pegarTarefas'
    ])
  },
  data () {
    return {
      tbShow: false,
      showBannerBottom: false,
      reachedBottom: false,
      custosTotais: false,
      custosAnuais: false,
      custoTotalTarefas: [],
      custoTarefasAnuais: [],
      custoTotal: 0,
      tarefas:
      [
        {
          'nome': 'ServicosIniciais',
          'custo': 600,
          'taxaEvolucaoPorcentagem': 0.1,
          'taxaEvolucaoCusto': 0.02,
          'prazo': 2,
          'meses': [
            {
              'custo': 402,
              'porcentagemExecucao': 67,
              'dataFormatada': ''
            },
            {
              'custo': 198,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'Infraestrutura',
          'custo': 1500,
          'taxaEvolucaoPorcentagem': 0.35,
          'taxaEvolucaoCusto': 0.05,
          'prazo': 6,
          'meses': [
            {
              'custo': 180,
              'porcentagemExecucao': 12,
              'dataFormatada': ''
            },
            {
              'custo': 210,
              'porcentagemExecucao': 26,
              'dataFormatada': ''
            },
            {
              'custo': 90,
              'porcentagemExecucao': 32,
              'dataFormatada': ''
            },
            {
              'custo': 225,
              'porcentagemExecucao': 47,
              'dataFormatada': ''
            },
            {
              'custo': 390,
              'porcentagemExecucao': 73,
              'dataFormatada': ''
            },
            {
              'custo': 405,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'Superestrutura',
          'custo': 7800,
          'taxaEvolucaoPorcentagem': 1.66,
          'taxaEvolucaoCusto': 0.26,
          'prazo': 16,
          'meses': [
            null,
            null,
            {
              'custo': 0,
              'porcentagemExecucao': 0,
              'dataFormatada': ''
            },
            {
              'custo': 78,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 312,
              'porcentagemExecucao': 5,
              'dataFormatada': ''
            },
            {
              'custo': 2106,
              'porcentagemExecucao': 32,
              'dataFormatada': ''
            },
            {
              'custo': 390,
              'porcentagemExecucao': 37,
              'dataFormatada': ''
            },
            {
              'custo': 468,
              'porcentagemExecucao': 43,
              'dataFormatada': ''
            },
            {
              'custo': 624,
              'porcentagemExecucao': 51,
              'dataFormatada': ''
            },
            {
              'custo': 624,
              'porcentagemExecucao': 59,
              'dataFormatada': ''
            },
            {
              'custo': 546,
              'porcentagemExecucao': 66,
              'dataFormatada': ''
            },
            {
              'custo': 546,
              'porcentagemExecucao': 73,
              'dataFormatada': ''
            },
            {
              'custo': 624,
              'porcentagemExecucao': 81,
              'dataFormatada': ''
            },
            {
              'custo': 546,
              'porcentagemExecucao': 88,
              'dataFormatada': ''
            },
            {
              'custo': 624,
              'porcentagemExecucao': 96,
              'dataFormatada': ''
            },
            {
              'custo': 234,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 78,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'ParedesEPaineis',
          'custo': 1500,
          'taxaEvolucaoPorcentagem': 1.16,
          'taxaEvolucaoCusto': 0.05,
          'prazo': 17,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 60,
              'porcentagemExecucao': 4,
              'dataFormatada': ''
            },
            {
              'custo': 150.00000000000003,
              'porcentagemExecucao': 14.000000000000002,
              'dataFormatada': ''
            },
            {
              'custo': 164.99999999999997,
              'porcentagemExecucao': 25,
              'dataFormatada': ''
            },
            {
              'custo': 165,
              'porcentagemExecucao': 36,
              'dataFormatada': ''
            },
            {
              'custo': 150,
              'porcentagemExecucao': 46,
              'dataFormatada': ''
            },
            {
              'custo': 150.0000000000001,
              'porcentagemExecucao': 56.00000000000001,
              'dataFormatada': ''
            },
            {
              'custo': 149.9999999999999,
              'porcentagemExecucao': 66,
              'dataFormatada': ''
            },
            {
              'custo': 135,
              'porcentagemExecucao': 75,
              'dataFormatada': ''
            },
            {
              'custo': 90,
              'porcentagemExecucao': 81,
              'dataFormatada': ''
            },
            {
              'custo': 90,
              'porcentagemExecucao': 87,
              'dataFormatada': ''
            },
            {
              'custo': 150,
              'porcentagemExecucao': 97,
              'dataFormatada': ''
            },
            {
              'custo': 30,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 15,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null
          ]
        },
        {
          'nome': 'Pavimentacao',
          'custo': 2400,
          'taxaEvolucaoPorcentagem': 0.98,
          'taxaEvolucaoCusto': 0.08,
          'prazo': 15,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 24,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 96,
              'porcentagemExecucao': 5,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 8,
              'dataFormatada': ''
            },
            {
              'custo': 168,
              'porcentagemExecucao': 15,
              'dataFormatada': ''
            },
            {
              'custo': 240,
              'porcentagemExecucao': 25,
              'dataFormatada': ''
            },
            {
              'custo': 312,
              'porcentagemExecucao': 38,
              'dataFormatada': ''
            },
            {
              'custo': 240,
              'porcentagemExecucao': 48,
              'dataFormatada': ''
            },
            {
              'custo': 264,
              'porcentagemExecucao': 59,
              'dataFormatada': ''
            },
            {
              'custo': 192,
              'porcentagemExecucao': 67,
              'dataFormatada': ''
            },
            {
              'custo': 240,
              'porcentagemExecucao': 77,
              'dataFormatada': ''
            },
            {
              'custo': 168,
              'porcentagemExecucao': 84,
              'dataFormatada': ''
            },
            {
              'custo': 216,
              'porcentagemExecucao': 93,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 96,
              'dataFormatada': ''
            },
            {
              'custo': 48,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 48,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'Revestimento',
          'custo': 4200,
          'taxaEvolucaoPorcentagem': 1.13,
          'taxaEvolucaoCusto': 0.14,
          'prazo': 17,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 84,
              'porcentagemExecucao': 2,
              'dataFormatada': ''
            },
            {
              'custo': 420,
              'porcentagemExecucao': 12,
              'dataFormatada': ''
            },
            {
              'custo': 546,
              'porcentagemExecucao': 25,
              'dataFormatada': ''
            },
            {
              'custo': 462,
              'porcentagemExecucao': 36,
              'dataFormatada': ''
            },
            {
              'custo': 588,
              'porcentagemExecucao': 50,
              'dataFormatada': ''
            },
            {
              'custo': 504,
              'porcentagemExecucao': 62,
              'dataFormatada': ''
            },
            {
              'custo': 294,
              'porcentagemExecucao': 69,
              'dataFormatada': ''
            },
            {
              'custo': 252,
              'porcentagemExecucao': 75,
              'dataFormatada': ''
            },
            {
              'custo': 294,
              'porcentagemExecucao': 82,
              'dataFormatada': ''
            },
            {
              'custo': 336,
              'porcentagemExecucao': 90,
              'dataFormatada': ''
            },
            {
              'custo': 252,
              'porcentagemExecucao': 96,
              'dataFormatada': ''
            },
            {
              'custo': 84,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 42,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 42,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null
          ]
        },
        {
          'nome': 'Pintura',
          'custo': 900,
          'taxaEvolucaoPorcentagem': 1,
          'taxaEvolucaoCusto': 0.03,
          'prazo': 15,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 9,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 9,
              'dataFormatada': ''
            },
            {
              'custo': 99,
              'porcentagemExecucao': 20,
              'dataFormatada': ''
            },
            {
              'custo': 99,
              'porcentagemExecucao': 31,
              'dataFormatada': ''
            },
            {
              'custo': 99,
              'porcentagemExecucao': 42,
              'dataFormatada': ''
            },
            {
              'custo': 45,
              'porcentagemExecucao': 47,
              'dataFormatada': ''
            },
            {
              'custo': 135,
              'porcentagemExecucao': 62,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 70,
              'dataFormatada': ''
            },
            {
              'custo': 63,
              'porcentagemExecucao': 77,
              'dataFormatada': ''
            },
            {
              'custo': 108,
              'porcentagemExecucao': 89,
              'dataFormatada': ''
            },
            {
              'custo': 45,
              'porcentagemExecucao': 94,
              'dataFormatada': ''
            },
            {
              'custo': 27,
              'porcentagemExecucao': 97,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 97,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 97,
              'dataFormatada': ''
            },
            {
              'custo': 27,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null
          ]
        },
        {
          'nome': 'InstalacoesEletricas',
          'custo': 1800,
          'taxaEvolucaoPorcentagem': 1.53,
          'taxaEvolucaoCusto': 0.06,
          'prazo': 23,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 0,
              'porcentagemExecucao': 0,
              'dataFormatada': ''
            },
            {
              'custo': 18,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 18,
              'porcentagemExecucao': 2,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 2,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 2,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 6,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 10,
              'dataFormatada': ''
            },
            {
              'custo': 126,
              'porcentagemExecucao': 17,
              'dataFormatada': ''
            },
            {
              'custo': 144,
              'porcentagemExecucao': 25,
              'dataFormatada': ''
            },
            {
              'custo': 180,
              'porcentagemExecucao': 35,
              'dataFormatada': ''
            },
            {
              'custo': 144,
              'porcentagemExecucao': 43,
              'dataFormatada': ''
            },
            {
              'custo': 144,
              'porcentagemExecucao': 51,
              'dataFormatada': ''
            },
            {
              'custo': 107.99999999999987,
              'porcentagemExecucao': 56.99999999999999,
              'dataFormatada': ''
            },
            {
              'custo': 162.0000000000001,
              'porcentagemExecucao': 66,
              'dataFormatada': ''
            },
            {
              'custo': 108,
              'porcentagemExecucao': 72,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 76,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 80,
              'dataFormatada': ''
            },
            {
              'custo': 126,
              'porcentagemExecucao': 87,
              'dataFormatada': ''
            },
            {
              'custo': 90,
              'porcentagemExecucao': 92,
              'dataFormatada': ''
            },
            {
              'custo': 54,
              'porcentagemExecucao': 95,
              'dataFormatada': ''
            },
            {
              'custo': 54,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 36,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null
          ]
        },
        {
          'nome': 'InstalacoesHidrossanitarias',
          'custo': 900,
          'taxaEvolucaoPorcentagem': 1.24,
          'taxaEvolucaoCusto': 0.03,
          'prazo': 19,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 0,
              'porcentagemExecucao': 0,
              'dataFormatada': ''
            },
            {
              'custo': 9,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 9,
              'porcentagemExecucao': 2,
              'dataFormatada': ''
            },
            {
              'custo': 9,
              'porcentagemExecucao': 3,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 3,
              'dataFormatada': ''
            },
            {
              'custo': 27,
              'porcentagemExecucao': 6,
              'dataFormatada': ''
            },
            {
              'custo': 63,
              'porcentagemExecucao': 13,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 21,
              'dataFormatada': ''
            },
            {
              'custo': 71.99999999999996,
              'porcentagemExecucao': 28.999999999999996,
              'dataFormatada': ''
            },
            {
              'custo': 81.00000000000004,
              'porcentagemExecucao': 38,
              'dataFormatada': ''
            },
            {
              'custo': 126,
              'porcentagemExecucao': 52,
              'dataFormatada': ''
            },
            {
              'custo': 108,
              'porcentagemExecucao': 64,
              'dataFormatada': ''
            },
            {
              'custo': 45,
              'porcentagemExecucao': 69,
              'dataFormatada': ''
            },
            {
              'custo': 135,
              'porcentagemExecucao': 84,
              'dataFormatada': ''
            },
            {
              'custo': 90,
              'porcentagemExecucao': 94,
              'dataFormatada': ''
            },
            {
              'custo': 45,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 99,
              'dataFormatada': ''
            },
            {
              'custo': 9,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'InstalacoesdeIncendio',
          'custo': 0,
          'taxaEvolucaoPorcentagem': 1.1,
          'taxaEvolucaoCusto': 0,
          'prazo': 4,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 0,
              'porcentagemExecucao': 16,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 45,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 74,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'Impermeabilizacao',
          'custo': 300,
          'taxaEvolucaoPorcentagem': 0.72,
          'taxaEvolucaoCusto': 0.01,
          'prazo': 12,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 6,
              'porcentagemExecucao': 2,
              'dataFormatada': ''
            },
            {
              'custo': 27,
              'porcentagemExecucao': 11,
              'dataFormatada': ''
            },
            {
              'custo': 21,
              'porcentagemExecucao': 18,
              'dataFormatada': ''
            },
            {
              'custo': 15,
              'porcentagemExecucao': 23,
              'dataFormatada': ''
            },
            {
              'custo': 42,
              'porcentagemExecucao': 37,
              'dataFormatada': ''
            },
            {
              'custo': 27,
              'porcentagemExecucao': 46,
              'dataFormatada': ''
            },
            {
              'custo': 15,
              'porcentagemExecucao': 51,
              'dataFormatada': ''
            },
            {
              'custo': 45,
              'porcentagemExecucao': 66,
              'dataFormatada': ''
            },
            {
              'custo': 48,
              'porcentagemExecucao': 82,
              'dataFormatada': ''
            },
            {
              'custo': 6,
              'porcentagemExecucao': 84,
              'dataFormatada': ''
            },
            {
              'custo': 6,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 42,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'InstalacoesDeSPDA',
          'custo': 600,
          'taxaEvolucaoPorcentagem': 1.11,
          'taxaEvolucaoCusto': 0.02,
          'prazo': 16,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 42.00000000000001,
              'porcentagemExecucao': 7.000000000000001,
              'dataFormatada': ''
            },
            {
              'custo': 23.999999999999996,
              'porcentagemExecucao': 11,
              'dataFormatada': ''
            },
            {
              'custo': 30,
              'porcentagemExecucao': 16,
              'dataFormatada': ''
            },
            {
              'custo': 36,
              'porcentagemExecucao': 22,
              'dataFormatada': ''
            },
            {
              'custo': 30,
              'porcentagemExecucao': 27,
              'dataFormatada': ''
            },
            {
              'custo': 48,
              'porcentagemExecucao': 35,
              'dataFormatada': ''
            },
            {
              'custo': 30,
              'porcentagemExecucao': 40,
              'dataFormatada': ''
            },
            {
              'custo': 42,
              'porcentagemExecucao': 47,
              'dataFormatada': ''
            },
            {
              'custo': 36,
              'porcentagemExecucao': 53,
              'dataFormatada': ''
            },
            {
              'custo': 42,
              'porcentagemExecucao': 60,
              'dataFormatada': ''
            },
            {
              'custo': 12,
              'porcentagemExecucao': 62,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 62,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 62,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 62,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 62,
              'dataFormatada': ''
            },
            {
              'custo': 228,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'InstalacoesDePressurizacao',
          'custo': 300,
          'taxaEvolucaoPorcentagem': 0.57,
          'taxaEvolucaoCusto': 0.01,
          'prazo': 11,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 177,
              'porcentagemExecucao': 59,
              'dataFormatada': ''
            },
            {
              'custo': 81,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 86,
              'dataFormatada': ''
            },
            {
              'custo': 21,
              'porcentagemExecucao': 93,
              'dataFormatada': ''
            },
            {
              'custo': 21,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null
          ]
        },
        {
          'nome': 'InstalacoesdeGas',
          'custo': 300,
          'taxaEvolucaoPorcentagem': 0.25,
          'taxaEvolucaoCusto': 0.01,
          'prazo': 17,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 3,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 39.00000000000001,
              'porcentagemExecucao': 14.000000000000002,
              'dataFormatada': ''
            },
            {
              'custo': 29.999999999999996,
              'porcentagemExecucao': 24,
              'dataFormatada': ''
            },
            {
              'custo': 27,
              'porcentagemExecucao': 33,
              'dataFormatada': ''
            },
            {
              'custo': 24,
              'porcentagemExecucao': 41,
              'dataFormatada': ''
            },
            {
              'custo': 27,
              'porcentagemExecucao': 50,
              'dataFormatada': ''
            },
            {
              'custo': 30,
              'porcentagemExecucao': 60,
              'dataFormatada': ''
            },
            {
              'custo': 9,
              'porcentagemExecucao': 63,
              'dataFormatada': ''
            },
            {
              'custo': 27,
              'porcentagemExecucao': 72,
              'dataFormatada': ''
            },
            {
              'custo': 60,
              'porcentagemExecucao': 92,
              'dataFormatada': ''
            },
            {
              'custo': 18,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 6,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null
          ]
        },
        {
          'nome': 'InstalacoesdeRefrigeracao',
          'custo': 300,
          'taxaEvolucaoPorcentagem': 0.72,
          'taxaEvolucaoCusto': 0.01,
          'prazo': 9,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 39,
              'porcentagemExecucao': 13,
              'dataFormatada': ''
            },
            {
              'custo': 51,
              'porcentagemExecucao': 30,
              'dataFormatada': ''
            },
            {
              'custo': 39,
              'porcentagemExecucao': 43,
              'dataFormatada': ''
            },
            {
              'custo': 30,
              'porcentagemExecucao': 53,
              'dataFormatada': ''
            },
            {
              'custo': 42,
              'porcentagemExecucao': 67,
              'dataFormatada': ''
            },
            {
              'custo': 30,
              'porcentagemExecucao': 77,
              'dataFormatada': ''
            },
            {
              'custo': 18,
              'porcentagemExecucao': 83,
              'dataFormatada': ''
            },
            {
              'custo': 30,
              'porcentagemExecucao': 93,
              'dataFormatada': ''
            },
            {
              'custo': 21,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'Forro',
          'custo': 600,
          'taxaEvolucaoPorcentagem': 0.59,
          'taxaEvolucaoCusto': 0.02,
          'prazo': 10,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 18,
              'porcentagemExecucao': 3,
              'dataFormatada': ''
            },
            {
              'custo': 96,
              'porcentagemExecucao': 19,
              'dataFormatada': ''
            },
            {
              'custo': 59.99999999999998,
              'porcentagemExecucao': 28.999999999999996,
              'dataFormatada': ''
            },
            {
              'custo': 66.00000000000001,
              'porcentagemExecucao': 40,
              'dataFormatada': ''
            },
            {
              'custo': 60,
              'porcentagemExecucao': 50,
              'dataFormatada': ''
            },
            {
              'custo': 72,
              'porcentagemExecucao': 62,
              'dataFormatada': ''
            },
            {
              'custo': 48,
              'porcentagemExecucao': 70,
              'dataFormatada': ''
            },
            {
              'custo': 48,
              'porcentagemExecucao': 78,
              'dataFormatada': ''
            },
            {
              'custo': 120,
              'porcentagemExecucao': 98,
              'dataFormatada': ''
            },
            {
              'custo': 12,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'PortasEEsquadrias',
          'custo': 2100,
          'taxaEvolucaoPorcentagem': 0.78,
          'taxaEvolucaoCusto': 0.07,
          'prazo': 12,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 21,
              'porcentagemExecucao': 1,
              'dataFormatada': ''
            },
            {
              'custo': 21,
              'porcentagemExecucao': 2,
              'dataFormatada': ''
            },
            {
              'custo': 273,
              'porcentagemExecucao': 15,
              'dataFormatada': ''
            },
            {
              'custo': 252,
              'porcentagemExecucao': 27,
              'dataFormatada': ''
            },
            {
              'custo': 210,
              'porcentagemExecucao': 37,
              'dataFormatada': ''
            },
            {
              'custo': 210,
              'porcentagemExecucao': 47,
              'dataFormatada': ''
            },
            {
              'custo': 209.99999999999986,
              'porcentagemExecucao': 56.99999999999999,
              'dataFormatada': ''
            },
            {
              'custo': 294.00000000000017,
              'porcentagemExecucao': 71,
              'dataFormatada': ''
            },
            {
              'custo': 273,
              'porcentagemExecucao': 84,
              'dataFormatada': ''
            },
            {
              'custo': 168,
              'porcentagemExecucao': 92,
              'dataFormatada': ''
            },
            {
              'custo': 105,
              'porcentagemExecucao': 97,
              'dataFormatada': ''
            },
            {
              'custo': 63,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'Soleira',
          'custo': 0,
          'taxaEvolucaoPorcentagem': 0.57,
          'taxaEvolucaoCusto': 0,
          'prazo': 9,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 0,
              'porcentagemExecucao': 10,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 23,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 40,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 53,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 63,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 73,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 83,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 89,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'LoucasEBancadas',
          'custo': 900,
          'taxaEvolucaoPorcentagem': 0.63,
          'taxaEvolucaoCusto': 0.03,
          'prazo': 10,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 90,
              'porcentagemExecucao': 10,
              'dataFormatada': ''
            },
            {
              'custo': 90,
              'porcentagemExecucao': 20,
              'dataFormatada': ''
            },
            {
              'custo': 117,
              'porcentagemExecucao': 33,
              'dataFormatada': ''
            },
            {
              'custo': 90,
              'porcentagemExecucao': 43,
              'dataFormatada': ''
            },
            {
              'custo': 81,
              'porcentagemExecucao': 52,
              'dataFormatada': ''
            },
            {
              'custo': 126,
              'porcentagemExecucao': 66,
              'dataFormatada': ''
            },
            {
              'custo': 81,
              'porcentagemExecucao': 75,
              'dataFormatada': ''
            },
            {
              'custo': 117,
              'porcentagemExecucao': 88,
              'dataFormatada': ''
            },
            {
              'custo': 63,
              'porcentagemExecucao': 95,
              'dataFormatada': ''
            },
            {
              'custo': 45,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            },
            null,
            null,
            null,
            null,
            null
          ]
        },
        {
          'nome': 'Diversos',
          'custo': 2700,
          'taxaEvolucaoPorcentagem': 1.07,
          'taxaEvolucaoCusto': 0.09,
          'prazo': 15,
          'meses': [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            {
              'custo': 405,
              'porcentagemExecucao': 15,
              'dataFormatada': ''
            },
            {
              'custo': 297,
              'porcentagemExecucao': 26,
              'dataFormatada': ''
            },
            {
              'custo': 324,
              'porcentagemExecucao': 38,
              'dataFormatada': ''
            },
            {
              'custo': 135,
              'porcentagemExecucao': 43,
              'dataFormatada': ''
            },
            {
              'custo': 54,
              'porcentagemExecucao': 45,
              'dataFormatada': ''
            },
            {
              'custo': 54,
              'porcentagemExecucao': 47,
              'dataFormatada': ''
            },
            {
              'custo': 135,
              'porcentagemExecucao': 52,
              'dataFormatada': ''
            },
            {
              'custo': 108.0000000000002,
              'porcentagemExecucao': 56.00000000000001,
              'dataFormatada': ''
            },
            {
              'custo': 53.999999999999616,
              'porcentagemExecucao': 57.99999999999999,
              'dataFormatada': ''
            },
            {
              'custo': 27.000000000000192,
              'porcentagemExecucao': 59,
              'dataFormatada': ''
            },
            {
              'custo': 162,
              'porcentagemExecucao': 65,
              'dataFormatada': ''
            },
            {
              'custo': 108,
              'porcentagemExecucao': 69,
              'dataFormatada': ''
            },
            {
              'custo': 0,
              'porcentagemExecucao': 69,
              'dataFormatada': ''
            },
            {
              'custo': 297,
              'porcentagemExecucao': 80,
              'dataFormatada': ''
            },
            {
              'custo': 540,
              'porcentagemExecucao': 100,
              'dataFormatada': ''
            }
          ]
        }
      ]
    }
  }
}
</script>
<style>
.content{
  margin-top: 60px;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 60px;
  padding: 10px 20px;
}

.bannerBottom img{
  width: 120px;
}

.bannerBottom{
  padding: 20px;
  text-align: center;
  bottom: 0px;
  position: fixed;
  width: 70%;
  background-color: white;
  z-index: 99;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.scrolls {
	overflow-x: scroll;
	height: 270px;
	white-space:nowrap
}
.imageDiv {
	box-shadow: 1px 1px 10px #999;
	margin: 2px;
	max-height: 50px;
	cursor: pointer;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
}
/*Modal Box*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Daqui pra baixo animações da tabela: expansão para direita*/
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
{
  transform: translateX(-10px);
  opacity: 0;
}
.content {
  background-image: url('../../../assets/images/tela_03_bg.jpg');
  background-attachment: fixed;
  margin-top: 60px;
}
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Montserrat');
.bannerTable, .tabelaProgSemanal{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.bannerTable div{
   margin-bottom: -20px;
}
.bannerCenter{
  text-align: center;
  color: white;
  padding: 2px 2px 2px 2px;
  background-color: #44637d;
}
.bannerCenter p{
   font-size: 12px;
}
.bannerCenter span{
  font-size: 15px;
  font-weight: bold;
}
.bannerLeft{
  background-color: #44637d;
  color: #95abbb;
  border-top-left-radius: 10px;
  text-align: left;
  padding: 5px 5px 5px 20px;
  width: 230px;
}
.bannerRight{
  background-color: #44637d;
  color: #95abbb;
  border-top-right-radius: 10px;
  text-align: right;
  padding: 5px 20px 5px 5px;
  width: 230px;
}
.bannerLeft p, .bannerRight p{
  font-size: 12px;
  font-weight: bold;
}
.bannerLeft span, .bannerRight span{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.tabelaProgSemanal th{
  background-color: #219cd0;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-left: 2px dotted white;
  color: white;
}
.tabelaProgSemanal td{
  background-color: #fff;
  text-align: center;
  border-bottom: 2px dotted #999;
}
.tabelaProgSemanal tbody tr:hover {
  background-color: #f5f5f5;
}
.myButton{
  font-family: 'Montserrat', sans-serif;
  background-color: #219cd0;
  border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
  float: right;
}
/* daqui para baixo responsável pela animação da tabela*/
tr td div {
  max-height: 0;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s;
}
tr.active td div {
  max-height: 100px;
  padding: 10px 10px;
  transition: max-height 0.6s, padding 0.6s;
}
</style>
