<template>
  <div>
    <div v-if="!editavel">
      {{valor|tirarDecimais('%')}}
      <button @click="editar" v-if="podeSerEditado"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </div>
    <div v-else>
      <input type="number" v-model.number="porcentagemAlterada" size="10">
      <button @click="salvar"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      <button @click="cancelar"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Campo',
  props: ['valor', 'mes'],
  data: () => ({
    editavel: false,
    porcentagemAlterada: this.valor
  }),
  computed: {
    podeSerEditado () {
      return this.mes <= new Date().getMonth()
    }
  },
  mounted () {
    this.porcentagemAlterada = this.valor
  },
  methods: {
    salvar () {
      this.$emit('salvar:valor', this.porcentagemAlterada)
      this.editavel = false
    },
    editar () {
      this.editavel = true
    },
    cancelar () {
      this.porcentagemAlterada = this.valor
      this.editavel = false
    }
  },
  filters: {
    tirarDecimais (val, simb = '') {
      if (val !== '') {
        if (simb === '') {
          return val.toFixed(2)
        } else {
          return val.toFixed(0) + '' + simb
        }
      } else {
        return ''
      }
    }
  }
}
</script>
<style>
</style>
