<template>
  <section id="gero">
    <lateral></lateral>
    <!-- ----------
    CONTEUDO
    ------------ -->
    <div class="conteudo scroll">

      <div class="container-fluid">
        <div class="row" id="calculos">

          <div class="col-sm-12 text-center">
            <img src="../../../assets/images/gero_avatar_calculos.png" title="" class="gero-avatar-calculos">
            <p><strong>George,</strong><br>
              Acho que consegui chegar na melhor solução para planejar e organizar sua obra.<br>
              Vejo os resultados que consegui para você!
            </p>
          </div>

          <div class="col-sm-4 calculo-info">
            <div class="panel panel-default anime fadeInUp" data-wow-offset="80" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
              <div class="panel-heading">CUSTO DA OBRA</div>
              <div class="panel-body">
                R$ {{custo|tirarDecimais|virgula|milhar}}            </div>
              </div>
            </div>
            <div class="col-sm-4 calculo-info">
              <div class="panel panel-default anime fadeInUp" data-wow-offset="80" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="panel-heading">PRAZO TOTAL DA OBRA</div>
                <div class="panel-body">
                  {{prazo}} meses
                </div>
              </div>
            </div>
            <div class="col-sm-4 calculo-info">
              <div class="panel panel-default anime fadeInUp" data-wow-offset="80" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                <div class="panel-heading">EFETIVO MÉDIO DE</div>
                <div class="panel-body">
                  {{efetivo}} funcionários
                </div>
              </div>
            </div>

          </div><!-- /.calculos -->

          <div class="row">

            <!-- CRONOGRAMA -->
            <div class="col-sm-12 cronograma-container2">

              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancelarEnvio"><span aria-hidden="true">×</span></button>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="enviarDados" v-if="dadosAlterados.length !== 0" style="margin-right: 10px;"><i class="fa fa-floppy-o" aria-hidden="true"></i>
</button>
                      <h4 class="modal-title" id="myModalLabel">SEU CRONOGRAMA</h4>
                    </div>
                    <div class="modal-body">

                      <!--<table class="table table-condensed cronograma">-->
                      <table class="tg table">
                        <tr>
                          <th class="tg-rq3u">Nome da tarefa</th>
                          <th class="campo tg-0eoh">Duração (meses)</th>
                          <th class="campo tg-0eoh">Custo da etapa</th>
                          <th class="campo tg-0eoh" v-for="(meses,index) in cronogramaRefatorado[0].meses">{{index+1}}</th>
                        </tr>
                          <tr v-for="(tarefa,index) in cronogramaRefatorado">
                            <td class="campo tg-s6z2">{{tarefa.nome}}</td>
                            <td class="campo tg-s6z2">{{tarefa.prazo}}</td>
                            <td class="campo tg-s6z2">R$ {{tarefa.custo|tirarDecimais|virgula|milhar}}</td>
                            <td v-for="(mes,index2) in tarefa.meses" class="campo" :class="[classCampoCusto(mes.custo) ? 'tg-vcy5' : 'tg-baqh']">
                              <campoporcentagem :valor="mes.porcentagemExecucao" :mes="index2" @salvar:valor="val => salvarPorcentagem(index, index2, val)" v-if="mes.custo !== ''"></campoporcentagem>
                              <div>
                                {{mes.custo|tirarDecimais|virgula|milhar}}
                              </div>
                            </td>
                          </tr>
                        <tr>
                          <td class="tg-xcd2" colspan="3">Valor planejado</td>
                          <td v-for="valor in valorPlanejado" class="campo tg-jlno">R$ {{valor|tirarDecimais|virgula|milhar}}</td>
                        </tr>
                      </table>
                    </div>
                    </div>
                  </div>
                </div>

              </div><!-- / Cronograma -->

            </div><!-- ./row -->
            <div class="row" id="planejamento">
              <div class="col-sm-12 text-center">
                <p class="anime fadeInUp" data-wow-offset="80" data-wow-delay="1.2s" style="visibility: visible; margin-top: 20px; animation-delay: 1.2s; animation-name: fadeInUp;">
                  Muito bem, agora que já sabemos os principais parâmetros de sua obra vamos ver como ela pode ser executada dentro do custo e do prazo planejados.<br>
                </p>
                <button type="button" class="btn-padrao anime fadeInUp" data-toggle="modal" data-target=".bs-example-modal-lg" data-wow-offset="80" data-wow-delay="1.8s" style="visibility: visible; animation-delay: 1.8s; animation-name: fadeInUp;" @click="verCronograma()">VEJA O SEU CRONOGRAMA</button>
                <a class="btn-padrao anime fadeInUp" data-wow-offset="80" data-wow-delay="2.11s" style="visibility: visible; animation-delay: 2.11s; animation-name: fadeInUp;" @click="recalcular()">RECALCULAR!</a>
                <br/>
                <br/>
                <div class="cronograma-meses-recalcula anime fadeInUp" data-wow-offset="80" data-wow-delay="2.11s" style="visibility: hidden;">
                  <form class="form-inline" @submit.prevent="modificarPrazo()">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">OUTRO PRAZO -> </div>
                        <input type="text" class="form-control" v-model.number="meses" placeholder="Meses">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-padrao btn-colado btn-primary">MODIFICAR PRAZO</button>
                  </form>
                </div>
              </div><!-- /.row -->
            </div><!-- /.row -->


          </div><!-- /.coitainer-fluid -->
        </div><!-- /.conteudo -->
        <div class="gero-loading" v-if="carregando === true">
          CARREGANDO
        </div>
      </section>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import lateral from '../chatbot/lateral'
import campoporcentagem from './campoporcentagem'
import { abrirCronograma, clicarRecalcular, salvarObra } from '../../../utils/logs'
export default {
  name: 'resultado',
  components: {
    lateral,
    campoporcentagem
  },
  data: () => ({
    meses: '',
    cronogramaRefatoradoCopia: [],
    dadosAlterados: []
  }),
  computed: {
    ...mapGetters([
      'custo',
      'prazo',
      'efetivo',
      'cronogramaRefatorado',
      'valorPlanejado',
      'carregando'
    ])
  },
  methods: {
    ...mapActions([
      'calcularResultado',
      'modificarCronogramaPorPrazo'
    ]),
    verCronograma () {
      abrirCronograma()
    },
    recalcular () {
      this.$store.commit('MUDAR_CARREGANDO', {carregando: true})
      this.calcularResultado()
      .then(() => {
        salvarObra({
          local: this.$store.getters.local,
          area: this.$store.getters.area,
          pavimentos: this.$store.getters.pavimentos,
          acabamento: this.$store.getters.acabamento,
          revestimento: this.$store.getters.revestimento,
          usuario: {
            id: this.$store.getters.usuario.id,
            nome: this.$store.getters.usuario.nome
          }
        })
        clicarRecalcular()
        this.$store.commit('MUDAR_CARREGANDO', {carregando: false})
      })
    },
    modificarPrazo () {
      this.$store.commit('MUDAR_CARREGANDO', {carregando: true})
      this.modificarCronogramaPorPrazo({ novoPrazo: this.meses })
      .then(() => {
        clicarRecalcular()
        this.$store.commit('MUDAR_CARREGANDO', {carregando: false})
        this.meses = ''
      })
    },
    classCampoPorcentagem (val) {
      return val !== ''
    },
    classCampoCusto (val) {
      return val !== ''
    },
    salvarPorcentagem (tarefa, mes, valor) {
      this.dadosAlterados.push({'tarefa': tarefa, 'mes': mes, 'dado': 0, 'valor': valor})
    },
    salvarCusto (tarefa, mes, valor) {
      this.dadosAlterados.push({'tarefa': tarefa, 'mes': mes, 'dado': 1, 'valor': valor})
    },
    cancelarEnvio () {
      this.dadosAlterados = []
    },
    enviarDados () {
      this.$store.commit('MUDAR_CARREGANDO', {carregando: true})
      this.modificarCronogramaPorDados({ dadosEnvio: this.dadosAlterados })
      .then(() => {
        this.$store.commit('MUDAR_CARREGANDO', {carregando: false})
        this.dadosAlterados = []
      })
    }
  },
  filters: {
    tirarDecimais (val, simb = '') {
      if (val !== '') {
        if (simb === '') {
          return val.toFixed(2)
        } else {
          return val.toFixed(0) + '' + simb
        }
      } else {
        return ''
      }
    },
    milhar (valor) {
      let k = '' + valor
      let n = '' + valor
      n = n.slice(0, k.length - 3)
      const t = n.length
      if (t <= 3) {
        return valor
      } else {
        for (let i = 1; i * 3 < t; i++) {
          n = n.slice(0, t - i * 3) + '.' + n.slice(t - i * 3, t)
        }
        return n + (k).slice(k.length - 3, k.length)
      }
    },
    virgula (valor) {
      let n = '' + valor
      return n.replace('.', ',')
    }
  }
}
</script>
<style>
.gero-loading {
  display: block;
  opacity: 1;
}
.campo {
  width: 200px;
  height: 20px;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-re5x{background-color:#f2dede;color:#fe0000;text-align:center;vertical-align:top}
.tg .tg-jlno{background-color:#8eaac6;color:#ffffff;vertical-align:top}
.tg .tg-s6z2{text-align:center}
.tg .tg-ltfb{background-color:#f2dede;color:#fe0000;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-0eoh{font-weight:bold;background-color:#8eaac6;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-yjsh{color:#fe0000;text-align:center}
.tg .tg-rq3u{font-weight:bold;background-color:#8eaac6;color:#ffffff;text-align:center}
.tg .tg-vcy5{background-color:#f2dede;color:#036400;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-xcd2{background-color:#4c6d94;color:#ffffff;text-align:center;vertical-align:top}
</style>
