<template>
  <!-- Menu-1 -->
  <nav style="height: 30px; border-radius: 0px; border-color: #fff; background-color: #fff;" class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a  href="http://www.geroobras.com.br/" class="navbar-brand">
          <!--<img src="http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/img/gero_logotipo.png" title="Gero Obras">-->
          GERO
        </a>
      </div>

      <div id="navbar" class="collapse navbar-collapse"></div>
    </div>
  </nav>
</template>
<script>
export default{
  name: 'menuinterno'
}
</script>
<style>
</style>
