<template>
  <!-- Footer-1 -->
  <footer id="footer-1" class="footer footer-gero">

    <section class="footer-copyright">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <strong>Eunos</strong> - Inteligência de obra. Todos os direitos reservados.<br>
            Propriedade Intelectual protegida nos termos da Lei nº 9.610, de 19 de fevereiro de 1998. Eunos e Gero Obras são marcas registradas da Eunos.
          </div>
          <!--/.col-sm-6 -->
          <div class="col-sm-4">

            <!-- yeti lab -->
            <div id="yeti">
              <span class="texto">Desenvolvido por <span class="blue">yeti</span> <span class="black">lab</span></span>
              <a href="http://www.yetilab.net" target="_blank" title="Desenvolvido por yeti lab"><img src="http://www.geroobras.com.br/wp-content/themes/yeti-bootstrap/assets/img/yetilab.png" width="22" height="22" alt="Desenvolvido por yeti lab" /></a>
            </div>
            <!-- /.yeti lab -->

          </div>
        </div>
      </div>
    </section>
  </footer>
</template>
<script>
export default {
  name: 'RodapeInterno'
}
</script>
<style scoped>
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
}
</style>
