<template>
  <!-- Footer-1 -->
  <footer style="height: 20px;" id="footer-1">
    <section class="footer-copyright">
        <div class="row">
          <div class="col-md-12">
            <strong>Eunos</strong> - Inteligência de obra. Todos os direitos reservados.
            <br>
            Propriedade Intelectual protegida nos termos da Lei nº 9.610, de 19 de fevereiro de 1998.Eunos e Gero Obras são marcas registradas da Eunos.
            Inteligência de obra. Todos os direitos reservados. Eunos e Gero
            Obras são marcas registradas da Eunos.
          </div>
        </div>
    </section>
  </footer>
</template>
<script>
export default{
  name: 'Rodape'
}
</script>
<style>
</style>
